﻿@model Pedagogy.Models.Resource.ResourceFilterCheckboxViewModel[]

<ul class="main-category">
    @for (int i = 0; i < Model.Length; i++)
    {
        @Html.HiddenFor(c => Model[i].Value)
        @Html.HiddenFor(c => Model[i].DisplayName)
        <li class="js-postback">
            @Html.CheckBoxFor(c => Model[i].IsChecked)
            @Html.LabelFor(c => Model[i].IsChecked, Model[i].DisplayName)
        </li>
    }
</ul>