﻿@model BaseViewModel<Pedagogy.Models.Author.AuthorViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}


@Html.Kentico().EditableArea("author", "Pedagogy.DefaultSection", WidgetHelper.SingleAuthorPageWidgets())
<section class="blog_area single-post-area section-padding-half">
    <div class="container">
        <div class="row">
            <div class="col-md-12 posts-list">
                <div class="d-sm-flex justify-content-between text-center">
                    <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                    </div>
                    <div class="social-share">
                        <ul class="social-icons">
                            @foreach (var link in Model.ViewModel.SocialLinks)
                            {
                                <li>
                                    <a href="@link.SocialUrl" target="_blank">
                                        <i class="@link.SocialIcon"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="single-author">
                    <h2 class="mb-3 text-center text-md-start">
                        @Model.ViewModel.AuthorData.AuthorName, @Model.ViewModel.AuthorData.AuthorSpecialties
                    </h2>
                    <div class="row">
                        <div class="col-lg-4 feature-img text-center text-md-start">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-12">
                                    <img class="img-fluid" src="@Model.ViewModel.AuthorData.AuthorImg" alt="@Model.ViewModel.AuthorData.AuthorImgAltText">
                                </div>
                                <div class="col-12 col-md-6 col-lg-12">
                                    @if (Model.ViewModel.AuthorData.AuthorWebsiteLink1 != "" || Model.ViewModel.AuthorData.AuthorWebsiteLink2 != "" || Model.ViewModel.AuthorData.AuthorWebsiteLink3 != "")
                                    {
                                        <h5 class="mt-3">Website(s)</h5>
                                        <a href="@Model.ViewModel.AuthorData.AuthorWebsiteLink1" target="_blank">@Model.ViewModel.AuthorData.AuthorWebsiteLink1</a>
                                        <a href="@Model.ViewModel.AuthorData.AuthorWebsiteLink2" target="_blank">@Model.ViewModel.AuthorData.AuthorWebsiteLink2</a>
                                        <a href="@Model.ViewModel.AuthorData.AuthorWebsiteLink3" target="_blank">@Model.ViewModel.AuthorData.AuthorWebsiteLink3</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 mt-sm-20 blog_details pl-3">
                            <p>@Html.Raw(Model.ViewModel.AuthorData.AuthorBio)</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6 px-md-2 author-expertise">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">Areas of Expertise</h3>
                                    <div class="card-text">
                                        <p>@Html.Raw(Model.ViewModel.AuthorData.AuthorAreaOfExpertise)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">Professional Associations</h3>
                                    <div class="card-text">
                                        <p>@Html.Raw(Model.ViewModel.AuthorData.AuthorAssociation)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.ViewModel.AuthoredCourses != null && Model.ViewModel.AuthoredCourses.Count() > 0)
                {
                    <div class="expert_area my-0 my-md-5 py-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="expert_title mb-55">
                                        <h3>Authored Courses</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="expert_active owl-carousel card-slider">
                                        @foreach (var course in Model.ViewModel.AuthoredCourses)
                                        {
                                            <div class="single_expert">
                                                <div class="expert_thumb">
                                                    <a href="@course.Url">
                                                        <img src="@course.CourseImg" alt="@course.CourseImgAltText">
                                                    </a>
                                                </div>
                                                <div class="experts_name text-center px-2">
                                                    <a href="@course.Url">
                                                        <h3>@course.CourseShortName</h3>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                }
                <div class="navigation-top">
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                @if (Model.ViewModel.AuthorData.PrevAuthor != null)
                                {
                                    <div class="thumb">
                                        <a href="@Model.ViewModel.AuthorData.PrevAuthor.Url">
                                            <img class="img-fluid" src="@Model.ViewModel.AuthorData.PrevAuthor.AuthorImg" alt="@Model.ViewModel.AuthorData.PrevAuthor.AuthorImgAltText">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Model.ViewModel.AuthorData.PrevAuthor.Url">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <p>Prev Author</p>
                                        <a href="@Model.ViewModel.AuthorData.PrevAuthor.Url">
                                            <h4>@Model.ViewModel.AuthorData.PrevAuthor.AuthorName</h4>
                                        </a>
                                    </div>

                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                @if (Model.ViewModel.AuthorData.NextAuthor != null)
                                {
                                    <div class="details">
                                        <p>Next Author</p>
                                        <a href="@Model.ViewModel.AuthorData.NextAuthor.Url">
                                            <h4>@Model.ViewModel.AuthorData.NextAuthor.AuthorName</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Model.ViewModel.AuthorData.NextAuthor.Url">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="@Model.ViewModel.AuthorData.NextAuthor.Url">
                                            <img class="img-fluid" src="@Model.ViewModel.AuthorData.NextAuthor.AuthorImg" alt="@Model.ViewModel.AuthorData.NextAuthor.AuthorImgAltText">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
