﻿@model BaseViewModel<Pedagogy.Models.Map.MapViewModel>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="back-btn mb-3">
            <a href="@ContentIdentifiers.RESOURCE_PAGE"><i class="fa fa-arrow-circle-left"></i> Back to Resource Library</a>
        </div>
        <h1>@Model.ViewModel.MapData.MapTitle</h1>
        <p>@Html.Raw(Model.ViewModel.MapData.MapText)</p>
        @if (Model.ViewModel.MapData.MapTitle == "State Boards of Nursing")
        {
            <script src="~/Scripts/StateBoardMaps/nursing-board-settings.js"></script>
        }
        else
        {
            <script src="~/Scripts/StateBoardMaps/social-workers-board-settings.js"></script>
        }
        <script src="~/Scripts/StateBoardMaps/map.js"></script>
        <script src="~/Scripts/StateBoardMaps/raphael-min.js"></script>

        @foreach (var resource in Model.ViewModel.MapResources)
        {
            int count = 0;
            string[] stateName = resource.ResourceName.Split(' ');

            if (count <= 17)
            {
                <ul class="col-lg-3 col-sm-2">
                    <li>
                        <a href="@resource.Url">@stateName[0]</a>
                    </li>
                </ul>
                count++;
            }
            else if (count > 17 && count <= 34)
            {
                <ul class="col-lg-3 col-sm-2">
                    <li>
                        <a href="@resource.Url">@stateName[0]</a>
                    </li>
                </ul>
                count++;
            }
            else
            {
                <ul class="col-lg-3 col-sm-2">
                    <li>
                        <a href="@resource.Url">@stateName[0]</a>
                    </li>
                </ul>
                count++;
            }
        }
    </div>
</div>