﻿.password-input-container {
    position: relative;

    .pass-visibility-icon {
        position: absolute;
        cursor: pointer;
        top:0.75rem;
        right:0.5rem;

        &:hover {
            color: $ped-blue;
        }
    }

    .hide-pass {
        display: none;
    }
}
