﻿.search-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(128,128,128);
    background-color: rgba(128, 128, 128, 0.9);

    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
        cursor: pointer;
        color: white;

        &:hover {
            color: #ccc;
        }
    }
}

.overlay-content {
    position: fixed;
    top: 46%;
    left: 10%;
    width: 80%;
    z-index: 10;
    display: none;

    button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;

        &:hover {
            background: $gray-color;
        }
    }

    input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        float: left;
        width: 80%;
        background: white;

        &:hover {
            background: $ped-lighter-gray;
        }
    }
}

.search-area {
    float: left;

    @media #{$mobile_device} {
        margin-top: 2rem;
        float:none;
    }

    .openBtn {
        background: transparent;
        border: none;
        padding: 0 10px;
        font-size: 20px;
        cursor: pointer;

        @media #{$mobile_device} {
            display: none;
        }
    }

    .main-search-mobile {
        display: none !important;

        @media #{$mobile_device} {
            display: flex !important;
            margin: 0 auto;
        }
    }
}

.search-area-mobile {
    display: none;

    @media #{$mobile_device} {
        display: block;
        margin-top: 2rem;

        .openBtn {
            background: transparent;
            border: none;
            padding: 0 10px;
            font-size: 20px;
            cursor: pointer;

            @media #{$mobile_device} {
                display: none;
            }
        }

        .main-search-mobile {
            display: none !important;

            @media #{$mobile_device} {
                display: flex !important;
                margin: 0 auto;
            }
        }
    }
}

.search-icon {
    border: 1px solid #ced4da;
    right: 0;
    height: 100%;
    display: flex;
    background-color: #ced4da;

    button {
        border: none;
        background-color: transparent;
    }
}

.search-text {
    padding-right: 2rem;
}

#main-search-list-pagination {
    display: flex;

    .page-item.active .page-link {
        background-color: $ped-maroon;
        border-color: $ped-maroon;

        &:hover{
            color:$gray-color;
        }
    }
}

.search-top-area {
    @media #{$mobile_device} {
        flex-flow: column;
        flex-direction: column-reverse;
    }
}

.search{
    @media #{$mobile_device}{
        width:100% !important;
    }
}