﻿.info-section-widget{
    .business_thumb{
        @media(max-width: 768px){
            width:50%;
        }

        @media(max-width:475px){
            width:75%;
        }

        img{
            max-width:30rem;
        }
    }
}