﻿@media (max-width: 768px) {
  .info-section-widget .business_thumb {
    width: 50%;
  }
}
@media (max-width: 475px) {
  .info-section-widget .business_thumb {
    width: 75%;
  }
}
.info-section-widget .business_thumb img {
  max-width: 30rem;
}
