﻿/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.pay-invoice-widget .card-header {
  background-color: #6a1212;
  display: flex;
}
@media (max-width: 767px) {
  .pay-invoice-widget .card-header {
    display: block;
    padding: 0;
  }
}
.pay-invoice-widget .card-header h4 {
  color: #fff;
}
.pay-invoice-widget .card-body {
  background: #c3a0a0;
}
.pay-invoice-widget #payment-confirmation {
  display: none;
}
