﻿@import '../../css/_style-variables.scss';

.pay-invoice-widget {
    .card-header {
        background-color: $ped-maroon;
        display: flex;

        @media #{$mobile_device} {
            display: block;
            padding: 0;
        }

        h4 {
            color: $white-color;
        }
    }

    .card-body {
        background: $ped-light-maroon;
    }

    #payment-confirmation {
        display: none;
    }
}