﻿@using System.Web.Optimization

@model Pedagogy.Models.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(!string.IsNullOrEmpty(Model.BaseNodeData?.MetaTitle) ? Model.BaseNodeData.MetaTitle : "") - Pedagogy Education</title>
    <meta name="description" content="@(!string.IsNullOrEmpty(Model.BaseNodeData?.MetaDescription) ? Model.BaseNodeData.MetaDescription : "")" />
    <meta name="keywords" content="@(!string.IsNullOrEmpty(Model.BaseNodeData?.MetaKeywords) ? Model.BaseNodeData.MetaKeywords : "")" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">

    @*@if (Model.BaseNodeData.ExcludeFromSearch)
        {
            <meta name="robots" content="noindex">
        }*@

    @Styles.Render("~/bundles/vendor/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap" />
    @Styles.Render("~/bundles/css")

    @RenderSection("styles", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204915550-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());

        gtag('config', 'UA-204915550-1');
    </script>
</head>
<body class="@(User.Identity.IsAuthenticated ? "portal" : "")">
    <div>
        <div id="searchModal" class="search-overlay">
            <span class="closebtn" id="closeBtn" title="Close Overlay"><i class="fa fa-close"></i></span>
        </div>
        <div class="overlay-content" id="overlay-content">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get))
            {
                <input type="text" placeholder="Search.." name="searchText">
                <button type="submit"><i class="fa fa-search"></i></button>
            }
        </div>
    </div>

    @{ Html.RenderAction("Header", "MasterPage"); }

    <div class="modal confirmation-modal" id="saveChangesModal">
        <div class="modal-content">
            <span class="close align-self-end" id="closeSaveChangesModal">&times;</span>
            <div class="mt-2 mb-4 text-center">@ResHelper.GetString("Dashboard.ChangesSavedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
        </div>
    </div>

    @RenderBody()

    @if (Model.BaseNodeData != null)
    {
        if (Model.BaseNodeData.InfoBarIsVisible)
        {
            @Html.Partial("Partials/_InfoBar", Model.InfoBoxItem)
        }
    }

    @{ Html.RenderAction("Footer", "MasterPage"); }

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/vendor/js")
    <script src="~/Scripts/Vendor/Bootstrap/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>