﻿@model BaseViewModel<Pedagogy.Models.HowTo.HowToViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}

<div class="dashboard-area my-5">
    <div class="dashboard-title">
    </div>
    <div class="container">
        <div class="row">
            <div class="left-panel col-3">
                @Html.Kentico().EditableArea("howTo")
            </div>
            <div class="course-boards col-9">
                <div class="row">
                    <div class="mb-3">
                        <h3>@Model.ViewModel.HowToData.HowToTitle</h3>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ViewModel.HowToData.HowToFileURL))
                    {
                        <div>
                            <video controls src="@Model.ViewModel.HowToData.HowToFileURL" width="600" height="400"></video>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ViewModel.HowToData.HowToText))
                    {
                        <div>
                            <p>@Html.Raw(Model.ViewModel.HowToData.HowToText)</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>