﻿@model IEnumerable<Pedagogy.DataAccess.Dto.InfoBox.InfoBoxItemDto>

<div class="contact_bar">
    <div class="conatiner-fluid p-0">
        <div class="row no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-xl-6">
                    <div class="single_contact d-flex align-items-center justify-content-center overlay_skyblue" style="@(!string.IsNullOrEmpty(item.BackgroundImg) ? $"background-image:url({item.BackgroundImg})" : "")">
                        <div class="info">
                            <h3>@item.Title</h3>
                            <p>@item.Text</p>
                        </div>
                        <div class="info_button mt-4">
                            <a href="@item.BtnUrl" class="btn btn-outline-light pill">@item.BtnText</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>