﻿<p><strong>@ResHelper.GetString("Registration.PasswordRequirements.ListHeading", LocalizationContext.CurrentCulture.CultureCode)</strong></p>
<ul>
    <li class="uppercase">@ResHelper.GetString("Registration.PasswordRequirements.UpperCaseLetter", LocalizationContext.CurrentCulture.CultureCode)</li>
    <li class="lowercase">@ResHelper.GetString("Registration.PasswordRequirements.LowerCaseLetter", LocalizationContext.CurrentCulture.CultureCode)</li>
    <li class="numeric">@ResHelper.GetString("Registration.PasswordRequirements.Numeric", LocalizationContext.CurrentCulture.CultureCode)</li>
    <li class="characters">@ResHelper.GetString("Registration.PasswordRequirements.CharacterCount", LocalizationContext.CurrentCulture.CultureCode)</li>
</ul>
