﻿@model IEnumerable<Pedagogy.Models.ClassMembers.ContactViewModel>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Verified</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="student-list">
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        <a class="fa fa-pencil" href="@ContentIdentifiers.UPDATE_STAFF_INFO?studentID=@item.ContactID&facilityID=@item.FacilityID"></a>
                        <a class="fa fa-trash delete-btn" id="delete-btn-@item.ContactID" style="cursor:pointer;" onclick="displayConfirmationModal(@item.ContactID)"></a>
                        <div id="confirmation-modal-@item.ContactID" class="modal confirmation-modal">
                            <div class="modal-content">
                                <span class="close align-self-end" id="close-@item.ContactID" onclick="closeConfirmationModal(@item.ContactID)">&times;</span>
                                <p class="mb-4 mt-2">Are you sure you want to delete @($"{item.FirstName} {item.LastName}")? This student will still be able to see their courses but will no longer have access to anything that involves this facility, @(item.FacilityName).</p>
                                <div class="d-flex justify-content-end">
                                    <a class="" href="@Url.Action("RemoveStudent", "ManageStaffWidget", new { returnUrl = item.ReturnUrl, studentID = item.ContactID, facilityID = item.FacilityID })">Yes</a>
                                    <a id="cancel-btn-@item.ContactID" style="cursor:pointer;" onclick="closeConfirmationModal(@item.ContactID)" class="ms-3">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@(item.IsVerified ? Html.Raw("<i class='fa fa-check-square'></i>") : Html.Raw("<a id='resend-email-btn-" + item.ContactID + "' style='cursor:pointer;' onclick='sendEmailConfirmation(" + item.ContactID + ")' data-url='" + Url.Action("ResendConfirmationEmail", "ManageStaffWidget", new { studentUserID = item.ContactUserID.HasValue ? item.ContactUserID.Value : 0 }) + "'>Resend <br /> confirmation email</a>"))</td>
                    <td>
                        <a href="@ContentIdentifiers.MANAGE_STUDENT_CLASSES?studentID=@item.ContactID&facilityID=@Request.QueryString["facilityID"]">Manage Classes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-3" id="no-students-text"><p style="font-size:16px;"><strong>@ResHelper.GetString("Dashboard.ManageStaffWidget.NoStudentsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</strong></p></div>
}