﻿.student-courses .completed-course-data, .student-courses .memebership-data {
  display: none;
}
.student-courses #noCompletedCoursesTxt, .student-courses #noMembershipsTxt {
  font-size: 16px;
  display: none;
}
.student-courses .attempt.hidden {
  display: none;
}
.student-courses .attempt.show {
  display: block;
}
.student-courses .view-less-attempts {
  display: none;
}
.student-courses .test-attempts {
  margin-left: 0;
}
