﻿.student-courses {
    .completed-course-data, .memebership-data {
        display: none;
    }

    #noCompletedCoursesTxt, #noMembershipsTxt{
        font-size:16px;
        display:none;
    }

    .attempt.hidden{
        display:none;
    }

    .attempt.show{
        display:block;
    }

    .view-less-attempts{
        display:none;
    }

    .test-attempts{
        margin-left:0;
    }
}
