﻿.event-log-widget .no-events-text P {
  font-size: 16px;
}
.event-log-widget #events {
  display: none;
}
@media (max-width: 768px) {
  .event-log-widget #events {
    margin-bottom: 1rem !important;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
}
