﻿@model Pedagogy.Models.Widgets.UpdateStaffInfoWidget.UpdateStaffInfoWidgetViewModel

@using CMS.Helpers;
@using CMS.Globalization;

@{
    Html.EnableClientValidation(true);
}

<div class="card">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary mr-3" href="@(ContentIdentifiers.MANAGE_STAFF_PAGE + $"?facilityID={Model.FacilityData.FacilityID}")">Back</a>
        </div>
    </div>
    <div class="card-body">
        <div id="save-changes-modal" class="modal confirmation-modal">
            <div class="modal-content" id="user-modal-content">
                <span class="close align-self-end" id="close-save-changes-modal">&times;</span>
                <div class="mt-3 mb-4">@ResHelper.GetString("Dashboard.ChangesSavedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
            </div>
        </div>
        <div id="edit-student-form">
            <div class="row mb-4">
                <span id="student-err-msg" class="text-danger"></span>
            </div>
            <div class="row">
                <h3 class="mb-3">User Information</h3>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    @using (Ajax.BeginForm("SaveUsersName", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displaySaveChangesConfirmationModal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("userID", Model.ContactModel.ContactUserID)
                        <div class="row">
                            @Html.ValidationMessageFor(m => m.ContactModel.FirstName, "", new { Class = "text-danger" }) <br />
                            <label>First Name*</label>
                            @Html.TextBoxFor(m => m.ContactModel.FirstName, new { Class = "form-control", Id = "first-name" })
                        </div>
                        <div class="row mt-3">
                            @Html.ValidationMessageFor(m => m.ContactModel.LastName, "", new { Class = "text-danger" }) <br />
                            <label>Last Name*</label>
                            @Html.TextBoxFor(m => m.ContactModel.LastName, new { Class = "form-control", Id = "last-name" })
                        </div>
                        <div class="mt-3 d-flex">
                            <div>
                                <label>@Html.CheckBoxFor(m => m.ContactModel.Enabled, new { Id = "enabled" }) Enabled</label>
                            </div>
                            <div class="ml-auto">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <label style="font-size:16px;font-weight:400;">UserID</label>
                            <div id="user-id">@Model.ContactModel.ContactUserID</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <label style="font-size:16px;font-weight:400;">Member Since</label>
                            <div id="member-since">@Model.ContactModel.MemberSince</div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <label style="font-size:16px;font-weight:400;">User Name</label>
                            <div id="user-name">@Model.ContactModel.UserName</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <button type="button" class="btn btn-primary" id="change-user-pass">Change User Password</button>
                            <div id="change-password-modal" class="modal confirmation-modal">
                                <div class="modal-content" id="user-modal-content">
                                    <span class="close align-self-end" id="close-modal">&times;</span>
                                    <div id="err-msg" class="text-danger"></div>
                                    <div>
                                        @using (Ajax.BeginForm("ChangeStudentPassword", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displayUpdatedPasswordModal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("userID", Model.ContactModel.ContactUserID)
                                            <div class="m-2">
                                                <label>@Html.CheckBox("defaultPassword", new { Id = "default-password" }) Use default password?</label>
                                            </div>
                                            <div id="password-info">
                                                <div class="m-2">
                                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { Class = "text-danger" }) <br />
                                                    @Html.LabelFor(m => m.NewPassword, new { Class = "control-label" }) <br />
                                                    <div>
                                                        @Html.PasswordFor(m => m.NewPassword, new { Id = "password", Class = "form-control" })
                                                        <i class="fa fa-lg fa-eye pass-visibility-icon" id="show-pass"></i>
                                                        <i class="fa fa-lg fa-eye-slash pass-visibility-icon" id="hide-pass" style="display:none;"></i>
                                                    </div>
                                                </div>
                                                <div class="m-2">
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { Class = "text-danger" }) <br />
                                                    @Html.LabelFor(model => model.ConfirmPassword, new { Class = "control-label" }) <br />
                                                    <div>
                                                        @Html.PasswordFor(model => model.ConfirmPassword, new { Id = "confirmation-password", Class = "form-control" })
                                                        <i class="fa fa-lg fa-eye pass-visibility-icon" id="show-confirm-pass"></i>
                                                        <i class="fa fa-lg fa-eye-slash pass-visibility-icon" id="hide-confirm-pass" style="display:none;"></i>
                                                    </div>
                                                </div>
                                                <div class="m-2">
                                                    <p><strong>@ResHelper.GetString("Registration.PasswordRequirements.ListHeading", LocalizationContext.CurrentCulture.CultureCode)</strong></p>
                                                    <ul>
                                                        <li id="uppercase">@ResHelper.GetString("Registration.PasswordRequirements.UpperCaseLetter", LocalizationContext.CurrentCulture.CultureCode)</li>
                                                        <li id="lowercase">@ResHelper.GetString("Registration.PasswordRequirements.LowerCaseLetter", LocalizationContext.CurrentCulture.CultureCode)</li>
                                                        <li id="numeric">@ResHelper.GetString("Registration.PasswordRequirements.Numeric", LocalizationContext.CurrentCulture.CultureCode)</li>
                                                        <li id="characters">@ResHelper.GetString("Registration.PasswordRequirements.CharacterCount", LocalizationContext.CurrentCulture.CultureCode)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mt-4 d-flex justify-content-end">
                                                <input value="Save" class="btn btn-primary" type="submit" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="success-modal" class="modal confirmation-modal">
                                <div class="modal-content" id="user-modal-content">
                                    <span class="close align-self-end" id="close-success-modal">&times;</span>
                                    <div class="mt-3 mb-4">@ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.PasswordUpdatedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <button type="button" id="impersonate-btn" class="btn btn-primary" data-userID="@Model.ContactModel.ContactUserID">Log In As This Student</button>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <ul class="directions">
                            @Html.Raw(ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.UpdateUserDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                @using (Ajax.BeginForm("UpdateStudentInformation", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displaySaveChangesConfirmationModal" }))
                {
                    <h3 class="mb-3">Student Information</h3>
                    @Html.HiddenFor(m => m.ContactModel.ContactID, new { Id = "student-id" })
                    @Html.HiddenFor(m => m.ContactModel.FacilityID, new { Class = "facility-id" })
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row mb-3">
                                <label>Certificate Name</label>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @Html.ValidationMessageFor(m => m.ContactModel.CertFirstName, "", new { Class = "text-danger" }) <br />
                                    @Html.LabelFor(m => m.ContactModel.CertFirstName, new { Class = "control-label" })
                                    @Html.TextBoxFor(m => m.ContactModel.CertFirstName, new { Class = "form-control", Id = "cert-first-name" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @Html.ValidationMessageFor(m => m.ContactModel.CertLastName, "", new { Class = "text-danger" }) <br />
                                    @Html.LabelFor(m => m.ContactModel.CertLastName, new { Class = "control-label" })
                                    @Html.TextBoxFor(m => m.ContactModel.CertLastName, new { Class = "form-control", Id = "cert-last-name" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @Html.ValidationMessageFor(m => m.ContactModel.Email, "", new { Class = "text-danger" }) <br />
                                    @Html.LabelFor(m => m.ContactModel.Email, new { Class = "control-label" })
                                    @Html.TextBoxFor(m => m.ContactModel.Email, new { Class = "form-control", Id = "email" })
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    @Html.ValidationMessageFor(m => m.FacilityID, "", new { Class = "text-danger" }) <br />
                                    @Html.LabelFor(m => m.FacilityID, new { Class = "control-label" })
                                    @Html.DropDownListFor(m => m.FacilityID, Model.Facilities, "Select a Facility", new { Class = "form-control facility-id" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <ul class="directions mt-5">@Html.Raw(ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.UpdateStudentDirections", LocalizationContext.CurrentCulture.CultureCode))</ul>
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <input type="submit" value="Save" class="btn btn-primary mr-5" />
                    </div>
                }
                <div class="row mt-4">
                    <label class="mb-3">@Html.CheckBoxFor(m => m.LicensingData.NotApplicable, new { Id = "not-applicable-checkbox" }) @ResHelper.GetString("Dashboard.LicensingInfoWidget.NAStateLicense", LocalizationContext.CurrentCulture.CultureCode)</label>
                    @using (Html.BeginForm("AddNewLicense", "UpdateStaffInfoWidget", FormMethod.Post, new { Id = "new-license-form", Style = Model.LicensingData.NotApplicable ? "display:none;" : "" }))
                    {
                        @Html.HiddenFor(m => m.LicensingData.StudentID, new { Id = "hidden-student-id" })
                        @Html.HiddenFor(m => m.ReturnUrl, new { Id = "hidden-return-url" })
                        @Html.HiddenFor(m => m.LicensingData.StudentLicenseID, new { Id = "hidden-student-license-id" })
                        <div class="d-flex justify-content-start">
                            <div class="mr-3">
                                @Html.LabelFor(m => m.LicensingData.LicenseTypeID)
                                @Html.DropDownListFor(m => m.LicensingData.LicenseTypeID, Model.LicensingData.LicenseTypes, "", new { Class = "form-control", Id = "student-license-type" })
                                @Html.ValidationMessageFor(m => m.LicensingData.LicenseTypeID, "", new { Class = "text-danger", Id = "student-license-type-validation" })
                            </div>
                            <div class="mr-3" id="sl-num">
                                @Html.LabelFor(m => m.LicensingData.LicenseNum)
                                @Html.TextBoxFor(m => m.LicensingData.LicenseNum, new { Class = "form-control", Id = "student-license-number" })
                                @Html.ValidationMessageFor(m => m.LicensingData.LicenseNum, "", new { Class = "text-danger", Id = "student-license-number-validation" })
                            </div>
                            <div id="sl-state">
                                @Html.LabelFor(m => m.LicensingData.StateID)
                                @Html.DropDownListFor(m => m.LicensingData.StateID, Model.LicensingData.States, "", new { Class = "form-control", Id = "student-license-state" })
                                @Html.ValidationMessageFor(m => m.LicensingData.StateID, "", new { Class = "text-danger", Id = "student-license-state-validation" })
                            </div>
                        </div>
                        <div class="add-license-btn d-flex justify-content-start mt-3">
                            <input type="submit" class="btn btn-secondary mr-2" id="add-student-license" value="Add License" />
                            <input type="submit" class="btn btn-secondary mr-2" id="update-student-license" style="display:none;" value="Update License" />
                            <input type="button" class="btn btn-secondary" id="cancel-update-license" style="display:none;" onclick="cancelUpdateLicense()" value="Cancel" />
                        </div>
                    }
                    <div class="license-list">
                        @if (Model.LicensingData.CurrentLicenses.Count() > 0 && !Model.LicensingData.NotApplicable)
                        {
                            <table class="table" style="overflow-x:auto;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>License Type</th>
                                        <th>License Number</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody id="licenses">
                                    @foreach (var i in Model.LicensingData.CurrentLicenses)
                                    {
                                        <tr id="display-row">
                                            <td>
                                                <a id="update-student-license-@i.StudentLicenseID" class="fa fa-pencil" onclick="updateStudentLicense(@i.StudentLicenseID)" data-studentID="@i.StudentID" data-return-url="@Model.ReturnUrl"
                                                   data-license-type="@i.LicenseTypeID" data-license-num="@i.LicenseNumber" data-license-state="@(!string.IsNullOrEmpty(i.State) ? StateInfoProvider.GetStateInfoByCode(i.State).StateID : 0)" style="cursor:pointer;"
                                                   data-student-license-id="@i.StudentLicenseID"></a>
                                                <a href="@Url.Action("DeleteLicense", "UpdateStaffInfoWidget", new { returnUrl = Model.ReturnUrl, licenseID = i.StudentLicenseID, studentID = i.StudentID })"><i class="fa fa-trash"></i></a>
                                            </td>
                                            <td>@ClassMembersHelper.GetLicenseTypeName(i.LicenseTypeID)</td>
                                            <td>@i.LicenseNumber</td>
                                            <td>@i.State</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none student-form">
    <div id="student" class="row">
        <button type="button" style="border:unset;background-color:transparent;top:55px;left:330px;position:relative;" id="remove-btn">
            <i class="fa fa-minus-circle"></i>
        </button>
        <div class="col-lg-6 col-md-6 col-sm-12">
            @Html.ValidationMessageFor(m => m.ContactModel.FirstName, "", new { Class = "text-danger first-name-validation" }) <br />
            @Html.TextBoxFor(m => m.ContactModel.FirstName, new { Class = "form-control first-name", Placeholder = "First Name", Name = "firstNames[]" })
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            @Html.ValidationMessageFor(m => m.ContactModel.LastName, "", new { Class = "text-danger last-name-validation" }) <br />
            @Html.TextBoxFor(m => m.ContactModel.LastName, new { Class = "form-control last-name", Placeholder = "Last Name", Name = "lastNames[]" })
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/components/_update-staff-info.js" id="update-staff-info-js"
        data-contact-id="@Model.ContactModel.ContactID"></script>
