﻿@model Pedagogy.Models.Widgets.AdminFunctionsWidget.AdminFunctionsWidgetViewModel

@if (Model.IsAdmin || Model.IsSiteAdmin)
{
    <div class="card admin-functions-widget">
        <div class="card-header d-flex">
            <h4 class="me-auto">@Model.CardHeading</h4>
            <div>
                <i class="show-card-body fa fa-plus-square fa-lg"></i>
                <i class="hide-card-body fa fa-minus-square fa-lg"></i>
            </div>
        </div>
        <div class="card-body card-action-box">
            @if (Model.IsSiteAdmin)
            {
                <div id="select-user-confirmation-modal" class="modal confirmation-modal">
                    <div class="modal-content" id="user-modal-content">
                        <span class="close align-self-end" id="close-btn">&times;</span>
                        <div class="mb-4 mt-2" id="userContents">
                            <div class="text-danger text-center mb-4" id="impersonateUserErrMsg"></div>
                            <div id="filter" class="mb-5">
                                <form id="filter-users-form">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="m-2">
                                                <div class="m-2">
                                                    <label>First Name:</label>
                                                    @Html.TextBoxFor(x => x.FilterModel.FirstName, new { Class = "form-control" })
                                                </div>
                                                <div class="m-2">
                                                    <label>Username:</label>
                                                    @Html.TextBoxFor(x => x.FilterModel.UserName, new { Class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="m-2">
                                                <label>Last Name:</label>
                                                @Html.TextBoxFor(x => x.FilterModel.LastName, new { Class = "form-control" })
                                            </div>
                                            <div class="m-2">
                                                <label>Email:</label>
                                                @Html.TextBoxFor(x => x.FilterModel.Email, new { Class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary">Filter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <ul id="usersListGroup" class="mt-5 mb-3"></ul>
                            <div class="d-flex justify-content-center mt-4">
                                <nav aria-label="pagination">
                                    <ul id="user-pagination" class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" id="switch-user" style="@(Model.Impersonating ? "display:none;" : "display:block;")">Switch User</a>
                <a href="" id="cancel-impersonation" style="@(Model.Impersonating ? "display:block;" : "display:none;")">Cancel Impersonation</a>
            }
            @if (!Model.Impersonating)
            {
                if (Model.AdminFunctionPages.Count() > 0)
                {
                    foreach (var item in Model.AdminFunctionPages)
                    {
                        if (!Request.RawUrl.Contains(item.NodeAliasPath))
                        {
                            <a class="d-block" href="@item.NodeAliasPath">@item.DocumentName</a>
                        }
                    }

                    if (Model.IsSiteAdmin && !Request.RawUrl.Contains(ContentIdentifiers.APPROVE_FACILITIES))
                    {
                        <a class="d-block" href="@ContentIdentifiers.APPROVE_FACILITIES">Approve Facilities</a>
                    }

                    if (Model.IsSiteAdmin && !Request.RawUrl.Contains(ContentIdentifiers.EVENT_LOG))
                    {
                        <a class="d-block" href="@ContentIdentifiers.EVENT_LOG">Event Log</a>
                    }

                    if (Model.IsFacilityPurchaser || Model.IsSiteAdmin)
                    {
                        if (!Request.RawUrl.Contains(ContentIdentifiers.CREATE_MEMBERSHIP))
                        {
                            <a class="d-block" href="@ContentIdentifiers.CREATE_MEMBERSHIP">Create Membership</a>
                        }
                    }
                }
            }
            @if (Request.RawUrl.Contains("Admin-Functions"))
            {
                <a class="d-block mt-4" href="@Url.Content(ContentIdentifiers.DASHBOARD)">Back To Main Dashboard</a>
            }
        </div>
        <div id="noUsersMsg">
            <p>@ResHelper.GetString("Dashboard.NoUsersFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
        </div>
    </div>
}