﻿@model Pedagogy.Models.Widgets.PedagogyClassWidgetsWidget.PedagogyClassWidgetsWidgetViewModel

<div class="my-3">
    @using (Ajax.BeginForm("", "", new AjaxOptions { }, new { Class = "d-flex justify-content-center", Id = "generate-scripts-form" }))
    {
        <div class="m-3">
            <label>Widget Type:</label>
            @Html.DropDownListFor(m => m.WidgetType, Model.WidgetTypes, new { Class = "form-control", Id = "widget-type" })
        </div>
        <div class="m-3">
            <label>Campaign/Affiliate Code:</label>
            @Html.TextBoxFor(m => m.AffiliateCode, new { Class = "form-control", Id = "code" })
        </div>
        <div class="m-3">
            <label>Color Style:</label>
            <div class="m-2">
                <label class="mx-2">@Html.RadioButtonFor(m => m.ColorStyle, "Red") Red</label>
                <label class="mx-2">@Html.RadioButtonFor(m => m.ColorStyle, "Blue") Blue</label>
                <label class="mx-2">@Html.RadioButtonFor(m => m.ColorStyle, "Green") Green</label>
            </div>
        </div>
        <div class="m-3 d-flex">
            <input type="submit" value="Generate Scripts" class="btn btn-primary mt-auto" />
        </div>
    }
    <div class="my-3" id="generated-code" style="display:none;">
        <hr />
        <p>@ResHelper.GetString("PedagogyClassWidgets.InfoText", LocalizationContext.CurrentCulture.CultureCode)</p>
        <pre id="pedagogy-widget-script"></pre>
    </div>
    <hr class="my-3" />
    <div class="my-3">
        <h3 class="mb-3">Widget Preview</h3>
        <div id="pedagogy-class-widget"></div>
    </div>
</div>