﻿@using CMS.Globalization;

@model Pedagogy.Models.Widgets.LicensingInfoWidget.LicensingInfoWidgetViewModel

<div class="account-area">
    <div class="card">
        <div class="card-header">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="card-body">
            @if (string.IsNullOrEmpty(Model.NonStudentErrMsg))
            {
                <label class="mb-3">
                    @Html.CheckBoxFor(m => m.NotApplicable, new { Id = "not-applicable-checkbox" })
                    @ResHelper.GetString("Dashboard.LicensingInfoWidget.NAStateLicense", LocalizationContext.CurrentCulture.CultureCode)
                </label>
                using (Html.BeginForm("AddNewLicense", "LicensingInfoWidget", FormMethod.Post, new { Id = "new-license-form", Style = Model.NotApplicable ? "display:none;" : "" }))
                {
                    @Html.HiddenFor(m => m.StudentID, new { Id = "hidden-student-id" })
                    @Html.HiddenFor(m => m.ReturnUrl, new { Id = "hidden-return-url" })
                    @Html.Hidden("StudentLicenseID", Model.StudentLicenseID, new { Id = "hidden-student-license-id" })
                    <div class="licensing-info">
                        <div class="me-3">
                            @Html.LabelFor(m => m.LicenseTypeID)
                            @Html.DropDownListFor(m => m.LicenseTypeID, Model.LicenseTypes, "", new { Class = "form-control", Id = "student-license-type" })
                            @Html.ValidationMessageFor(m => m.LicenseTypeID, "", new { Class = "text-danger", Id = "student-license-type-validation" })
                        </div>
                        <div class="me-3" id="sl-num">
                            @Html.LabelFor(m => m.LicenseNum)
                            @Html.TextBoxFor(m => m.LicenseNum, new { Class = "form-control", Id = "student-license-number" })
                            @Html.ValidationMessageFor(m => m.LicenseNum, "", new { Class = "text-danger", Id = "student-license-number-validation" })
                        </div>
                        <div id="sl-state">
                            @Html.LabelFor(m => m.StateID)
                            @Html.DropDownListFor(m => m.StateID, Model.States, "", new { Class = "form-control", Id = "student-license-state" })
                            @Html.ValidationMessageFor(m => m.StateID, "", new { Class = "text-danger", Id = "student-license-state-validation" })
                        </div>
                    </div>
                    <div class="add-license-btn d-flex justify-content-start mt-3">
                        <input type="submit" class="btn btn-secondary me-2" id="add-student-license" value="Add License" />
                        <input type="submit" class="btn btn-secondary me-2" id="update-student-license" style="display:none;" value="Update License" />
                        <input type="button" class="btn btn-secondary" id="cancel-update-license" style="display:none;" onclick="cancelUpdateLicense()" value="Cancel" />
                    </div>
                }
                <div class="license-list">
                    @if (Model.CurrentLicenses.Count() > 0 && !Model.NotApplicable)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>License Type</th>
                                    <th>License Number</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CurrentLicenses)
                                {
                                    <tr id="display-row">
                                        <td>
                                            <a id="update-student-license-@item.StudentLicenseID" class="fa fa-pencil" onclick="updateStudentLicense(@item.StudentLicenseID)" data-studentID="@item.StudentID" data-return-url="@Model.ReturnUrl"
                                               data-license-type="@item.LicenseTypeID" data-license-num="@item.LicenseNumber" data-license-state="@(!string.IsNullOrEmpty(item.State) ? StateInfoProvider.GetStateInfoByCode(item.State).StateID : 0)" style="cursor:pointer;"
                                               data-student-license-id="@item.StudentLicenseID"></a>
                                            <a href="@Url.Action("DeleteLicense", "LicensingInfoWidget", new { returnUrl = Model.ReturnUrl, licenseID = item.StudentLicenseID, studentID = item.StudentID })" class="fa fa-trash"></a>
                                        </td>
                                        <td>@item.LicenseTypeDisplayName</td>
                                        <td>@item.LicenseNumber</td>
                                        <td>@item.State</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }
            else
            {
                <div><p>@Html.Raw(Model.NonStudentErrMsg)</p></div>
            }
        </div>
    </div>
</div>