﻿@model Pedagogy.Models.Widgets.SolutionsWidget.SolutionsWidgetViewModel

<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>@Model.Title</h3>
                    <p>@Html.Raw(Model.Text)</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var solution in Model.Solutions)
            {
                <div class="col-md-6 col-lg-4 mb-4 px-md-3">
                    <div class="single_department h-100">
                        <div class="department_thumb">
                            <a href="@solution.NodeAliasPath"><img src="@(!string.IsNullOrEmpty(solution.GetStringValue(nameof(Solution.SolutionTeaserImg), "")) ? Url.Kentico().ImageUrl(solution.GetStringValue(nameof(Solution.SolutionTeaserImg), ""), SizeConstraint.Size(350, 250)) : "")" alt="@solution.GetStringValue(nameof(Solution.SolutionTeaserImgAltText), "")"></a>
                        </div>
                        <div class="department_content">
                            <div>
                                <h3><a href="@solution.NodeAliasPath">@solution.GetStringValue(nameof(Solution.SolutionName), "")</a></h3>
                                <p>@Html.Raw(solution.GetStringValue(nameof(Solution.SolutionSummary), ""))</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end me-4">
                            <a class="btn btn-primary" href="@solution.NodeAliasPath">@solution.GetStringValue(nameof(Solution.SolutionLinkText), "")</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>