﻿@{
    IEnumerable<TreeNode> authors = AuthorProvider.GetAuthors();
}

<div class="expert_area expert_page">
    <div class="container">
        <div class="row">
            @foreach (var author in authors)
            {
                <div class="col-md-6 col-lg-3 px-md-3">
                    <div class="single_expert mb-40">
                        <a href="@author.NodeAliasPath">
                            <div class="expert_thumb">
                                <img src="@author.GetStringValue(nameof(Author.AuthorImg), "")" alt="@author.GetStringValue(nameof(Author.AuthorImgAltText), "")">
                            </div>
                            <div class="experts_name text-center">
                                <h3>@author.GetStringValue(nameof(Author.AuthorName), "")</h3>
                                <span>@author.GetStringValue(nameof(Author.AuthorSpecialties), "")</span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
