﻿@model Pedagogy.Models.Widgets.HowToWidget.HowToWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <h4 class="me-auto">@Model.CardHeading</h4>
        <div>
            <i class="show-card-body fa fa-plus-square fa-lg"></i>
            <i class="hide-card-body fa fa-minus-square fa-lg"></i>
        </div>
    </div>
    <div class="card-body card-action-box">
        <div class="help-links">
            @foreach (var heading in Model.HowToCategory)
            {
                <h4>@heading</h4>
                <ul>
                    @foreach (var item in Model.HowToItems)
                    {
                        if (item.ParentNodeName == heading)
                        {
                            <li><a href="@item.HowToUrl">@item.HowToTitle</a></li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</div>