﻿@model Pedagogy.Models.Widgets.ApproveFacilitiesWidget.ApproveFacilitiesWidgetViewModel

@{
    Html.EnableClientValidation(true);
}

<div class="card approve-facilities-widget">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading</h4>
        </div>
        <ul class="nav nav-tabs card-header-tabs" id="course-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row justify-content-center text-danger err-msg"></div>
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="pending" role="tabpanel">
                <div class="pending-facilities row" id="facility-pending-list-group">
                </div>
                <nav aria-label="pagination" class="mt-5">
                    <ul id="pending-facilities-pagination" class="pagination d-flex justify-content-center">
                    </ul>
                </nav>
            </div>
            <div class="tab-pane" id="rejected" role="tabpanel">
                <div class="rejected-facilities row" id="facility-rejected-list-group">
                </div>
                <nav aria-label="pagination" class="mt-5">
                    <ul id="rejected-facilities-pagination" class="pagination d-flex justify-content-center">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <input type="hidden" id="facilitiesPerPage" value="@Model.FacilitiesPerPage" />
    <div id="noPendingFacilitiesTxt">
        <p>@ResHelper.GetString("Dashboard.ApproveFacilitiesWidget.NoPendingFacilitiesFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
    </div>
    <div id="noRejectedFacilitiesTxt">
        <p>@ResHelper.GetString("Dashboard.ApproveFacilitiesWidget.NoRejectedFacilitiesFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
    </div>
    <div id="reject-confirmation-modal" class="modal confirmation-modal">
        <div class="modal-content">
            <span class="close align-self-end" id="close">&times;</span>
            <p class="mb-4 mt-2">Custom message that will be added to the base rejection email...</p>
            @using (Html.BeginForm("RemoveFacility", "ApproveFacilitiesWidget", FormMethod.Post))
            {
                @Html.Hidden("itemID", "", new { Id = "hidden-itemID" })
                @Html.TextArea("rejectionMsg", new { Class = "rejection-text-area" })
                <button type="submit">Send</button>
            }
        </div>
    </div>
    <div id="delete-confirmation-modal" class="modal confirmation-modal">
        <div class="modal-content">
            <span class="close align-self-end close-delete-permanently-modal">&times;</span>
            <p class="mb-4 mt-2">Are you sure you would like to permanently delete <text id="name"></text>?</p>
            @using (Html.BeginForm("RemoveFacilityPermanently", "ApproveFacilitiesWidget", FormMethod.Post))
            {
                @Html.Hidden("itemID", "", new { Id = "hidden-facility-itemID" })
                <button type="button" class="m-2 close-delete-permanently-modal">Cancel</button>
                <button type="submit" class="m-2">Yes</button>
            }
        </div>
    </div>
    <div class="d-none corp-dropdown">
        @Html.DropDownListFor(x => x.CorpID, Model.Corporations, "Select a Parent Corporation", new { Class = "corp form-control", Required = "required", Id = "combobox" })
    </div>
</div>