﻿@model Pedagogy.Models.Widgets.PrintStudentCertificatesWidget.PrintStudentCertificatesWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <h4 class="mr-auto">@Model.CardHeading</h4>
        <a class="btn btn-secondary" href="@ContentIdentifiers.MANAGE_STAFF_PAGE?facilityID=@Model.FacilityID">Back</a>
    </div>
    <div class="card-body p-4">
        @if (Model.StudentData.Count() > 0)
        {
            <div class="my-3">@ResHelper.GetString("Dashboard.PrintStudentCertificatesWidget.PrintCertificatesDirections", LocalizationContext.CurrentCulture.CultureCode)</div>
            <div class="p-3">
                @using (Html.BeginForm("SendDataToCertHandler", "PrintStudentCertificatesWidget"))
                {
                    <div><label style="color:white;"><input type="checkbox" id="select-all" /> Select All</label></div>
                    <ul class="d-flex justify-content-start">
                        @foreach (var item in Model.StudentData)
                        {
                            <li class="m-2">
                                <label style="color:white;"><input type="checkbox" name="ids" value="@item.Key" class="checkboxes" /> @item.Value</label>
                            </li>
                        }
                    </ul>
                    <div class="my-4">
                        <button type="submit" class="btn btn-secondary">Download Certificates</button>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="my-3">@ResHelper.GetString("Dashboard.PrintStudentCertificatesWidget.NoCertificatesMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/components/_print-student-certificates.js"></script>