﻿@model Pedagogy.Models.Widgets.SliderWidget.SliderWidgetViewModel

@{
    if (Model.Slides.Count() > 0)
    {
        switch (Model.SliderType)
        {
            case "regular":
                <text>
                    <div class="slider_area">
                        <div class="slider_active owl-carousel">
                            @foreach (var slide in Model.Slides)
                            {
                                <div class="single_slider  d-flex align-items-center" style="@(!string.IsNullOrEmpty(slide.SlideBackgroundImg) ? $"background-image:url({ slide.SlideBackgroundImg })" : "")">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="slider_text ">
                                                    <h3>
                                                        <span>@slide.SlideTitle</span>
                                                    </h3>
                                                    <p>@Html.Raw(slide.SlideText)</p>
                                                    <a class="btn btn-primary" href="@slide.SlideBtnUrl">@slide.SlideBtnText</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </text>
                break;

            case "testimonial":
                <text>
                    <div class="testmonial_area">
                        <div class="testmonial_active owl-carousel">
                            @foreach (var slide in Model.Slides)
                            {
                                <div class="single-testmonial overlay2" style="@(!string.IsNullOrEmpty(slide.SlideBackgroundImg) ? $"background-image:url({ slide.SlideBackgroundImg })" : "")">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-10 offset-xl-1">
                                                <div class="testmonial_info text-center px-3">
                                                    <div class="quote">
                                                        <i class="flaticon-straight-quotes"></i>
                                                    </div>
                                                    <p>@Html.Raw(slide.SlideText)</p>
                                                    <div class="testmonial_author">
                                                        <h4>@slide.SlideTitle</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </text>
                break;
            case "card":
                <text>
                    <div class="expert_area mt-md-5 mb-md-5 py-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="expert_title mb-5">
                                        <h3>@Model.CardGroupHeading</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="expert_active owl-carousel card-slider">
                                        @foreach (var slide in Model.Slides)
                                        {
                                            <div class="single_expert">
                                                <div class="expert_thumb">
                                                    <a href="@slide.SlideBtnUrl">
                                                        <img src="@slide.SlideBackgroundImg"  alt="@slide.SlideBackgroundImgAltText" />
                                                    </a>
                                                </div>
                                                <div class="experts_name text-center px-2">
                                                    <a href="@slide.SlideBtnUrl">
                                                        <h3>@slide.SlideTitle</h3>
                                                        <span>@Html.Raw(slide.SlideText)</span>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </text>
                break;
            case "image-slideshow":
                <text>
                    <div class="image-slideshow">
                        @foreach (var slide in Model.Slides)
                        {
                            <div class="slideshow-image">
                                <img src="@slide.SlideBackgroundImg" alt="@slide.SlideBackgroundImgAltText" />
                            </div>
                        }
                    </div>
                </text>
                break;
            default:
                break;
        }
    }
}