﻿@using CMS.Globalization;

@model Pedagogy.Models.Widgets.PersonalInfoWidget.PersonalInfoWidgetViewModel

<div class="account-area">
    <div class="card personal-info-widget">
        <div class="card-header d-lg-flex d-md-flex">
            <h4 class="me-0 me-md-auto">@Model.CardHeading</h4>
            <div class="mt-3 mt-md-0">User Name: @Model.UserName</div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("UpdateCustomerInfo", "PersonalInfoWidget", FormMethod.Post, new { Class = "mx-lg-5 mx-md-5 mx-sm-0", Id = "updatePersonalInfoForm" }))
            {
                @Html.Hidden("CustomerID", Model.CustomerId)
                @Html.Hidden("UserID", Model.UserID)
                <div class="row">
                    <div class="col-12 col-md-6 px-2">
                        @Html.LabelFor(model => model.FirstName, new { Class = "control-label" })
                        @Html.TextBoxFor(model => model.FirstName, new { Class = "form-control", Id = "fname" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { Class = "text-danger" })
                    </div>
                    <div class="col-12 col-md-6 px-2">
                        @Html.LabelFor(model => model.LastName, new { Class = "control-label" })
                        @Html.TextBoxFor(model => model.LastName, new { Class = "form-control", Id = "lname" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { Class = "text-danger" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-8 px-2">
                        @Html.LabelFor(model => model.Email, new { Class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { Class = "form-control", Id = "email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { Class = "text-danger" })
                    </div>
                    <div class="col-12 col-md-4 px-2">
                        @Html.LabelFor(model => model.PhoneNumber, new { Class = "control-label" })
                        @Html.TextBoxFor(model => model.PhoneNumber, new { Class = "form-control phone-number", Id = "phone" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { Class = "text-danger" })
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary">Update</button>
                </div>
            }
            <div class="row mx-0 mx-md-5">
                <div class="mt-3 mb-3">
                    <h3>Billing Addresses</h3>
                </div>
                <div>
                    @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                    {
                        <ul id="address-list">
                            @foreach (var x in Model.Addresses)
                            {
                                <li class="mb-3">
                                    <a class="fa fa-trash me-1" href="@Url.Action("RemoveAddress", "PersonalInfoWidget", new { returnUrl = Model.ReturnUrl, AddressID = x.AddressID })"></a>
                                    @using (Html.BeginForm("GetAddressToUpdate", "PersonalInfoWidget", FormMethod.Post, new { Class = "me-2 d-inline-block", Id = "updatePersonalAddressesForm" }))
                                    {
                                        @Html.Hidden("addressID", x.AddressID)
                                        @Html.Hidden("returnUrl", Model.ReturnUrl)
                                        @Html.Hidden("customerID", Model.CustomerId)
                                        <button><i class="fa fa-pencil"></i></button>
                                    }
                                    @x.AddressLine1, @(!string.IsNullOrEmpty(x.AddressLine2) ? $"{x.AddressLine2}, " : "") @x.AddressCity,
                                    @(x.AddressStateID != 0 ? StateInfoProvider.GetStateInfo(x.AddressStateID).StateDisplayName + ", " : "")
                                    @(x.AddressCountryID != 0 ? CountryInfoProvider.GetCountryInfo(x.AddressCountryID).CountryDisplayName : "")
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="no-addresses-txt">You currently don't have any addresses saved.</p>
                    }
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" id="newAddress">New Address</button>
                </div>
            </div>
            <div class="row mx-0 mx-md-5" id="addressForm">
                @using (Html.BeginForm("UpdateAddressInfo", "PersonalInfoWidget", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("returnUrl", Model.ReturnUrl)
                    @Html.Hidden("customerId", Model.CustomerId)
                    @Html.HiddenFor(model => model.AddressID)
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="mx-2">
                                @Html.LabelFor(model => model.Line1) <br />
                                @Html.EditorFor(model => model.Line1, new { htmlAttributes = new { Class = "form-control", Id = "line1" } })
                                @Html.ValidationMessageFor(model => model.Line1, "", new { Class = "text-danger", Id = "line1Validation" })
                            </div>
                        </div>
                        <div class="col col-12 col-md-3">
                            <div class="mx-2">
                                @Html.LabelFor(model => model.Line2) <br />
                                @Html.EditorFor(model => model.Line2, new { htmlAttributes = new { Class = "form-control", Id = "line2" } })
                            </div>
                        </div>
                        <div class="col col-12 col-md-3">
                            <div class="mx-2">
                                @Html.LabelFor(model => model.City)
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { Class = "form-control", Id = "city" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { Class = "text-danger", Id = "cityValidation" })
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col col-12 col-md-3">
                            <div class="mx-2">
                                @Html.LabelFor(model => model.PostalCode)
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { Class = "form-control", Id = "postalCode" } })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { Class = "text-danger", Id = "postalCodeValidation" })
                            </div>
                        </div>
                        <div class="col col-12 col-md-5">
                            <div class="mx-2">
                                <div class="js-country-state-selector" data-statelistaction='@Url.Action("CountryStates", "Checkout")' data-countryselectedid='@Model.CountryID' data-stateselectedid='@Model.StateID' data-countryfield='CountryID' data-statefield='StateID'>
                                    @Html.LabelFor(m => m.CountryID)
                                    @Html.DropDownListFor(m => m.CountryID, Model.Countries ?? Enumerable.Empty<SelectListItem>(), new { Class = "form-control js-country-selector", Id = "countryID" })
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-md-4">
                            <div class="mx-2">
                                <div class="js-state-selector-container">
                                    @Html.LabelFor(m => m.StateID)
                                    @Html.DropDownListFor(m => m.StateID, Enumerable.Empty<SelectListItem>(), new { Class = "form-control js-state-selector", Id = "stateID" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <input type="submit" class="btn btn-secondary" id="addAddressBtn" value="Add" />
                        <input type="submit" class="btn btn-secondary" id="updateAddressBtn" value="Update" />
                        <button type="button" class="btn btn-secondary ms-2" id="cancelAddressUpdate">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>