﻿@model Pedagogy.Models.Widgets.AccountDetailsWidget.AccountDetailsWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <h4 class="me-auto">@Model.CardHeading</h4>
        <div>
            <i class="show-card-body fa fa-plus-square fa-lg"></i>
            <i class="hide-card-body fa fa-minus-square fa-lg"></i>
        </div>
    </div>
    <div class="card-body card-action-box">
        @foreach (var item in Model.AccountDetailPages)
        {
            if (!Request.RawUrl.Contains(item.NodeAliasPath))
            {
                <a class="d-block" href="@item.NodeAliasPath">@item.DocumentName</a>
            }
        }
        @if (Request.RawUrl.Contains("Account-Details"))
        {
            <a class="d-block mt-4" href="@Url.Content(ContentIdentifiers.DASHBOARD)">Back To Main Dashboard</a>
        }
    </div>
</div>