﻿@using CMS.Helpers;

@model Pedagogy.Models.Widgets.ManageStaffWidget.ManageStaffWidgetViewModel

@{
    Html.EnableClientValidation(true);
}

<div class="card">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading</h4><h4>@Model.FacilityData.Name</h4>
        </div>
        <div class="staff-action-btns">
            <a class="btn btn-secondary mr-3" href="@ContentIdentifiers.MANAGE_FACILITY_PAGE">Manage Facilities</a>
            @if (Model.FacilityData.Students.Count() > 0)
            {
                <a class="btn btn-secondary mt-2 mt-md-0 mr-3" href="@(ContentIdentifiers.PRINT_STUDENT_CERTS + $"?facilityID={Model.FacilityData.FacilityID}")">Print Certificates</a>
            }
            <button class="btn btn-secondary mt-2 mt-md-0 mr-3" id="existing-student" onclick="existingStudentForm()">Add Exisiting Staff</button>
            <button class="btn btn-secondary mt-2 mt-md-0 mr-3" id="new-student" onclick="newStudentForm()">Add Staff</button>
        </div>
    </div>
    <div class="card-body">
        <div id="save-changes-modal" class="modal confirmation-modal">
            <div class="modal-content" id="user-modal-content">
                <span class="close align-self-end" id="close-save-changes-modal">&times;</span>
                <div class="mt-3 mb-4">@ResHelper.GetString("Dashboard.ChangesSavedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
            </div>
        </div>
        <div id="existing-student-form">
            @using (Ajax.BeginForm("AddExistingStudent", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displayStudentListingFromExisitingForm" }, new { Class = "w-100 mx-5 px-5" }))
            {
                @Html.HiddenFor(m => m.ReturnUrl)
                @Html.HiddenFor(m => m.FacilityData.FacilityID)
                @Html.HiddenFor(m => m.FacilityData.Enabled)
                @Html.HiddenFor(m => m.FacilityData.Name)
                <div class="row mb-4">
                    <span id="student-err-msg" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        @Html.ValidationMessageFor(m => m.ContactModel.UserName, "", new { Class = "mt-2 text-danger", Id = "student-username-validation" }) <br />
                        @Html.LabelFor(m => m.ContactModel.UserName)
                        @Html.TextBoxFor(m => m.ContactModel.UserName, new { Class = "form-control mt-2", Placeholder = "Username", Id = "student-username" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <input type="submit" value="Add" class="btn btn-primary mt-4" />
                        <input type="button" value="Cancel" onclick="cancelExistingStudent()" class="btn btn-primary mt-4" />
                    </div>
                </div>
            }
        </div>
        <div id="new-student-form">
            @using (Ajax.BeginForm("CreateNewStudent", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displayStudentListing" }, new { Class = "w-100 mx-1 mx-md-5 px-2 px-md-5" }))
            {
                <p style="font-size:16px;">@ResHelper.GetString("Dashboard.ManageStaffWidget.CreateNewStudentDirections")</p>
                @Html.HiddenFor(x => x.ReturnUrl)
                @Html.HiddenFor(m => m.FacilityData.FacilityID)
                @Html.HiddenFor(m => m.FacilityData.Enabled)
                <div class="row mb-4">
                    <span id="student-err-msg" class="text-danger"></span>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <div id="students" class="row justify-content-evenly">
                            <div class="col-12 col-md-3">
                                @Html.ValidationMessageFor(m => m.Contacts[0].FirstName, "", new { Class = "text-danger first-name-validation" }) <br />
                                @Html.TextBoxFor(m => m.Contacts[0].FirstName, new { Class = "form-control first-name", Placeholder = "First Name" })
                            </div>
                            <div class="col-12 col-md-3">
                                @Html.ValidationMessageFor(m => m.Contacts[0].LastName, "", new { Class = "text-danger last-name-validation" }) <br />
                                @Html.TextBoxFor(m => m.Contacts[0].LastName, new { Class = "form-control last-name", Placeholder = "Last Name" })
                            </div>
                            <div class="col-12 col-md-4">
                                <br />
                                @Html.TextBoxFor(m => m.Contacts[0].Email, new { Class = "form-control email", Placeholder = "Email" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 d-flex mt-auto mb-2">
                        <div>
                            <button type="button" id="add-student-input"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label>@ResHelper.GetString("Dashboard.ManageStaffWidget.AdminEmailDirections", LocalizationContext.CurrentCulture.CultureCode)</label>
                        <input type="text" name="emailRecipient" class="form-control mt-2" placeholder="Email" id="recipient-email" />
                    </div>
                </div>
                <input type="submit" value="Add" class="btn btn-primary mt-4" />
                <input type="button" value="Cancel" onclick="cancelNewStudent()" class="btn btn-primary mt-4" />
            }
        </div>
        <div>
            <h4 id="email-success-msg"></h4>
        </div>
        <div class="filter-bar">
            <div class="facility-filter" id="student-filter">
                @using (Ajax.BeginForm("FilterStudents", "ManageStaffWidget", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "student-table" }, new { Id = "filter-students-form" }))
                {
                    @Html.HiddenFor(m => m.FacilityData.FacilityID)
                    @Html.TextBoxFor(m => m.ContactModel.FirstName, new { Class = "form-control", Placeholder = "First Name", Id = "student-first-name", Data_val = "false" })
                    @Html.TextBoxFor(m => m.ContactModel.LastName, new { Class = "form-control", Placeholder = "Last Name", Id = "student-last-name", Data_val = "false" })
                    <input type="submit" class="form-control btn btn-primary filter-btn" value="Filter" />
                    <input type="button" class="form-control btn btn-primary clear-filter-btn" onclick="clearStudentFilter()" value="Clear" />
                }
            </div>
        </div>
        @if (Model.FacilityData.Students.Count() > 0)
        {
            <div id="student-table">
                @Html.Partial("Partials/_StudentTable", Model.FacilityData.Students)
            </div>
        }
        else
        {
            <div class="mt-3" id="no-students"><p><strong style="font-size:16px;">@ResHelper.GetString("Dashboard.ManageStaffWidget.NoStudentsInFacilityMsg", LocalizationContext.CurrentCulture.CultureCode)</strong></p></div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/components/_manage-staff.js"></script>
<script>
    $(document).ready(function () {
        $("#add-student-input").on("click", function () {
            @{
                Model.Contacts.Add(new Pedagogy.Models.ClassMembers.ContactViewModel());
            }

            $("#students").append(
                `<div id="student" class="row justify-content-evenly">
                    <div>
                        <button type="button" class="fa fa-minus-circle" id="remove-student-btn"></button>
                    </div>
                    <div class="col-12 col-md-3">
                        @Html.ValidationMessageFor(m => m.Contacts[(Model.Contacts.Count() - 1)].FirstName, "", new { Class = "text-danger first-name-validation" }) <br />
                        @Html.TextBoxFor(m => m.Contacts[(Model.Contacts.Count() - 1)].FirstName, new { Class = "form-control first-name", Placeholder = "First Name" })
                    </div>
                    <div class="col-12 col-md-3">
                        @Html.ValidationMessageFor(m => m.Contacts[(Model.Contacts.Count() - 1)].LastName, "", new { Class = "text-danger last-name-validation" }) <br />
                        @Html.TextBoxFor(m => m.Contacts[(Model.Contacts.Count() - 1)].LastName, new { Class = "form-control last-name", Placeholder = "Last Name" })
                    </div>
                    <div class="col-12 col-md-4">
                        <br />
                        @Html.TextBoxFor(m => m.Contacts[(Model.Contacts.Count() - 1)].Email, new { Class = "form-control email", Placeholder = "Email" })
                    </div>
                </div>`
            );
        });
    });
</script>
