@model Pedagogy.Models.Widgets.InfoSectionWidget.InfoSectionWidgetViewModel

@if (Model.IsTabbedContent)
{
    <div class="business_expert_area">
        <div class="business_tabs_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs ms-0" id="infoSectionTabs" role="tablist">
                            @foreach (var item in Model.InfoSections)
                            {
                                <li class="nav-item text-center" role="presentation">
                                    <a class="nav-link@(Model.InfoSections.ToList().IndexOf(item) == 0 ? " active" : "")" id="tab-@item.InfoSectionSubtitle.Replace(" ", "")-@item.InfoSectionID" data-toggle="tab" href="#@item.InfoSectionSubtitle.Replace(" ", "")-@item.InfoSectionID" role="tab" aria-controls="@item.InfoSectionID" aria-selected="@(Model.InfoSections.ToList().IndexOf(item) == 0 ? "true" : "false")">
                                        @item.InfoSectionSubtitle
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border_bottom pt-2 pt-md-4 pt-lg-5">
                <div class="tab-content" id="infoSectionTabContent">
                    @foreach (var item in Model.InfoSections)
                    {
                        <div class="tab-pane fade@(Model.InfoSections.ToList().IndexOf(item) == 0 ? " active show" : "")" id="@item.InfoSectionSubtitle.Replace(" ", "")-@item.InfoSectionID" role="tabpanel" aria-labelledby="tab-@item.InfoSectionSubtitle.Replace(" ", "")-@item.InfoSectionID">
                            <div class="row align-items-center">
                                @if (Model.DisplayIdentifier == "left")
                                {
                                    <div class="col-md-6 mt-5 mt-md-0 px-5">
                                        <div class="business_thumb">
                                            <img src="@(!string.IsNullOrEmpty(item.InfoSectionImg1) ? Url.Kentico().ImageUrl(item.InfoSectionImg1, SizeConstraint.Size(350, 250)) : "")" alt="@item.InfoSectionImg1AltText">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="business_info px-3">
                                            <h3>@item.InfoSectionTitle</h3>
                                            <p>@Html.Raw(item.InfoSectionText)</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-6">
                                        <div class="business_info px-3">
                                            <h3>@item.InfoSectionTitle</h3>
                                            <p>@Html.Raw(item.InfoSectionText)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-5 mt-md-0 px-5">
                                        <div class="business_thumb">
                                            <img src="@(!string.IsNullOrEmpty(item.InfoSectionImg1) ? Url.Kentico().ImageUrl(item.InfoSectionImg1, SizeConstraint.Size(350, 250)) : "")" alt="@item.InfoSectionImg1AltText">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="welcome_area mt-5 mb-5 info-section-widget">
        <div class="container pt-4 pb-4">
            <div class="row">
                @foreach (var item in Model.InfoSections)
                {
                    <div class="col-lg-6 px-lg-4@(Model.DisplayIdentifier == "left" ? " order-last" : " order-first")">
                        <div class="welcome_info px-2 mt-md-0">
                            <h2>@item.InfoSectionSubtitle</h2>
                            <h3>@item.InfoSectionTitle</h3>
                            <p>@Html.Raw(item.InfoSectionText)</p>
                            <a href="@item.InfoSectionBtnUrl" class="btn btn-success">@item.InfoSectionBtnText</a>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex mt-md-5 mt-lg-0 px-lg-4">
                        <div class="business_thumb m-auto">
                            <img src="@(!string.IsNullOrEmpty(item.InfoSectionImg1) ? Url.Kentico().ImageUrl(item.InfoSectionImg1, SizeConstraint.Size(350, 250)) : "")" alt="@item.InfoSectionImg1AltText">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}