﻿@model Pedagogy.Models.Widgets.MembershipCourseListingWidget.MembershipCourseListingWidgetViewModel

@if (Model.MembershipClasses.Count() > 0)
{
    <ul class="facility-membership-classes" style="column-count:@Model.ColumnCount;">
        @foreach (var item in Model.MembershipClasses)
        {
            <li><a href="@item.NodeAliasPath">@item.DocumentName</a></li>
        }
    </ul>
}
else
{
    <div>Please select a Facility Membership Category.</div>
}
