﻿@model Pedagogy.Models.Widgets.CourseInfoWidget.CourseInfoWidgetViewModel

<div class="delete-student-class-modal modal confirmation-modal">
    <div class="modal-content">
        <span class="close align-self-end" id="close" onclick="closeStudentClassDeleteModal()">&times;</span>
        <div>
            <p class="warning-text"></p>
        </div>
        <div class="d-flex justify-content-end">
            @using (Html.BeginForm("RemoveStudentClass", "CourseInfoWidget", FormMethod.Post))
            {
                @Html.Hidden("studentClassID", 0, new { Id = "studentClassID" })
                <button type="submit" class="remove-student-class">Yes</button>
            }
            <a onclick="closeStudentClassDeleteModal()" class="cancel-btn ms-3">Cancel</a>
        </div>
    </div>
</div>
<div class="card student-courses">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading</h4>
        </div>
        <ul class="nav nav-tabs card-header-tabs" id="course-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active current-tab" href="#current" role="tab" aria-controls="current" aria-selected="true">Current</a>
            </li>
            <li class="nav-item">
                <a class="nav-link completed-tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link memberships-tab" href="#membership" role="tab" aria-controls="membership" aria-selected="false">Memberships</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="current" role="tabpanel">
                @if (Model.CurrentCourses.Count() > 0)
                {
                    <table class="table current-course-table">
                        <thead>
                            <tr>
                                @if (Model.IsSiteAdmin)
                                {
                                    <th></th>
                                }
                                <th>Course Title</th>
                                <th class="text-center">Contact Hours</th>
                                <th class="text-center">Previous Test Attempts</th>
                                <th class="text-center">Next Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.CurrentCourses)
                            {
                                <tr>
                                    @if (Model.IsSiteAdmin)
                                    {
                                        <td>
                                            @if (!string.IsNullOrEmpty(i.InvoiceNum))
                                            {
                                                <div><strong>Invoice #:</strong> @i.InvoiceNum</div>
                                                <a onclick="showStudentClassDeleteModal(this)" data-StudentClassID="@i.StudentClassID" data-warningText="@(i.InPackage ? ResHelper.GetString("Dashboard.CourseInfoWidget.RemoveStudentPackageWarningMsg") : ResHelper.GetString("Dashboard.CourseInfoWidget.RemoveStudentClassWarningMsg"))" class="fa fa-trash delete-student-class"></a>
                                            }
                                        </td>
                                    }
                                    <td>@i.ClassName</td>
                                    <td class="text-center">@i.ContactHours</td>
                                    <td class="text-center">
                                        @if (i.AttemptUrls.Count() > 0)
                                        {
                                            <ul class="test-attempts">
                                                @if (i.AttemptUrls.Count() > 2)
                                                {
                                                    foreach (var y in i.AttemptUrls.Take(2))
                                                    {
                                                        <li class="attempt"><a href="@y.Value">Attempt @y.Key</a></li>
                                                    }
                                                    foreach (var x in i.AttemptUrls.Skip(2))
                                                    {
                                                        <li class="attempt hidden"><a href="@x.Value">Attempt @x.Key</a></li>
                                                    }
                                                    <li class="view-all-attempts"><a href="" role="button">View all</a></li>
                                                    <li class="view-less-attempts"><a href="" role="button">View less</a></li>
                                                }
                                                else
                                                {
                                                    foreach (var y in i.AttemptUrls)
                                                    {
                                                        <li class="attempt"><a href="@y.Value">Attempt @y.Key</a></li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @using (Html.BeginForm("CheckRequirements", "CourseInfoWidget", FormMethod.Post, new { Class = "check-reqsfor-class" }))
                                        {
                                            @Html.Hidden("classUrl", i.ClassPageUrl)
                                            <button type="submit" style="border:unset;background-color:transparent;">@i.WorkflowStep</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="confirmation-modal" style="display:none;" class="modal confirmation-modal">
                        <div class="modal-content">
                            <span class="close align-self-end" id="close" onclick="closeStudentRequirementsModal()">&times;</span>
                            <ul id="start-class-err-list" class="m-3"></ul>
                        </div>
                    </div>
                }
                else
                {
                    <div>@Html.Raw(ResHelper.GetString("Dashboard.CourseInfoWidget.NoCoursesMsg", LocalizationContext.CurrentCulture.CultureCode))</div>
                }
            </div>
            <div class="tab-pane" id="completed" role="tabpanel">
                <div class="row mt-4" id="completedCoursesLoading">
                    <div class="text-center">
                        <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="completed-course-data">
                    <table class="table current-course-table">
                        <thead>
                            <tr>
                                <th>Course Title</th>
                                <th>Score</th>
                                <th>Date Completed</th>
                                <th>View Course</th>
                                <th>Test Attempts</th>
                                <th>Print Certificate</th>
                            </tr>
                        </thead>
                        <tbody id="completedCourses"></tbody>
                    </table>
                    @*TODO: add pagination*@
                    @*<nav aria-label="pagination">
                            <ul id="completedCoursesPagination" class="pagination"></ul>
                        </nav>*@
                </div>
                <p id="noCompletedCoursesTxt">@Html.Raw(ResHelper.GetString("Dashboard.CourseInfoWidget.NoCompletedCoursesMsg", LocalizationContext.CurrentCulture.CultureCode))</p>
            </div>
            <div class="tab-pane" id="membership" role="tabpanel">
                <div class="row mt-4" id="membershipCoursesLoading">
                    <div class="text-center">
                        <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="membership-data"></div>
                @*TODO: add pagination*@
                @*<nav aria-label="pagination">
                        <ul id="completedCoursesPagination" class="pagination"></ul>
                    </nav>*@
                <div id="confirmation-modal-for-memberships" style="display:none;" class="modal confirmation-modal">
                    <div class="modal-content">
                        <span class="close align-self-end" id="close" onclick="closeStudentRequirementsModalForMemberships()">&times;</span>
                        <ul id="start-class-err-list-for-memberships" class="m-3"></ul>
                    </div>
                </div>
                <p id="noMembershipsTxt">@Html.Raw(ResHelper.GetString("Dashboard.CourseInfoWidget.NoMembershipCoursesMsg", LocalizationContext.CurrentCulture.CultureCode))</p>
            </div>
        </div>
    </div>
</div>