﻿@model Pedagogy.Models.Widgets.ManageCorporationsWidget.ManageCorporationsWidgetViewModel

@{
    Html.EnableClientValidation(true);
}

<div class="card manage-corporations">
    <div class="card-header">
        <div class="title">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="d-flex justify-content-end mb-3 mb-md-0 me-0 me-md-3 mt-3 mt-md-0">
            @if (Model.IsSiteAdmin)
            {
                if (Model.CurrentCorpID != 0)
                {
                    <button class="btn btn-secondary" id="viewAllCorpsBtn">View All</button>
                }
                <button class="btn btn-secondary ms-md-3" id="newCorp">Create New</button>
            }
            <a href="@ContentIdentifiers.MANAGE_FACILITY_PAGE" class="btn btn-secondary ms-3" id="manageFacilitiesBtn">Manage Facilities</a>
            <button class="btn btn-secondary" id="backToCorpListingBtn">Back</button>
        </div>
    </div>
    <div class="card-body">
        <div class="modal confirmation-modal justify-content-center" id="facilityProcessLoadingModal">
            <div class="modal-content m-auto">
                <div class="text-center my-auto py-4">
                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="corp-forms">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2 p-0 tabs-col">
                    <ul class="nav nav-tabs justify-content-start" id="corpTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="corpInfoTab" data-toggle="tab" href="#corpInfo" role="tab" aria-controls="corpInfo" aria-selected="true">Corporation Info</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contactsTab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-9 col-lg-10 p-0">
                    <div class="tab-content" id="corpTabContent">
                        <div class="tab-pane fade show active" id="corpInfo" role="tabpanel" aria-labelledby="corpInfoTab">
                            <div id="newCorpForm">
                                @using (Html.BeginForm("UpdateCorpInfo", "ManageCorporationsWidget", FormMethod.Post, new { Id = "updateCorpInfoForm" }))
                                {
                                    @Html.HiddenFor(x => x.CorporationData.FacilityID, new { Class = "corpID" })
                                    <div class="form-header">
                                        <h3>Corporation Information <text id="corpCode">@(!string.IsNullOrEmpty(Model.CorporationData.FacilityCode) ? $"- {Model.CorporationData.FacilityCode}" : "" )</text></h3>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col col-12 col-md-8">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.Name)
                                                @Html.TextBoxFor(x => x.CorporationData.Name, new { Placeholder = "Corporation Name", Class = "form-control corp-data-txt", Id = "corpName" })
                                                @Html.ValidationMessageFor(x => x.CorporationData.Name, "", new { Class = "text-danger corp-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4 d-flex">
                                            <div class="form-group mx-2 d-flex my-2 my-md-0">
                                                @if (Model.IsSiteAdmin)
                                                {
                                                    <label class="mt-auto">@Html.CheckBoxFor(x => x.CorporationData.Enabled, new { Id = "corpEnabled" }) <strong>Enabled?</strong></label>
                                                }
                                                else
                                                {
                                                    @Html.Hidden("CorporationData.Enabled", true)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col col-12 col-md-8">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.AddressLine1)
                                                @Html.TextBoxFor(x => x.CorporationData.AddressLine1, new { Placeholder = "Address Line 1", Class = "form-control corp-data-txt", Id = "corpAddressLine1" })
                                                @Html.ValidationMessageFor(x => x.CorporationData.AddressLine1, "", new { Class = "text-danger corp-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.AddressLine2)
                                                @Html.TextBoxFor(x => x.CorporationData.AddressLine2, new { Placeholder = "Address Line 2", Class = "form-control corp-data-txt", Id = "corpAddressLine2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.City)
                                                @Html.TextBoxFor(m => m.CorporationData.City, new { Placeholder = "City", Class = "form-control corp-data-txt", Id = "corpAddressCity" })
                                                @Html.ValidationMessageFor(x => x.CorporationData.City, "", new { Class = "text-danger corp-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.StateID)
                                                @Html.DropDownListFor(x => x.CorporationData.StateID, Model.States, "State", new { Class = "form-control corp-data-dropdown", Id = "corpAddressState" })
                                                @Html.ValidationMessageFor(x => x.CorporationData.StateID, "", new { Class = "text-danger corp-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.CorporationData.Zip)
                                                @Html.TextBoxFor(x => x.CorporationData.Zip, new { Placeholder = "Zip Code", Class = "form-control corp-data-txt", Id = "corpAddressZip" })
                                                @Html.ValidationMessageFor(x => x.CorporationData.Zip, "", new { Class = "text-danger corp-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="d-flex justify-content-end">
                                            <input type="submit" class="btn btn-secondary" value="Save" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contactsTab">
                            <div class="modal contact-confirmation-modal" id="deleteContactConfirmModal">
                                <div class="modal-content">
                                    <span class="close align-self-end close-delete-contact">&times;</span>
                                    <p class="mb-4 mt-2">Are you sure you want to delete <text id="deleteContactName"></text>?</p>
                                    <div class="d-flex justify-content-end">
                                        <a id="removeContactBtn" href="" data-contactID="">Yes</a>
                                        <a class="ms-3 close-delete-contact">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex">
                                    <h3>Contacts</h3>
                                    <div class="ms-auto">
                                        <button id="addNewContactBtn" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" id="contactListLoading">
                                <div class="text-center">
                                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="row" id="contactsContainer"></div>
                            <div class="row">
                                @using (Html.BeginForm("UpdateContact", "ManageCorporationsWidget", FormMethod.Post, new { Id = "updateCorpContactForm" }))
                                {
                                    <p>@Html.Raw(ResHelper.GetString("Dashboard.ManageCorporationsWidget.CorporateAdminAccessWarningMsg", LocalizationContext.CurrentCulture.CultureCode))</p>
                                    @Html.HiddenFor(x => x.ContactModel.ContactID, new { Class = "contactID" })
                                    @Html.HiddenFor(x => x.CorporationData.FacilityID, new { Class = "corpID" })
                                    @Html.HiddenFor(x => x.ContactModel.ContactUserID, new { Id = "contactUserID" })
                                    <div class="row my-md-3">
                                        <div class="form-group text-danger" id="contactErrMsg"></div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-md-4 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.TypeID)
                                                @Html.DropDownListFor(x => x.ContactModel.TypeID, Model.ContactModel.ContactTypes, "Select a type", new { Class = "form-control contact-data-dropdown", Id = "corpContactTypeDropdown" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.FirstName)
                                                @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "First Name", Id = "corpContactFirstName" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.FirstName, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.LastName)
                                                @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Last Name", Id = "corpContactLastName" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.LastName, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-md-8">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.Email)
                                                @Html.TextBoxFor(x => x.ContactModel.Email, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Email", Id = "corpContactEmail" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.Email, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.Phone)
                                                @Html.TextBoxFor(x => x.ContactModel.Phone, new { Class = "form-control mt-2 contact-data-txt phone-number", Placeholder = "Phone", Id = "corpContactPhone" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-md-3 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.ContactModel.AllowOnlinePurchases, new { Class = "online-purchase contact-data-checkbox", Id = "corpContactAllowPurchases" }) Allow Online Purchases?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-3 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0" id="corpContactNeedsUserAcct">
                                                <label id="needsUserAcct">
                                                    @Html.CheckBoxFor(x => x.ContactModel.NeedsUserAcct, new { Class = "new-user-acct contact-data-checkbox" }) Needs user account?
                                                </label>
                                            </div>
                                            <div class="form-group mx-2 my-2 my-md-0" id="corpContactUserName">
                                                <label>User Name:</label>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0" id="userPassRecipientForm">
                                                @Html.LabelFor(x => x.ContactModel.UserPassEmailRecipient)
                                                @Html.TextBoxFor(x => x.ContactModel.UserPassEmailRecipient, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Email" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.UserPassEmailRecipient, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col col-12">
                                            <div class="d-flex justify-content-end">
                                                <input type="submit" class="btn btn-primary me-3" value="Save" />
                                                <button type="button" class="btn btn-secondary" id="cancelContactForm">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="corp-listing-objects">
            <div class="filter-bar @(Model.IsSiteAdmin && Model.CurrentCorpID == 0 ? "" : "d-none")">
                <div class="corp-filter" id="corpFilter">
                    @using (Html.BeginForm("FilterCorporations", "ManageCorporationsWidget", FormMethod.Post, new { Id = "corpFilterForm" }))
                    {
                        @Html.HiddenFor(m => m.IsSiteAdmin)
                        @Html.HiddenFor(m => m.IsCorpAdmin)
                        @Html.HiddenFor(m => m.CurrentUserID)
                        @Html.HiddenFor(m => m.CurrentCorpID)
                        @Html.HiddenFor(m => m.ReturnUrl)

                        <div class="row">
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.CorporationData.Name, new { Class = "form-control corp-filter-txt", Placeholder = "Corporation Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.CorporationData.City, new { Class = "form-control corp-filter-txt", Placeholder = "City", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.DropDownListFor(x => x.CorporationData.StateID, Model.States, "State", new { Class = "form-control corp-filter-dropdown", Data_val = "false" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-md-3">
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control corp-filter-txt", Placeholder = "First Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control corp-filter-txt", Placeholder = "Last Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 d-flex my-2 my-md-0">
                                    <input type="submit" class="form-control btn btn-primary filter-btn me-3" value="Filter" />
                                    <input type="button" class="form-control btn btn-secondary" id="clearCorpFilterBtn" value="Clear" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="corps">
                <div id="deleteCorpConfirmModal" class="modal confirmation-modal">
                    <div class="modal-content">
                        <span class="close align-self-end close-delete-corp-modal">&times;</span>
                        <p class="mb-4 mt-2">Are you sure you want to delete <text id="corpName"></text>? All child facilities of this corporation will be deleted as well. Anyone associated with this corporation or child facilities will remain active and have access to their account.</p>
                        <div class="d-flex justify-content-end">
                            <a id="removeCorpBtn" href="" data-corpID="">Yes</a>
                            <a class="ms-3 close-delete-corp-modal">Cancel</a>
                        </div>
                    </div>
                </div>
                <div id="corpList">
                    <div class="row" id="corpTable"></div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <div id="corpLoading">
                        <span class="me-2 my-auto">Loading</span><i class="fa fa-spinner fa-spin my-auto"></i>
                    </div>
                    <nav aria-label="pagination">
                        <ul id="corpPagination" class="pagination"></ul>
                    </nav>
                </div>
            </div>
            <div class="m-4" id="noCorpsText"><p><strong>@ResHelper.GetString("Dashboard.ManageCorporationsWidget.NoCorporationsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</strong></p></div>
        </div>
    </div>
</div>