﻿@model Pedagogy.Models.Widgets.ReportsWidget.ReportsWidgetViewModel

@{
    Html.EnableClientValidation(false);
}

<div class="card reports-container">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading</h4>
        </div>
        <ul class="nav nav-tabs card-header-tabs" id="course-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#progress" role="tab" aria-controls="progress" aria-selected="true">Progress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#corporate" role="tab" aria-controls="corporate" aria-selected="false">Corporate</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" href="#compliance" role="tab" aria-controls="compliance" aria-selected="false">Compliance</a>
                </li>*@
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="progress" role="tabpanel">
                <div class="facility-dropdown-container">
                    @if (Model.Facilities.Count() > 0 && Model.Facilities.Count() > 1)
                    {
                        @Html.LabelFor(m => m.ProgressFilter.FacilityID)
                        @Html.DropDownListFor(m => m.FacilityID, Model.Facilities, "-- select a facility --", new { Class = "form-control", Id = "progReportFacilityDropdown" })
                    }
                    else
                    {
                        <input type="hidden" id="progReportFacilityDropdown" value="@Model.FacilityID" />
                    }
                </div>
                <div id="progReportFilter">
                    <div class="my-3">
                        @Html.Raw(ResHelper.GetString("Dashboard.ReportsWidget.ProgressReportExplanation ", LocalizationContext.CurrentCulture.CultureCode))
                    </div>
                    @using (Html.BeginForm("", "", FormMethod.Get, new { Id = "filter-progress-report", Class = "my-5" }))
                    {
                        @Html.HiddenFor(m => m.ProgressFilter.FacilityID, new { Id = "prog-filter-facilities" })
                        <div class="row mb-3">
                            <div class="col-12 col-md-5">
                                <div class="mx-2 py-2 py-md-0">
                                    @Html.LabelFor(m => m.ProgressFilter.ClassID)
                                    @Html.DropDownListFor(m => m.ProgressFilter.ClassID, Model.ProgressFilter.Classes, "", new { Class = "form-control", Id = "prog-filter-classes" })
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="mx-2 py-2 py-md-0">
                                    @Html.LabelFor(m => m.ProgressFilter.Status)
                                    @Html.DropDownListFor(m => m.ProgressFilter.Status, Model.ProgressFilter.Statuses, "", new { Class = "form-control", Id = "prog-filter-statuses" })
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mx-2 py-2 py-md-0">
                                    @Html.LabelFor(m => m.ProgressFilter.StudentID)
                                    @Html.DropDownListFor(m => m.ProgressFilter.StudentID, Model.ProgressFilter.Students, "", new { Class = "form-control", Id = "prog-filter-students" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="mx-2 py-2 py-md-0">
                                    @Html.LabelFor(m => m.ProgressFilter.LastAccessBegin)
                                    @Html.TextBoxFor(m => m.ProgressFilter.LastAccessBegin, new { Class = "form-control", @type = "date", Id = "last-access-begin-date" })
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mx-2 py-2 py-md-0">
                                    @Html.LabelFor(m => m.ProgressFilter.LastAccessEnd)
                                    @Html.TextBoxFor(m => m.ProgressFilter.LastAccessEnd, new { Class = "form-control", @type = "date", Id = "last-access-end-date" })
                                </div>
                            </div>
                            <div class="col-12 col-md-4 d-flex justify-content-center py-4 py-md-0">
                                <div class="d-flex mt-auto">
                                    <input type="submit" class="btn btn-primary me-2" value="Filter" id="filter-prog-report" />
                                    <button type="button" class="btn btn-secondary" onclick="clearProgressFilter()">Clear</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="progReportNoneFoundTxt">
                    <p>@ResHelper.GetString("Dashboard.ReportsWidget.NoReportItemsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
                </div>
                <div class="row my-4" id="progDataLoading">
                    <div class="text-center">
                        <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div id="progReportData" @(!Model.IsSiteAdmin ? "d-block" : "")>
                    <div class="d-flex mt-4">
                        <a class="fa fa-file-excel-o fa-2x ms-auto" href="" id="progReportExportToExcel"></a>
                        <a class="fa fa-file-o fa-2x ms-2" href="" id="progReportExportToCSV"></a>
                        <a class="fa fa-file-pdf-o fa-2x ms-2" href="" id="progReportExportToPDF"></a>
                    </div>
                    <table class="table prog-report-table">
                        <thead>
                            <tr>
                                <th>Facility</th>
                                <th>Class</th>
                                <th>Student</th>
                                <th>Status</th>
                                <th>Test Score</th>
                                <th>Last Access</th>
                                <th>Source</th>
                                <th>Class Time (hr:min:sec)</th>
                                <th>Test Time (hr:min:sec)</th>
                            </tr>
                        </thead>
                        <tbody id="prog-report-content">
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="pagination">
                            <ul id="progress-report-pagination" class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="corporate" role="tabpanel">
                <div class="facility-dropdown-container">
                    @if (Model.Facilities.Count() > 0 && Model.Facilities.Count() > 1)
                    {
                        @Html.LabelFor(m => m.ProgressFilter.FacilityID)
                        @Html.DropDownListFor(m => m.FacilityID, Model.Facilities, "-- select a facility --", new { Class = "form-control", Id = "corpReportFacilityDropdown" })
                    }
                    else
                    {
                        <input type="hidden" id="corpReportFacilityDropdown" value="@Model.FacilityID" />
                    }
                </div>
                <div id="corpReportNoneFoundTxt">
                    <p>@ResHelper.GetString("Dashboard.ReportsWidget.NoReportItemsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
                </div>
                <div class="row my-4" id="corpDataLoading">
                    <div class="text-center">
                        <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div id="corpReportData" @(!Model.IsSiteAdmin ? "d-block" : "")>
                    <div class="my-3">
                        @Html.Raw(ResHelper.GetString("Dashboard.ReportsWidget.CorporateReportExplanation", LocalizationContext.CurrentCulture.CultureCode))
                    </div>
                    <div id="corpReportTable">
                        <div class="d-flex mt-4">
                            <a class="fa fa-file-excel-o fa-2x ms-auto" href="@Url.Action("ExportCorporateReportToExcel", "ReportsWidget")" id="corpReportExportToExcel"></a>
                            <a class="fa fa-file-o fa-2x ms-2" href="@Url.Action("ExportCorporateReportToCSV", "ReportsWidget")" id="corpReportExportToCSV"></a>
                            <a class="fa fa-file-pdf-o fa-2x ms-2" href="@Url.Action("ExportCorporateReportToPDF", "ReportsWidget")" id="corpReportExportToPDF"></a>
                        </div>
                        <table class="table corp-report-table">
                            <thead>
                                <tr>
                                    <th>Facility</th>
                                    <th>Class</th>
                                    <th>Not Started</th>
                                    <th>In Progress</th>
                                    <th>Completed</th>
                                    <th>Class Total</th>
                                </tr>
                            </thead>
                            <tbody id="corp-report-content"></tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <nav aria-label="pagination">
                                <ul id="corporate-report-pagination" class="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                @*<div class="mt-4"><p style="font-size:16px;">@ResHelper.GetString("Dashboard.ReportsWidget.NoReportItemsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p></div>*@

            </div>
            @*<div class="tab-pane" id="compliance" role="tabpanel">
                    <div class="my-3">
                        @Html.Raw(ResHelper.GetString("Dashboard.ReportsWidget.ComplianceReportExplanation", LocalizationContext.CurrentCulture.CultureCode))
                    </div>
                    <div class="my-4">
                        @Html.LabelFor(m => m.EducationPlanID)
                        @Html.DropDownListFor(m => m.EducationPlanID, Model.EducationPlans, "", new { Class = "form-control", Id = "education-plan-drop-down" })
                    </div>
                    @if (Model.ComplianceReportData.Count() > 0)
                    {
                        <table class="table membership-table">
                            <thead>
                                <tr>
                                    <th>Course Title</th>
                                    <th>Expiration Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ComplianceReportData)
                                {
                                    <tr>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="mt-4"><p style="font-size:16px;">@ResHelper.GetString("Dashboard.ReportsWidget.NoReportItemsFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p></div>
                    }
                </div>*@
        </div>
    </div>
</div>