﻿@model Pedagogy.Models.Widgets.EventLogWidget.EventLogWidgetViewModel

@{
    Html.EnableClientValidation(false);
}

<div class="account-area">
    <div class="card event-log-widget">
        <div class="card-header d-flex">
            <h4>@Model.CardHeading</h4>
            <div class="ms-auto">
                @using (Html.BeginForm("DeleteAllEvents", "EventLogWidget", FormMethod.Post))
                {
                    @Html.Hidden("returnUrl", Request.RawUrl)
                    <button type="submit" class="btn btn-secondary">Clear Log</button>
                }
            </div>
        </div>
        <div class="card-body" id="event-log-contents">
            @if (Model.LogItems.Count() > 0)
            {
                <div class="mb-3" id="event-filter">
                    <form id="filter-events-form">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="from-date">From:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.FromDate, new { Class = "form-control", @type = "datetime-local", Id = "from-date" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="to-date">To:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.ToDate, new { Class = "form-control", @type = "datetime-local", Id = "to-date" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="exception-type">Exception Type:</label>
                                    @Html.DropDownListFor(m => m.FilterModel.ExceptionID, Model.FilterModel.Exceptions, "", new { Class = "form-control", Id = "exception-type" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="course-name">Course Name:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.CourseName, new { Class = "form-control", Id = "course-name" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="users-name">User's Name:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.UsersName, new { Class = "form-control", Id = "users-name" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="users-user-name">User's UserName:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.UsersUserName, new { Class = "form-control", Id = "users-user-name" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="student-name">Student's Name:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.StudentName, new { Class = "form-control", Id = "student-name" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="student-user-name">Student's UserName:</label>
                                    @Html.TextBoxFor(m => m.FilterModel.StudentUserName, new { Class = "form-control", Id = "student-user-name" })
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="my-2 px-md-2">
                                    <label for="organizationName">Organization:</label>
                                    @Html.TextBoxFor(x => x.FilterModel.OrganizationName, new { Class = "form-control", Id = "organizationName" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-5 mt-md-3 ms-3">
                                <input type="button" id="filter-events-btn" class="btn btn-primary" value="Filter" />
                                <input type="button" class="btn btn-secondary" onclick="ClearEventFilter()" value="Clear" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="loading-icon text-center">
                    <span class="me-2 my-auto">Loading</span><i class="fa fa-spinner fa-spin h-100 my-auto"></i>
                </div>
                <table class="table" id="events">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Event Occured On</th>
                            <th>User's Name / User's UserName</th>
                            <th>Student's Name / Student's UserName</th>
                            <th>Organization</th>
                            <th>Course Name</th>
                            <th>Exception Type</th>
                        </tr>
                    </thead>
                    <tbody id="events-list-group">
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="pagination">
                        <ul id="event-log-pagination" class="pagination">
                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div class="no-events-text">
                    <p>@ResHelper.GetString("Dashboard.EventLogWidget.NoEventsMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
                </div>
            }
        </div>
        <input type="hidden" id="eventsPerPage" value="@Model.EventsPerPage" />
        <input type="hidden" id="returnURL" value="@Request.RawUrl" />
    </div>
</div>