﻿@model Pedagogy.Models.Widgets.PayInvoiceWidget.PayInvoiceWidgetViewModel

<div class="card pay-invoice-widget">
    <div class="card-header p-3">
        <h4>@Model.CardHeading</h4>
    </div>
    <div class="card-body">
        <div id="payment-confirmation">@ResHelper.GetString("Dashboard.PayInvoiceWidget.PaymentReceivedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
        <div class="row my-4" id="order-details">
            @if (Model.PaidFor)
            {
                <div class="col-12 p-5" id="order-paid-msg">@Model.Content</div>
            }
            else
            {
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div id="order-invoice">@Html.Raw(Model.Content)</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div id="payment-card-details">
                        <h2>Payment Information</h2>
                        @using (Html.BeginForm("SendCardData", "PayInvoiceWidget", FormMethod.Post, new { Id = "payment-form" }))
                        {
                            @Html.HiddenFor(m => m.PaymentInfo.OrderId, new { Id = "orderID" });
                            <div class="row px-4">
                                <div class="text-danger mb-3 p-3" id="card-errors"></div>
                            </div>
                            <div class="row">
                                <div class="col-12 p-4" id="card-info">
                                    <div id="card-payment-method">
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(m => m.PaymentInfo.CardData.CardNo, "", new { Class = "text-danger" }) <br />
                                            @Html.LabelFor(m => m.PaymentInfo.CardData.CardNo) <br />
                                            @Html.EditorFor(m => m.PaymentInfo.CardData.CardNo, new { htmlAttributes = new { Class = "form-control", Id = "card-number" } })
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-lg-8 col-sm-12 mt-4">
                                                @Html.Label("Expiration Date") <br />
                                                @Html.DropDownListFor(m => m.PaymentInfo.CardData.Month, Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), new { Class = "form-control w-25 d-inline", Id = "month" })
                                                @Html.DropDownListFor(m => m.PaymentInfo.CardData.Year, Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), new { Class = "form-control w-50 d-inline", Id = "year" })
                                            </div>
                                            <div class="col-lg-4 col-sm-12">
                                                @Html.ValidationMessageFor(m => m.PaymentInfo.CardData.CVVCode, "", new { Class = "text-danger" }) <br />
                                                @Html.LabelFor(m => m.PaymentInfo.CardData.CVVCode) <br />
                                                @Html.EditorFor(m => m.PaymentInfo.CardData.CVVCode, new { htmlAttributes = new { Class = "form-control", Id = "cvv-code" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex mt-3 mb-2">
                                    <input type="submit" class="btn btn-secondary mt-3 me-3 ms-auto" value="Make Payment" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>