﻿@model Pedagogy.Models.Widgets.SpeechPreferencesWidget.SpeechPreferencesWidgetViewModel

<div class="account-area">
    <div class="card speech-preferences-widget">
        <div class="card-header">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="card-body">
            @if (Model.IsStudent)
            {
                using (Html.BeginForm("SaveSpeechPreferences", "SpeechPreferencesWidget", FormMethod.Post, new { Class = "row", Id = "speechForm" }))
                {
                    @Html.Hidden("studentID", Model.StudentID)
                    <div class="col-12 col-md-4 px-2 mt-3 d-md-flex d-lg-block">
                        <div class="mt-md-auto">
                            @Html.LabelFor(m => m.SpeechVoiceID)
                            @Html.DropDownListFor(m => m.SpeechVoiceID, Model.PreferredVoices, new { Class = "form-control", Id = "voice" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 px-2 mt-3">
                        @Html.LabelFor(m => m.SpeechRateID)
                        @Html.DropDownListFor(m => m.SpeechRateID, Model.PreferredSpeed, new { Class = "form-control", Id = "rate" })
                    </div>
                    <div class="col-12 col-md-4 px-2 mt-3 d-flex">
                        <div class="mt-auto">
                            <input type="submit" class="btn btn-secondary" value="Save" />
                            <button type="button" id="preview-speech-btn" data-lang="@LocalizationContext.CurrentCulture.CultureCode" data-test-text="@ResHelper.GetString("Dashboard.SpeechPreferencesWidget.PreviewText", LocalizationContext.CurrentCulture.CultureCode)" class="btn btn-secondary">Preview</button>
                        </div>
                    </div>
                    <div id="preview-speech-section"></div>
                }
            }
            else
            {
                <div class="not-student-warning-txt">
                    <p>@ResHelper.GetString("Dashboard.SpeechPreferencesWidget.NotStudentWarningMsg", LocalizationContext.CurrentCulture.CultureCode)</p>
                </div>
            }
        </div>
        <div id="previewTxt">@ResHelper.GetString("Dashboard.SpeechPreferencesWidget.PreviewText", LocalizationContext.CurrentCulture.CultureCode)</div>
    </div>
</div>