﻿@model Pedagogy.Models.Widgets.ManageFacilityClassesWidget.ManageFacilityClassesWidgetViewModel

<div class="card manage-facility-classes">
    <div class="card-header d-flex">
        <div class="course-header-title mr-auto">
            <h4>@Model.CardHeading @Model.FacilityName</h4>
        </div>
        <div class="p-3 p-md-0">
            <a class="btn btn-secondary" href="@ContentIdentifiers.MANAGE_FACILITY_PAGE">Back</a>
        </div>
    </div>
    <div class="card-body facility-class-table">
        @if (Model.FacilityClasses.Count() > 0 || Model.FacilityMembershipClasses.Count() > 0)
        {
            <div class="facility-package-update-modal modal confirmation-modal">
                <div class="modal-content">
                    <span class="close align-self-end" id="close" onclick="closeFacilityPackageUpdateModal()">&times;</span>
                    <div>
                        <p>@ResHelper.GetString("Dashboard.ManageFacilityClassesWidget.UpdatingPackageQtyWarningMsg")</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="update-facility-class" href="">Yes</a>
                        <a onclick="closeFacilityPackageUpdateModal()" class="cancel-btn ml-3">Cancel</a>
                    </div>
                </div>
            </div>
            if (Model.FacilityClasses.Count() > 0)
            {
                <h3 class="mb-3">Classes</h3>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            @if (Model.IsSiteAdmin)
                            {
                                <th></th>
                            }
                            <th>Name</th>
                            <th>Used</th>
                            <th>Purchased</th>
                            <th>Not Started</th>
                            <th>In Progress</th>
                            <th>Completed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="student-list">
                        @foreach (var item in Model.FacilityClasses)
                        {
                            <tr>
                                @if (Model.IsSiteAdmin)
                                {
                                    <td>
                                        @if (!item.LimitReached && !string.IsNullOrEmpty(item.InvoiceNumber))
                                        {
                                            <div><strong>Invoice #:</strong> @item.InvoiceNumber</div>
                                            <a class="fa fa-pencil edit-facility-class" onclick="@(item.InPackage ? "displayInPackageWarning(this)" : "updateEditFacilityClassForm(this)")" data-facilityID="@item.FacilityID" data-classID="@item.ClassID" data-class-name="@item.ClassName" data-qty="@item.QuantityPurchased" data-qty-used="@item.AmountUsed"></a>
                                            <a class="fa fa-save save-facility-class-qty"></a>
                                        }
                                    </td>
                                }
                                <td>@item.ClassName</td>
                                <td>@item.AmountUsed</td>
                                <td class="current-qty-purchased">@item.QuantityPurchased</td>
                                <td class="changed-qty">
                                    @using (Html.BeginForm("EditFacilityClassQty", "ManageFacilityClassesWidget", FormMethod.Post, new { Class = "update-qty-form" }))
                                    {
                                        @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                        @Html.Hidden("facilityID", item.FacilityID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.TextBox("quantity", item.QuantityPurchased, new { Class = "form-control input-qty", Onkeydown = "return false", Type = "number", Max = $"{item.QuantityPurchased}", Min = $"{item.AmountUsed}" })
                                    }
                                </td>
                                <td>@item.AmountNotStarted</td>
                                <td>@item.AmountInProgress</td>
                                <td>@item.AmountCompleted</td>
                                <td><a href="@ContentIdentifiers.MANAGE_ENROLLMENT?facilityID=@Model.FacilityID&classID=@item.ClassID&invoiceNum=@item.InvoiceNumber">Manage Enrollment</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            if (Model.FacilityMembershipClasses.Count() > 0)
            {
                <h3 class="my-4">Membership Classes</h3>
                <table class="table mem-classes-table">
                    <thead>
                        <tr class="text-center">
                            @if (Model.IsSiteAdmin)
                            {
                                <th></th>
                            }
                            <th>Name</th>
                            <th>Used</th>
                            <th>Purchased</th>
                            <th>Not Started</th>
                            <th>In Progress</th>
                            <th>Completed</th>
                            <th>Expiration Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="student-list">
                        @foreach (var item in Model.FacilityMembershipClasses)
                        {
                            <tr>
                                @if (Model.IsSiteAdmin)
                                {
                                    <td>
                                        @if (!item.LimitReached && !string.IsNullOrEmpty(item.InvoiceNumber))
                                        {
                                            <div><strong>Invoice #:</strong> @item.InvoiceNumber</div>
                                            <a class="fa fa-pencil edit-facility-class" onclick="@(item.InPackage ? "displayInPackageWarning(this)" : "updateEditFacilityClassForm(this)")" data-facilityID="@item.FacilityID" data-classID="@item.ClassID" data-class-name="@item.ClassName" data-qty="@item.QuantityPurchased" data-qty-used="@item.AmountUsed"></a>
                                            <a class="fa fa-save save-facility-class-qty"></a>
                                        }
                                    </td>
                                }
                                <td>@item.ClassName</td>
                                <td>@item.AmountUsed</td>
                                <td class="current-qty-purchased">@item.QuantityPurchased</td>
                                <td class="changed-qty">
                                    @using (Html.BeginForm("EditFacilityClassQty", "ManageFacilityClassesWidget", FormMethod.Post, new { Class = "update-qty-form" }))
                                    {
                                        @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                        @Html.Hidden("facilityID", item.FacilityID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.TextBox("quantity", item.QuantityPurchased, new { Class = "form-control input-qty", Onkeydown = "return false", Type = "number", Max = $"{item.QuantityPurchased}", Min = $"{item.AmountUsed}" })
                                    }
                                </td>
                                <td>@item.AmountNotStarted</td>
                                <td>@item.AmountInProgress</td>
                                <td>@item.AmountCompleted</td>
                                <td>@item.ExpDate</td>
                                <td><a href="@ContentIdentifiers.MANAGE_ENROLLMENT?facilityID=@Model.FacilityID&classID=@item.ClassID&invoiceNum=@item.InvoiceNumber">Manage Enrollment</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <div class="my-3">@ResHelper.GetString("Dashboard.NoFacilityClassesMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/components/_manage-facility-classes.js"></script>