﻿@model Pedagogy.Models.Widgets.ManageEducationPlansWidget.ManageEducationPlansWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <div class="course-header-title mr-auto">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="ml-3">
            <button type="button" class="btn btn-secondary" id="new-education-plan-btn" onclick="displayNewEducationPlanForm()">New Education Plan</button>
        </div>
    </div>
    <div class="card-body">
        <div id="new-education-plan" style="display:none;">
            @using (Ajax.BeginForm("CreateNewEducationPlan", "ManageEducationPlansWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displayEducationPlanListing(data)" }))
            {
                <div class="row">
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4>Plan Information</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4>Directions</h4>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>
                                @Html.LabelFor(m => m.EducationPlanData.PlanName)
                                @Html.TextBoxFor(m => m.EducationPlanData.PlanName, new { Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.PlanNameDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>
                                @Html.LabelFor(m => m.EducationPlanData.FacilityID)
                                @Html.DropDownListFor(m => m.EducationPlanData.FacilityID, Model.EducationPlanData.Facilities, "", new { Class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.SelectFacilityDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4>Classes</h4>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <button class="btn btn-secondary" id="add-classes-btn">Add Classes</button>
                            <div id="select-classes-modal" style="display:none;" class="modal confirmation-modal">
                                <div class="modal-content">
                                    <span class="close align-self-end" onclick="closeSelectClassModal()">&times;</span>
                                    <div class="m-2">
                                        @*this will be a listing of all the classes this facility has in their course 'bucket'*@
                                        @using (Ajax.BeginForm("AddClasses", "ManageEducationPlansWidget", new AjaxOptions { HttpMethod = "POST" }))
                                        {
                                            <div id="available-classes">

                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <input type="submit" value="Add" style="color:#1489bc;border:unset;background-color:transparent;" />
                                                <a style="cursor:pointer;" onclick="closeSelectClassModal()" class="ml-3">Cancel</a>
                                            </div>
                                        }
                                        <div class="d-flex justify-content-center">
                                            <nav aria-label="pagination">
                                                <ul id="plan-add-class-pagination" class="pagination">
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                @*a listing of the courses that were selected
                                    -include
                                        -Remove button
                                        -Classname
                                        -date added
                                *@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.ClassesDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.RemoveClassesDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mt-3">
                                @Html.LabelFor(m => m.EducationPlanData.AutoUpgradeClasses, new { Class = "d-block" })
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.AutoUpgradeClasses, true) Yes</label>
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.AutoUpgradeClasses, false) No</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.AutoUpgradeDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4>License Types Assigned</h4>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.AddLicenseTypesDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.RemoveLicenseTypesDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mt-3">
                                @Html.LabelFor(m => m.EducationPlanData.AssignClassesBasedOnLicense, new { Class = "d-block" })
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.AssignClassesBasedOnLicense, true) Yes</label>
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.AssignClassesBasedOnLicense, false) No</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.AutoAssignLicenseDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4>Enforcement Preferences</h4>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="my-2">@Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.ClassSequenceDirections", LocalizationContext.CurrentCulture.CultureCode))</div>
                            <div class="my-2">@Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.ClassWarningDaysDirections", LocalizationContext.CurrentCulture.CultureCode))</div>
                            <div class="my-2">@Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.ClassAlertDaysDirections", LocalizationContext.CurrentCulture.CultureCode))</div>
                            <div class="my-2">@Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.ClassDurationDirections", LocalizationContext.CurrentCulture.CultureCode))</div>
                            <div class="my-2">@Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.NewClassVersionDirections", LocalizationContext.CurrentCulture.CultureCode))</div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="mt-3">
                                @Html.LabelFor(m => m.EducationPlanData.PlanStatus, new { Class = "d-block" })
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.PlanStatus, true) Enable</label>
                                <label class="m-2">@Html.RadioButtonFor(m => m.EducationPlanData.PlanStatus, false) Disable</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            @Html.Raw(ResHelper.GetString("Dashboard.EducationPlanWidget.StatusDirections", LocalizationContext.CurrentCulture.CultureCode))
                        </div>
                    </div>                    
                </div>
                <div class="row mt-4">
                    <div class="d-flex justify-content-end p-3">
                        <input type="submit" class="btn btn-primary m-2" value="Save" />
                        <button type="button" class="btn btn-secondary m-2" onclick="displayEducationPlans()">Cancel</button>
                    </div>
                </div>
            }
        </div>
        <div id="education-plan-list">
            @if (Model.EducationPlans.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Education Plan Name</th>
                            <th>Created</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.EducationPlans)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="#">Assign Students</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>No education plans found</div>
            }
        </div>
    </div>
</div>