﻿@model Pedagogy.Models.Widgets.ChangePasswordWidget.ChangePasswordWidgetViewModel

<div class="account-area">
    <div class="card">
        <div class="card-header">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <span class="mb-3" id="err-success-msg"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 px-md-4">
                    @using (Ajax.BeginForm("RequestPasswordReset", "ChangePasswordWidget", new AjaxOptions { HttpMethod = "POST", OnSuccess = "displayChangePasswordMsg" }, new { Class = "px-lg-4 mx-lg-5" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="my-3">
                            @Html.LabelFor(m => m.CurrentPassword, new { Class = "control-label" })
                            <div class="password-input-container">
                                @Html.PasswordFor(m => m.CurrentPassword, new { Class = "form-control", Id = "current-password", Autocomplete = "off" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { Class = "text-danger" })
                        </div>
                        <div class="my-3">
                            @Html.LabelFor(m => m.NewPassword, new { Class = "control-label" })
                            <div class="password-input-container">
                                @Html.PasswordFor(m => m.NewPassword, new { Class = "form-control password-input", Id = "new-password", Autocomplete = "off" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { Class = "text-danger" })
                        </div>
                        <div class="my-3">
                            @Html.LabelFor(m => m.ConfirmPassword, new { Class = "control-label" })
                            <div class="password-input-container">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "form-control", Id = "confirm-new-password", Autocomplete = "off" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { Class = "text-danger" })
                        </div>
                        <input type="submit" class="btn btn-secondary mt-3" value="Change Password" />
                    }
                </div>
                <div class="col-12 col-md-6">
                    <div class="my-3">
                        <div class="col-12">
                            @Html.Partial("Partials/_PasswordRequirements")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>