﻿@model Pedagogy.Models.Widgets.ArchivedCoursesWidget.ArchivedCoursesWidgetViewModel

<div class="account-area">
    <div class="card">
        <div class="card-header">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="card-body">
            @if (Model.ArchivedClasses.Count() > 0)
            {
                <table class="table current-course-table" style="overflow-x:auto;">
                    <thead>
                        <tr>
                            <th>Course Title</th>
                            <th>Test Score</th>
                            <th>Date Completed</th>
                            <th>Course Link</th>
                            <th>Test Attempts</th>
                            <th>Print Certificate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model.ArchivedClasses)
                            {
                                <td>@item.ClassName</td>
                                <td>@item.TestScore%</td>
                                <td>@item.DateCompletedOn</td>
                                <td><a href="@item.ClassPageUrl">View Course</a></td>
                                <td>
                                    @if (item.AttemptUrls.Count() > 0)
                                    {
                                        <ul>
                                            @foreach (var i in item.AttemptUrls)
                                            {
                                                <li><a href="@i.Value">Attempt @i.Key</a></li>
                                            }
                                        </ul>
                                    }
                                </td>
                                <td class="print-icon"><a href="@item.PrintCertUrl" target="_blank"><i class="fa fa-print"></i></a></td>
                            }
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <div><p style="font-size:16px;">@ResHelper.GetString("Dashboard.ArchivedCoursesWidget.NoCoursesFoundMsg", LocalizationContext.CurrentCulture.CultureCode)</p></div>
            }
        </div>
    </div>
</div>