﻿@model Pedagogy.Models.Widgets.ManageEnrollmentWidget.ManageEnrollmentWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <div class="course-header-title mr-auto">
            <h4>@Model.CardHeading @Model.ClassName</h4>
        </div>
        <div>
            <a class="btn btn-secondary" href="@ContentIdentifiers.MANAGE_FACILITY_CLASSES?facilityID=@Model.FacilityID">Back</a>
        </div>
    </div>
    <div class="card-body">
        @if (Model.ClassData.Count() > 0)
        {
            <table class="table" style="overflow-x:auto;">
                <thead>
                    <tr>
                        <th>Unused: @Model.AmountUnused</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Locked</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ClassData)
                    {
                        <tr>
                            <td>
                                @using (Html.BeginForm("AssignClass", "ManageEnrollmentWidget", FormMethod.Post, new { Class = "d-inline" }))
                                {
                                    @Html.Hidden("returnUrl", Request.RawUrl)
                                    @Html.Hidden("facilityID", item.FacilityID)
                                    @Html.Hidden("studentID", item.StudentID)
                                    @Html.Hidden("classID", item.ClassID)
                                    @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                    @Html.Hidden("expDate", item.ExpDate)
                                    @Html.Hidden("facilityMemID", item.FacilityMembershipID)
                                    <button id="assign-class" type="submit" @(item.Assigned || Model.LimitReached ? "disabled" : "")><i class="fa fa-plus-square"></i></button>
                                }
                                @using (Html.BeginForm("UnassignClass", "ManageEnrollmentWidget", FormMethod.Post, new { Class = "d-inline" }))
                                {
                                    @Html.Hidden("returnUrl", Request.RawUrl)
                                    @Html.Hidden("facilityID", item.FacilityID)
                                    @Html.Hidden("studentID", item.StudentID)
                                    @Html.Hidden("classID", item.ClassID)
                                    @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                    @Html.Hidden("facilityMemID", item.FacilityMembershipID)
                                    <button id="unassign-class" type="submit" @(!item.Assigned || item.IsLocked ? "disabled" : "")><i class="fa fa-minus-square"></i></button>
                                }
                            </td>
                            <td>@item.StudentName</td>
                            <td>@item.Status</td>
                            <td>@(item.IsLocked ? "Locked" : "Unlocked")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>