﻿@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<Pedagogy.Models.Widgets.AdWidget.AdWidgetProperties>

@{ 
    var img = Pedagogy.Lib.Helpers.ContentHelper.GetSelectedMediaFile(Model.Properties.AdImage?.FirstOrDefault());
}

<div class="my-3">
    <a href="@Model.Properties.AdUrl" target="@(Model.Properties.NewTab ? "_blank" : "")">
        <img src="@(!string.IsNullOrEmpty(img) ? Url.Kentico().ImageUrl(img, SizeConstraint.Size(350, 250)) : "")" alt="Pedagogy Ad" />
    </a>
</div>