﻿@model Pedagogy.Models.Widgets.RegsiterNewCourseWidget.RegisterNewCourseWidgetViewModel

<div class="card">
    <div class="card-header d-flex">
        <h4 class="me-auto">@Model.CardHeadingText</h4>
        <div>
            <i class="show-card-body fa fa-plus-square fa-lg"></i>
            <i class="hide-card-body fa fa-minus-square fa-lg"></i>
        </div>
    </div>
    <div class="card-body card-action-box">
        <div id="view-cart-confirmation-modal" class="modal confirmation-modal">
            <div class="modal-content">
                <span class="close align-self-end" id="close">&times;</span>
                <p class="mb-4 mt-2" id="modal-msg"></p>
                <div class="d-flex justify-content-end">
                    <a class="ms-3" href="@Url.Action("ShoppingCart", "Checkout")" style="cursor:pointer;">View Cart</a>
                </div>
            </div>
        </div>
        @if (Model.IsAdmin)
        {
            <div class="mb-3">
                <label>Select a Facility</label>
                @Html.DropDownListFor(m => m.FacilityID, Model.Facilities, "--Select a facility--", new { Class = "form-control", Id = "facility-dropdown" })
            </div>
        }
        <label>Select a Class</label>
        @Html.DropDownListFor(m => m.ClassID, Model.Courses, "--Select a class--", new { Class = "form-control", Id = "class-dropdown" })

        @if (Model.ClassData.Count() > 0)
        {
            foreach (var item in Model.ClassData)
            {
                <div class="description mt-4" id="class-desc-@item.SKU.SKUNumber" style="display:none;">
                    <h5>@item.CourseTitle</h5>
                    <div class="row my-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>Contact Hour@(item.CourseContactHours > 1 ? "s" : ""): @item.CourseContactHours</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div>Price: $@Math.Round(item.SKU.SKUPrice, 2)</div>
                        </div>
                    </div>
                    <div class="row my-3">
                        @if (item.SKU.SKUPrice == 0)
                        {
                            using (Html.BeginForm("AddToDashboard", "RegisterNewCourseWidget", FormMethod.Post, new { Class = "mt-3" }))
                            {
                                <input type="hidden" name="returnUrl" value="@Request.RawUrl" />
                                <input type="hidden" name="classID" value="@int.Parse(item.SKU.SKUNumber)" />
                                <input type="hidden" name="itemSKUID" value="@item.NodeSKUID" />

                                <div class="d-flex justify-content-evenly">
                                    <div class="mx-1 facility-qty-box" @(Model.IsAdmin && Model.FacilityID != 0 ? "style=display:block;" : "style=display:none;")>
                                        <label>Quantity</label>
                                        <input type="number" name="qty" class="form-control" value="1" min="0" />
                                    </div>
                                    <input type="submit" class="btn btn-primary mt-auto free-course-add-btn" value="@(Model.FacilityID != 0 ? "Add To Facility Class List" : "Add To Dashboard")" />
                                </div>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("AddToCart", "RegisterNewCourseWidget", FormMethod.Post, new { Class = "mt-3 add-to-cart-form" }))
                            {
                                <input type="hidden" name="courseTitle" value="@item.CourseTitle" />
                                <input type="hidden" name="itemSKUID" value="@item.NodeSKUID" />
                                <input type="hidden" name="facilityID" />
                                <div class="d-flex justify-content-evenly">
                                    @if (Model.IsAdmin)
                                    {
                                        <div class="mx-1">
                                            <label>Quantity</label>
                                            <input type="number" name="itemQuantity" class="form-control" value="1" min="0" />
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="itemQuantity" value="1" />
                                    }
                                    <div class="mx-1 d-flex">
                                        <input type="submit" class="btn btn-primary mt-auto" value="Add To Cart" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <h6>Objectives</h6>
                    @Html.Raw(item.CourseObjectives)
                </div>
            }
        }
    </div>
</div>