﻿@model ComponentViewModel<Pedagogy.Models.Widgets.InfoWidget.InfoWidgetProperties>

@{ 
    TreeNode btnUrl = ContentHelper.GetSelectedPage(Model.Properties.BtnUrl?.FirstOrDefault());
}

<div class="icon">
    <i class="@Model.Properties.Icon"></i>
</div>
<h3>@Model.Properties.Title</h3>
<p>@Model.Properties.Text</p>
<a href="@btnUrl.NodeAliasPath" class="btn btn-outline-light">@Model.Properties.BtnText</a>

