﻿@model Pedagogy.Models.Widgets.StudentInfoWidget.StudentInfoWidgetViewModel

<div class="account-area">
    <div class="card student-info-widget">
        <div class="card-header">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="card-body px-5">
            @if (string.IsNullOrEmpty(Model.NonStudentErrMsg))
            {
                <label class="w-100">Name: (as it appears on your certificate)</label>
                using (Html.BeginForm("SaveStudentInfo", "StudentInfoWidget", FormMethod.Post, new { Id = "updateStudentInfoForm" }))
                {
                    @Html.HiddenFor(m => m.ContactID)
                    <div class="row">
                        <div class="col-12 col-md-6 px-2">
                            @Html.LabelFor(m => m.FirstName) <br />
                            @Html.TextBoxFor(m => m.FirstName, new { Class = "form-control d-inline" }) <br />
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { Class = "text-danger" })
                        </div>
                        <div class="col-12 col-md-6 px-2">
                            @Html.LabelFor(m => m.LastName) <br />
                            @Html.TextBoxFor(m => m.LastName, new { Class = "form-control d-inline" }) <br />
                            @Html.ValidationMessageFor(m => m.LastName, "", new { Class = "text-danger" })
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                }
            }
            else
            {
                <div><p>@Html.Raw(Model.NonStudentErrMsg)</p></div>
            }
        </div>
    </div>
</div>