﻿@model Pedagogy.Models.Widgets.BannerWidget.BannerWidgetViewModel

<div class="bradcam_area bradcam_overlay" style="@(!string.IsNullOrEmpty(Model.BannerItem.GetStringValue(nameof(Banner.BannerBackgroundImg), "")) ? $"background-image:url({ Model.BannerItem.GetStringValue(nameof(Banner.BannerBackgroundImg), "") })" : "")">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text ms-3">
                    <h3>@Model.BannerItem.GetStringValue(nameof(Banner.BannerTitle), "")</h3>
                    @if (Model.Breadcrumbs.Count() > 0)
                    {
                        <p>
                            @{
                                int counter = 1;
                            }
                            @foreach (var item in Model.Breadcrumbs)
                            {
                                if (item.Active)
                                {
                                    @(counter < Model.Breadcrumbs.Count() ? Html.Raw(item.Title + " / ") : Html.Raw(item.Title))
                                }
                                else
                                {
                                    if (counter < Model.Breadcrumbs.Count())
                                    {
                                        <a href="@item.Url">@Html.Raw(item.Title) / </a>
                                    }
                                    else
                                    {
                                        <a href="@item.Url">@Html.Raw(item.Title)</a>
                                    }
                                }
                                counter++;
                            }
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>