﻿@model Pedagogy.Models.Widgets.ManageFacilitiesWidget.ManageFacilitiesWidgetViewModel

@{
    Html.EnableClientValidation(true);

    var dropdownAttributes = new Dictionary<string, object>();
    dropdownAttributes.Add("Class", "form-control facility-data-dropdown");
    dropdownAttributes.Add("Id", "facilityParentDropdown");

    if (!Model.IsSiteAdmin && !Model.IsCorporateAdmin)
    {
        dropdownAttributes.Add("Disabled", "True");
    }
}

<div class="card manage-facilities">
    <div class="card-header">
        <div class="title">
            <h4>@Model.CardHeading</h4>
        </div>
        <div class="facility-action-btns">
            @if (Model.IsSiteAdmin)
            {
                if (Model.ParentFacilityID != 0)
                {
                    <a href="@ContentIdentifiers.MANAGE_FACILITY_PAGE" class="btn btn-secondary me-2 me-md-3" id="viewAllFacilitiesBtn">View All</a>
                }
                <a class="btn btn-secondary me-1 me-md-3" id="manageCorpsBtn" href="@ContentIdentifiers.MANAGE_CORPORATION_PAGE">Manage Corporations</a>
            }
            @if (Model.IsCorporateAdmin || Model.IsSiteAdmin)
            {
                <button class="btn btn-secondary" id="newFacility">Create New</button>
            }
            <button class="btn btn-secondary" id="backToFacilityListingBtn">Back</button>
        </div>
    </div>
    <div class="card-body">
        <div class="modal confirmation-modal justify-content-center" id="facilityProcessLoadingModal">
            <div class="modal-content">
                <div class="text-center my-auto">
                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="facility-forms">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2 p-0 tabs-col">
                    <ul class="nav nav-tabs justify-content-start" id="facilityTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="facilityInfoTab" data-toggle="tab" href="#facilityInfo" role="tab" aria-controls="facilityInfo" aria-selected="true">Facility Info</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="preferencesTab" data-toggle="tab" href="#preferences" role="tab" aria-controls="preferences" aria-selected="false">Preferences</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contactsTab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">Contacts</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="staffMembersTab" data-toggle="tab" href="#staffMembers" role="tab" aria-controls="staffMembers" aria-selected="false">Staff Members</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="printCertsTab" data-toggle="tab" href="#printCerts" role="tab" aria-controls="printCerts" aria-selected="false">Print Certificates</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="membershipsTab" data-toggle="tab" href="#memberships" role="tab" aria-controls="memberships" aria-selected="false">Memberships</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="classesTab" data-toggle="tab" href="#classes" role="tab" aria-controls="classes" aria-selected="false">Classes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-9 col-lg-10 p-0">
                    <div class="tab-content" id="facilityTabContent">
                        <div class="tab-pane fade" id="facilityInfo" role="tabpanel" aria-labelledby="facilityInfoTab">
                            <div id="newFacilityForm">
                                @using (Html.BeginForm("UpdateFacilityInfo", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "updateFacilityInfoForm" }))
                                {
                                    @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                    <div class="form-header">
                                        <h3>Facility Information <text id="facilityCode"></text></h3>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col col-12 col-lg-4">
                                            <div class="form-group mx-2 my-2 my-lg-0">
                                                @Html.LabelFor(x => x.FacilityData.Name)
                                                @Html.TextBoxFor(x => x.FacilityData.Name, new { Placeholder = "Facility Name", Class = "form-control facility-data-txt", Id = "facilityName" })
                                                @Html.ValidationMessageFor(x => x.FacilityData.Name, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-10 col-lg-6">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.FacilityParentID)
                                                @Html.DropDownListFor(x => x.FacilityData.FacilityParentID, Model.ParentFacilities, "Corporation", dropdownAttributes)
                                                @Html.ValidationMessageFor(x => x.FacilityData.FacilityParentID, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-2 d-flex">
                                            <div class="form-group mx-2 d-flex my-2 my-md-0">
                                                @if (Model.IsSiteAdmin || Model.IsCorporateAdmin)
                                                {
                                                    <label class="mt-auto">@Html.CheckBoxFor(x => x.FacilityData.Enabled, new { Id = "facilityEnabled", Checked = true }) <strong>Enabled?</strong></label>
                                                }
                                                else
                                                {
                                                    @Html.Hidden("FacilityData.Enabled", true)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col col-12 col-md-8">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.AddressLine1)
                                                @Html.TextBoxFor(x => x.FacilityData.AddressLine1, new { Placeholder = "Address Line 1", Class = "form-control facility-data-txt", Id = "facilityAddressLine1" })
                                                @Html.ValidationMessageFor(x => x.FacilityData.AddressLine1, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.AddressLine2)
                                                @Html.TextBoxFor(x => x.FacilityData.AddressLine2, new { Placeholder = "Address Line 2", Class = "form-control facility-data-txt", Id = "facilityAddressLine2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.City)
                                                @Html.TextBoxFor(m => m.FacilityData.City, new { Placeholder = "City", Class = "form-control facility-data-txt", Id = "facilityAddressCity" })
                                                @Html.ValidationMessageFor(x => x.FacilityData.City, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.StateID)
                                                @Html.DropDownListFor(x => x.FacilityData.StateID, Model.States, "State", new { Class = "form-control facility-data-dropdown", Id = "facilityAddressState" })
                                                @Html.ValidationMessageFor(x => x.FacilityData.StateID, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.FacilityData.Zip)
                                                @Html.TextBoxFor(x => x.FacilityData.Zip, new { Placeholder = "Zip Code", Class = "form-control facility-data-txt", Id = "facilityAddressZip" })
                                                @Html.ValidationMessageFor(x => x.FacilityData.Zip, "", new { Class = "text-danger facility-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="d-flex justify-content-end">
                                            <input type="submit" class="btn btn-secondary" value="Save" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="preferencesTab">
                            @using (Html.BeginForm("UpdateFacilityPreferences", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "updateFacilityPreferencesForm" }))
                            {
                                @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                <div class="form-header">
                                    <h3>Facility Preferences</h3>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="form-group mt-2">
                                            <label>@Html.CheckBoxFor(m => m.FacilityData.EmailMonthlyProgress, new { Id = "facilityPrefEmailMonthlyProgress" }) @ResHelper.GetString("Dashboard.FacilityPreferences.EmailMonthlyProgressReport", LocalizationContext.CurrentCulture.CultureCode)</label>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label>@Html.CheckBoxFor(m => m.FacilityData.AssignHowToPedagogy, new { Id = "facilityPrefAssignHowToPedagogy" }) @ResHelper.GetString("Dashboard.FacilityPreferences.AssignHowToCourseToNewStaff", LocalizationContext.CurrentCulture.CultureCode)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" class="btn btn-secondary" value="Save" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contactsTab">
                            <div class="modal contact-confirmation-modal" id="deleteContactConfirmModal">
                                <div class="modal-content">
                                    <span class="close align-self-end close-delete-contact">&times;</span>
                                    <p class="mb-4 mt-2">Are you sure you want to delete <text id="deleteContactName"></text>?</p>
                                    <div class="d-flex justify-content-end">
                                        <a id="removeContactBtn" href="" data-contactID="">Yes</a>
                                        <a class="ms-3 close-delete-contact">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex">
                                    <h3>Contacts</h3>
                                    <div class="ms-auto">
                                        <button id="addNewContactBtn" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" id="contactListLoading">
                                <div class="text-center">
                                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="row" id="contactsContainer"></div>
                            <div class="row">
                                @using (Html.BeginForm("UpdateContact", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "updateFacilityContactForm" }))
                                {
                                    <p>@Html.Raw(ResHelper.GetString("Dashboard.ManageFacilitiesWidget.FacilityAdminAccessWarningMsg", LocalizationContext.CurrentCulture.CultureCode))</p>
                                    @Html.HiddenFor(x => x.ContactModel.ContactID, new { Class = "contactID" })
                                    @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                    @Html.HiddenFor(x => x.ContactModel.ContactUserID, new { Id = "contactUserID" })
                                    <div class="row my-md-3">
                                        <div class="form-group text-danger" id="contactErrMsg"></div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-lg-4 mt-auto">
                                            <div class="form-group mx-2 my-2 my-lg-0">
                                                @Html.LabelFor(x => x.ContactModel.TypeID)
                                                @Html.DropDownListFor(x => x.ContactModel.TypeID, Model.ContactModel.ContactTypes, "Select a type", new { Class = "form-control contact-data-dropdown", Id = "facilityContactTypeDropdown" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6 col-lg-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.FirstName)
                                                @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "First Name", Id = "facilityContactFirstName" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.FirstName, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6 col-lg-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.LastName)
                                                @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Last Name", Id = "facilityContactLastName" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.LastName, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-md-7 col-lg-8">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.Email)
                                                @Html.TextBoxFor(x => x.ContactModel.Email, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Email", Id = "facilityContactEmail" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.Email, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-5 col-lg-4">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                @Html.LabelFor(x => x.ContactModel.Phone)
                                                @Html.TextBoxFor(x => x.ContactModel.Phone, new { Class = "form-control mt-2 contact-data-txt phone-number", Placeholder = "Phone", Id = "facilityContactPhone" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-md-3">
                                        <div class="col col-12 col-md-6 col-lg-3 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.ContactModel.AllowOnlinePurchases, new { Class = "online-purchase contact-data-checkbox", Id = "facilityContactAllowPurchases" }) Allow Online Purchases?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6 col-lg-3 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0" id="facilityContactNeedsUserAcct">
                                                <label id="needsUserAcct">
                                                    @Html.CheckBoxFor(x => x.ContactModel.NeedsUserAcct, new { Class = "new-user-acct contact-data-checkbox" }) Needs user account?
                                                </label>
                                            </div>
                                            <div class="form-group mx-2 my-2 my-md-0" id="facilityContactUserName">
                                                <label>User Name:</label>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6 mt-auto">
                                            <div class="form-group mx-2 my-2 my-md-0" id="userPassRecipientForm">
                                                @Html.LabelFor(x => x.ContactModel.UserPassEmailRecipient)
                                                @Html.TextBoxFor(x => x.ContactModel.UserPassEmailRecipient, new { Class = "form-control mt-2 contact-data-txt", Placeholder = "Email" })
                                                @Html.ValidationMessageFor(x => x.ContactModel.UserPassEmailRecipient, "", new { Class = "mt-2 text-danger contact-data-validation" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col col-12">
                                            <div class="d-flex justify-content-end">
                                                <input type="submit" class="btn btn-primary me-3" value="Save" />
                                                <button type="button" class="btn btn-secondary" id="cancelContactForm">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="staffMembers" class="tab-pane fade" role="tabpanel" aria-labelledby="staffMembersTab">
                            <div class="modal contact-confirmation-modal" id="deleteStudentConfirmModal">
                                <div class="modal-content">
                                    <span class="close align-self-end close-delete-student-modal">&times;</span>
                                    <p class="mb-4 mt-2">Are you sure you want to delete <text id="deleteStudentName"></text>?</p>
                                    <div class="d-flex justify-content-end">
                                        <a id="removeStudentBtn" href="" data-contactID="">Yes</a>
                                        <a class="ms-3 close-delete-student-modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="staffMembersPanelHeader">
                                <div class="d-md-flex">
                                    <h3>Staff Members <text id="staffMembersCount"></text></h3>
                                    <div class="ms-auto mt-3 mt-md-0">
                                        <button id="addNewStaffBtn" class="btn btn-primary">Add</button>
                                        <button id="addExistingStaffBtn" class="btn btn-primary">Add Exisiting</button>
                                    </div>
                                </div>
                            </div>
                            <form class="row mt-4" id="staffMembersFilter">
                                @Html.HiddenFor(x => x.FacilityID, new { Class = "facilityID" })
                                <div class="col-12 col-md-4 px-2 my-2 my-md-0">
                                    @Html.LabelFor(x => x.ContactModel.FirstName)
                                    @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control staff-member-filter-txt" })
                                </div>
                                <div class="col-12 col-md-4 px-2 my-2 my-md-0">
                                    @Html.LabelFor(x => x.ContactModel.LastName)
                                    @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control staff-member-filter-txt" })
                                </div>
                                <div class="col-12 col-md-4 px-2 d-flex my-2 my-md-0">
                                    <div class="mt-auto">
                                        <button class="btn btn-primary me-3 me-md-0" type="submit">Filter</button>
                                        <button class="btn btn-secondary" type="button" id="clearStaffMemberFilter">Clear</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row mt-3 mt-md-5" id="staffMembersList"></div>
                            <div class="d-flex justify-content-center mt-3">
                                <div id="staffMembersLoading">
                                    <span class="me-2 my-auto">Loading</span><i class="fa fa-spinner fa-spin my-auto"></i>
                                </div>
                                <nav aria-label="pagination">
                                    <ul id="staffMembersPagination" class="pagination"></ul>
                                </nav>
                            </div>
                            <p class="text-center" id="noStaffMembersTxt">No staff members found.</p>
                            <div class="row" id="addExisitingStudent">
                                @using (Html.BeginForm("AddExisitingStudent", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "addExistingStudentForm" }))
                                {
                                    @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                    <div class="row mb-4">
                                        <span id="addExistingStudentErrMsg" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12">
                                            @Html.LabelFor(m => m.ContactModel.UserName)
                                            @Html.TextBoxFor(m => m.ContactModel.UserName, new { Class = "form-control mt-2 student-data-txt no-spaces-validation", Placeholder = "Username" })
                                            @Html.ValidationMessageFor(m => m.ContactModel.UserName, "", new { Class = "mt-2 text-danger student-data-validation" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12">
                                            <input type="submit" value="Add" class="btn btn-primary mt-4" />
                                            <input type="button" value="Cancel" class="btn btn-primary mt-4" id="cancelAddExistingStudent" />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row" id="addNewStudent">
                                <p>@ResHelper.GetString("Dashboard.ManageStaffWidget.CreateNewStudentDirections")</p>
                                @using (Html.BeginForm("AddNewStudent", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "addNewStudentForm" }))
                                {
                                    @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                    <div class="row mb-4">
                                        <span id="addNewStudentErrMsg" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <div id="students">
                                                <div class="student row justify-content-start">
                                                    <div class="col-auto d-flex">
                                                        <span class="my-auto student-count">1</span>
                                                    </div>
                                                    <div class="col-11 row justify-content-evenly">
                                                        <div class="col-12 col-md-6 col-lg-3 my-2 my-lg-0">
                                                            <div class="mx-md-2 mx-lg-0">
                                                                @Html.TextBoxFor(x => x.ContactModels[0].FirstName, new { Class = "form-control student-data-txt no-spaces-validation", Placeholder = "First Name" })
                                                                @Html.ValidationMessageFor(x => x.ContactModels[0].FirstName, "", new { Class = "text-danger student-data-validation" })
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-lg-3 my-2 my-lg-0">
                                                            <div class="mx-md-2 mx-lg-0">
                                                                @Html.TextBoxFor(x => x.ContactModels[0].LastName, new { Class = "form-control student-data-txt no-spaces-validation", Placeholder = "Last Name" })
                                                                @Html.ValidationMessageFor(x => x.ContactModels[0].LastName, "", new { Class = "text-danger student-data-validation" })
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-4 my-2 my-lg-0">
                                                            <div class="mx-md-2 mx-lg-0">
                                                                @Html.TextBoxFor(x => x.ContactModels[0].Email, new { Class = "form-control student-data-txt no-spaces-validation", Placeholder = "Email" })
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <button type="button" class="fa fa-minus-circle remove-student"></button>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2 d-flex mt-auto mb-2 justify-content-center">
                                            <div>
                                                <button type="button" id="addStudentInput"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-5">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <label>@ResHelper.GetString("Dashboard.ManageStaffWidget.AdminEmailDirections", LocalizationContext.CurrentCulture.CultureCode)</label>
                                            <input type="text" name="emailRecipient" class="form-control mt-2" placeholder="Email" id="recipientEmail" />
                                        </div>
                                    </div>
                                    <input type="submit" value="Add" class="btn btn-primary mt-4" />
                                    <input type="button" value="Cancel" class="btn btn-primary mt-4" id="cancelAddNewStudent" />
                                }
                            </div>
                            <div class="row" id="manageStudentClasses">
                                <div class="d-md-flex mb-4">
                                    <h3 id="studentName" class="me-auto"></h3>
                                    <button class="btn btn-primary back-to-staff-listing">Back To Staff Listing</button>
                                </div>
                                <p class="no-facility-classes-txt">No classes found.</p>
                                <div class="row" id="facilityClassList"></div>
                            </div>
                            <div class="row" id="editStudent">
                                <div class="d-flex mb-4">
                                    <div class="ms-auto">
                                        <button class="btn btn-primary back-to-staff-listing">Back To Staff Listing</button>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <span id="updateStudentErrMsg" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <h4 class="mb-3">User Information</h4>
                                    <div class="col-12 col-lg-4 px-3">
                                        @using (Html.BeginForm("UpdateStudentUserData", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "updateStaffUserInfoForm", Class = "row" }))
                                        {
                                            @Html.HiddenFor(x => x.ContactModel.ContactUserID, new { Class = "contact-userID" })
                                            <div class="col-12 col-md-6 col-lg-12">
                                                <div class="px-md-2 px-lg-0">
                                                    <div class="d-flex justify-content-start">@Html.LabelFor(x => x.ContactModel.FirstName)<text class="text-danger">*</text></div>
                                                    @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control student-data-txt", Id = "studentFirstName" })
                                                    @Html.ValidationMessageFor(x => x.ContactModel.FirstName, "", new { Class = "text-danger  student-data-validation" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-12 mt-3 mt-md-0 mt-lg-3">
                                                <div class="px-md-2 px-lg-0">
                                                    <div class="d-flex justify-content-start">@Html.LabelFor(x => x.ContactModel.LastName)<text class="text-danger">*</text></div>
                                                    @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control student-data-txt", Id = "studentLastName" })
                                                    @Html.ValidationMessageFor(x => x.ContactModel.LastName, "", new { Class = "text-danger student-data-validation" })
                                                </div>
                                            </div>
                                            <div class="mt-3 d-flex">
                                                <div>
                                                    <label>@Html.CheckBoxFor(x => x.ContactModel.Enabled, new { Class = "student-data-checkbox", Id = "studentEnabled" }) Enabled</label>
                                                </div>
                                                <div class="ms-auto mt-4 mt-md-0 px-md-2 px-lg-0">
                                                    <input type="submit" value="Save" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-12 col-lg-8 px-1 px-lg-5 mt-4 mt-lg-0">
                                        <div class="row">
                                            <div class="col-6 col-md-2 px-md-2 text-md-center text-lg-start">
                                                <label class="student-user-data-label">UserID</label>
                                                <div id="studentUserID" class="student-user-data"></div>
                                            </div>
                                            <div class="col-6 col-md-4 px-md-2 text-md-center text-lg-start">
                                                <label class="student-user-data-label">Member Since</label>
                                                <div id="studentMemberSince" class="student-user-data"></div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-3 mt-md-0 px-md-2 text-md-center text-lg-start">
                                                <label class="student-user-data-label">User Name</label>
                                                <div id="studentUserName" class="student-user-data"></div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
                                                <button type="button" class="btn btn-primary" id="changeUserPass">Change User Password</button>
                                                <div id="studentChangePassModal" class="modal confirmation-modal text-start">
                                                    <div class="modal-content">
                                                        <span class="close align-self-end" id="closeStudentChangePassModal">&times;</span>
                                                        <div id="studentChangePassErrMsg" class="text-danger"></div>
                                                        <div>
                                                            @using (Html.BeginForm("ChangeStudentPassword", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "changeStudentPassForm" }))
                                                            {
                                                                @Html.HiddenFor(x => x.ContactModel.ContactUserID, new { Class = "contact-userID" })
                                                                <div class="m-2">
                                                                    <label id="studentDefaultPassword">@Html.CheckBoxFor(x => x.RegisterModel.DefaultPassword, new { Class = "student-data-checkbox" }) Use default password?</label>
                                                                </div>
                                                                <div id="studentPasswordInfo">
                                                                    <div class="m-2">
                                                                        @Html.LabelFor(m => m.RegisterModel.Password, new { Class = "control-label" })
                                                                        <div class="password-input-container">
                                                                            @Html.PasswordFor(x => x.RegisterModel.Password, new { Class = "form-control student-data-txt password-input", Id = "password" })
                                                                            <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                                                            <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                                                        </div>
                                                                        @Html.ValidationMessageFor(x => x.RegisterModel.Password, "", new { Class = "text-danger student-data-validation" })
                                                                    </div>
                                                                    <div class="m-2">
                                                                        @Html.LabelFor(x => x.RegisterModel.PasswordConfirmation, new { Class = "control-label" })
                                                                        <div class="password-input-container">
                                                                            @Html.PasswordFor(x => x.RegisterModel.PasswordConfirmation, new { Class = "form-control student-data-txt" })
                                                                            <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                                                            <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                                                        </div>
                                                                        @Html.ValidationMessageFor(x => x.RegisterModel.PasswordConfirmation, "", new { Class = "text-danger student-data-validation" })
                                                                    </div>
                                                                    <div class="m-2">
                                                                        @Html.Partial("Partials/_PasswordRequirements")
                                                                    </div>
                                                                </div>
                                                                <div class="mt-4 d-flex justify-content-end">
                                                                    <input value="Save" class="btn btn-primary" type="submit" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="saveChangesModal" class="modal confirmation-modal">
                                                    <div class="modal-content" id="user-modal-content">
                                                        <span class="close align-self-end" id="closeSaveChangesModal">&times;</span>
                                                        <div class="mt-3 mb-4">@ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.PasswordUpdatedMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 text-center text-md-start">
                                                <button type="button" id="impersonateStudentBtn" class="btn btn-primary ms-lg-3">Log In As This Student</button>
                                                <div id="impersonateErrModal" class="modal confirmation-modal text-start">
                                                    <div class="modal-content" id="user-modal-content">
                                                        <span class="close align-self-end" id="closeSaveChangesModal">&times;</span>
                                                        <div class="err-msg"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <ul class="directions">
                                                @Html.Raw(ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.UpdateUserDirections", LocalizationContext.CurrentCulture.CultureCode))
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    @using (Html.BeginForm("UpdateStudentInformation", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "updateStudentInfoForm" }))
                                    {
                                        <h3 class="mb-3">Student Information</h3>
                                        @Html.HiddenFor(x => x.ContactModel.ContactID, new { Class = "contactID" })
                                        @Html.HiddenFor(x => x.FacilityData.FacilityID, new { Class = "facilityID" })
                                        <div class="row">
                                            <div class="col-12 col-lg-8">
                                                <div class="row mb-md-3">
                                                    <label class="mb-3 mb-md-0">Certificate Name</label>
                                                    <div class="col-12 col-md-6 px-2">
                                                        <div class="d-flex justify-content-start">@Html.LabelFor(x => x.ContactModel.CertFirstName)<text class="text-danger">*</text></div>
                                                        @Html.TextBoxFor(m => m.ContactModel.CertFirstName, new { Class = "form-control student-data-txt", Id = "studentCertFirstName" })
                                                        @Html.ValidationMessageFor(m => m.ContactModel.CertFirstName, "", new { Class = "text-danger student-data-validation" })
                                                    </div>
                                                    <div class="col-12 col-md-6 px-2 my-2 my-md-0">
                                                        <div class="d-flex justify-content-start">@Html.LabelFor(x => x.ContactModel.CertLastName)<text class="text-danger">*</text></div>
                                                        @Html.TextBoxFor(m => m.ContactModel.CertLastName, new { Class = "form-control student-data-txt", Id = "studentCertLastName" })
                                                        @Html.ValidationMessageFor(m => m.ContactModel.CertLastName, "", new { Class = "text-danger student-data-validation" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-6 px-2 my-2 my-md-0">
                                                        @Html.LabelFor(m => m.ContactModel.Email, new { Class = "control-label" })
                                                        @Html.TextBoxFor(m => m.ContactModel.Email, new { Class = "form-control student-data-txt", Id = "studentEmail" })
                                                    </div>
                                                    <div class="col-12 col-md-6 px-2">
                                                        <div class="d-flex justify-content-start">@Html.LabelFor(x => x.FacilityID)<text class="text-danger">*</text></div>
                                                        @Html.DropDownListFor(x => x.FacilityID, Model.Facilities, "Select a Facility", new { Class = "form-control facilityID student-data-dropdown" })
                                                        @Html.ValidationMessageFor(x => x.FacilityID, "", new { Class = "text-danger student-data-validation" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-4 px-3">
                                                <ul class="directions mt-3 mt-md-5">@Html.Raw(ResHelper.GetString("Dashboard.UpdateStaffInfoWidget.UpdateStudentDirections", LocalizationContext.CurrentCulture.CultureCode))</ul>
                                            </div>
                                        </div>
                                        <div class="mt-3 d-flex justify-content-end">
                                            <input type="submit" value="Save" class="btn btn-primary me-5" />
                                        </div>
                                    }
                                    <div class="row mt-4">
                                        <label class="mb-3">@Html.CheckBoxFor(x => x.LicensingData.LicenseNA, new { Class = "student-data-checkbox", Id = "studentLicenseNACheckbox" }) @ResHelper.GetString("Dashboard.LicensingInfoWidget.NAStateLicense", LocalizationContext.CurrentCulture.CultureCode)</label>
                                        @using (Html.BeginForm("AddNewStaffLicense", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "newStudentLicenseForm" }))
                                        {
                                            @Html.HiddenFor(x => x.LicensingData.StudentID, new { Class = "contactID" })
                                            @Html.HiddenFor(x => x.LicensingData.LicenseID, new { Id = "studentLicenseID" })
                                            <div class="row">
                                                <div class="col-12 col-lg-6 px-md-2 my-2 my-md-0">
                                                    @Html.LabelFor(x => x.LicensingData.LicenseTypeID)
                                                    @Html.DropDownListFor(x => x.LicensingData.LicenseTypeID, Model.LicensingData.LicenseTypes, "", new { Class = "form-control", Id = "studentLicenseTypeDropdown" })
                                                    @*@Html.ValidationMessageFor(x => x.LicensingData.LicenseTypeID, "", new { Class = "text-danger student-license-validation" })*@
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 px-md-2 my-2 my-md-0">
                                                    @Html.LabelFor(x => x.LicensingData.LicenseNumber)
                                                    @Html.TextBoxFor(x => x.LicensingData.LicenseNumber, new { Class = "form-control", Id = "studentLicenseNumber" })
                                                    @*@Html.ValidationMessageFor(x => x.LicensingData.LicenseNumber, "", new { Class = "text-danger student-license-validation" })*@
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 px-md-2 my-2 my-md-0">
                                                    @Html.LabelFor(x => x.LicensingData.StateID)
                                                    @Html.DropDownListFor(x => x.LicensingData.StateID, Model.States, "", new { Class = "form-control", Id = "studentLicenseState" })
                                                    @*@Html.ValidationMessageFor(x => x.LicensingData.StateID, "", new { Class = "text-danger student-license-validation" })*@
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-start mt-3">
                                                <input type="submit" class="btn btn-secondary me-2" id="addStudentLicenseBtn" value="Add License" />
                                                <input type="submit" class="btn btn-secondary me-2" id="updateStudentLicenseBtn" value="Update License" />
                                                <input type="button" class="btn btn-secondary" id="cancelUpdateStudentLicenseBtn" value="Cancel" />
                                            </div>
                                        }
                                        <div class="row" id="studentLicenseList"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="printCerts" class="tab-pane fade" role="tabpanel" aria-labelledby="printCertsTab">
                            <h3>Certificates of Completion</h3>
                            <div class="row mt-4" id="staffCertsLoading">
                                <div class="text-center">
                                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div id="studentCertsData">
                                <div class="my-3">@ResHelper.GetString("Dashboard.PrintStudentCertificatesWidget.PrintCertificatesDirections", LocalizationContext.CurrentCulture.CultureCode)</div>
                                <div class="p-3">
                                    @using (Html.BeginForm("SendDataToCertHandler", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "printStudentCertsForm" }))
                                    {
                                        <label class="d-block" id="selectAllStudentCerts"><input type="checkbox" /> Select All</label>
                                        <ul id="studentCertsList"></ul>
                                        <div class="my-4">
                                            <button type="submit" class="btn btn-secondary">Download Certificates</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="mt-4" id="noStudentCertsTxt">
                                No student certificates to be printed at this time.
                            </div>
                        </div>
                        <div id="memberships" class="tab-pane fade" role="tabpanel" aria-labelledby="membershipsTab">
                            <div class="row mb-4" id="membershipsPanelHeader">
                                <div class="d-md-flex">
                                    <h3 id="membershipsPanelTitle">Purchased Memberships</h3>
                                    <h3 id="manageCourseTitle"></h3>
                                    <button class="btn btn-secondary ms-auto" id="backToFacilityMembershipListing">Back To Membership Listing</button>
                                </div>
                                <input type="hidden" value="@(Model.IsSiteAdmin ? "true" : "false")" id="isSiteAdmin" />
                            </div>
                            <div class="row mt-4" id="facilityMembershipLoading">
                                <div class="text-center">
                                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="accordion accordion-flush" id="facilityMembershipListing"></div>
                        </div>
                        <div id="classes" class="tab-pane fade" role="tabpanel" aria-labelledby="classesTab">
                            <div class="row mb-4" id="classesPanelHeader">
                                <div class="d-md-flex">
                                    <h3 id="classesPanelTitle">Purchased Classes</h3>
                                    <h3 id="manageCourseTitle"></h3>
                                    <button class="btn btn-secondary ms-auto" id="backToFacilityClassListing">Back To Class Listing</button>
                                </div>
                                <input type="hidden" value="@(Model.IsSiteAdmin ? "true" : "false")" id="isSiteAdmin" />
                            </div>
                            <div class="row mt-4" id="facilityClassLoading">
                                <div class="text-center">
                                    <span class="me-2">Loading</span><i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="row" id="facilityClassListing"></div>
                            <p class="no-facility-classes-txt">No classes found.</p>
                            <div class="modal confirmation-modal" id="facilityPackageWarningModal">
                                <div class="modal-content">
                                    <span class="close align-self-end close-facility-package-warning-modal">&times;</span>
                                    <div>
                                        <p>@ResHelper.GetString("Dashboard.ManageFacilityClassesWidget.UpdatingPackageQtyWarningMsg")</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <a href="" id="updateFacilityClass" data-facilityClassID="">Yes</a>
                                        <a class="cancel-btn ms-3 close-facility-package-warning-modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="manageEnrollment">
                            <div id="staffListing"></div>
                            <p id="noFacilityStaffMembersTxt">No staff members found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row facility-listing-objects">
            <div class="filter-bar @((Model.IsSiteAdmin || Model.IsCorporateAdmin) && !Model.ReturnUrl.Contains("corporationID") ? "" : "d-none")">
                <div class="facility-filter" id="facilityFilter">
                    @using (Html.BeginForm("FilterFacilities", "ManageFacilitiesWidget", FormMethod.Post, new { Id = "facilityFilterForm" }))
                    {
                        @Html.HiddenFor(x => x.IsCorporateAdmin)
                        @Html.HiddenFor(x => x.IsSiteAdmin)
                        @Html.HiddenFor(x => x.CurrentUserID)
                        @Html.HiddenFor(x => x.ParentFacilityID)
                        @Html.HiddenFor(x => x.ReturnUrl)

                        <div class="row">
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.FacilityData.Name, new { Class = "form-control facility-filter-txt", Placeholder = "Facility Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.FacilityData.City, new { Class = "form-control facility-filter-txt", Placeholder = "City", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.DropDownListFor(x => x.FacilityData.StateID, Model.States, "State", new { Class = "form-control facility-filter-dropdown", Data_val = "false" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-md-3">
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.ContactModel.FirstName, new { Class = "form-control facility-filter-txt", Placeholder = "First Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 my-2 my-md-0">
                                    @Html.TextBoxFor(x => x.ContactModel.LastName, new { Class = "form-control facility-filter-txt", Placeholder = "Last Name", Data_val = "false" })
                                </div>
                            </div>
                            <div class="col col-12 col-md-4">
                                <div class="form-group mx-2 d-flex my-2 my-md-0">
                                    <input type="submit" class="form-control btn btn-primary filter-btn me-3" value="Filter" />
                                    <input type="button" class="form-control btn btn-secondary" id="clearFacilityFilterBtn" value="Clear" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="facilities">
                <div id="deleteFacilityConfirmModal" class="modal confirmation-modal">
                    <div class="modal-content">
                        <span class="close align-self-end close-delete-facility-modal">&times;</span>
                        <p class="mb-4 mt-2">Are you sure you want to delete <text id="facilityName"></text>? Anyone associated with this facility will be deleted except for the students. They will remain active and have access to their accounts.</p>
                        <div class="d-flex justify-content-end">
                            <a id="removeFacilityBtn" href="" data-facilityID="">Yes</a>
                            <a class="ms-3 close-delete-facility-modal">Cancel</a>
                        </div>
                    </div>
                </div>
                <div id="facilityList">
                    <div class="row" id="facilityTable"></div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <div id="facilityLoading">
                        <span class="me-2 my-auto">Loading</span><i class="fa fa-spinner fa-spin my-auto"></i>
                    </div>
                    <nav aria-label="pagination">
                        <ul id="facilityPagination" class="pagination"></ul>
                    </nav>
                </div>
            </div>
            <div class="mt-3" id="noFacilities">
                <p>No facilities found.</p>
            </div>
        </div>
    </div>
</div>