﻿@model Pedagogy.Models.Widgets.ManageStudentClassesWidget.ManageStudentClassesWidgetViewModel

@{
    Html.EnableClientValidation(true);
}

<div class="card">
    <div class="card-header">
        <div class="course-header-title">
            <h4>@Model.CardHeading @Model.StudentName</h4>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary mr-3 mb-2 mb-md-0" href="@(ContentIdentifiers.MANAGE_STAFF_PAGE + $"?facilityID={Model.FacilityID}")">Back</a>
        </div>
    </div>
    <div class="card-body student-classes-table">
        @if (Model.FacilityClasses.Count() > 0 || Model.FacilityMembershipClasses.Count() > 0)
        {
            if (Model.FacilityClasses.Count() > 0)
            {
                <h3 class="mb-3">Classes</h3>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th></th>
                            <th>Name</th>
                            <th>Used</th>
                            <th>Qty. Purchased</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="student-list">
                        @foreach (var item in Model.FacilityClasses)
                        {
                            <tr>
                                <td>
                                    @using (Html.BeginForm("AssignClass", "ManageStudentClassesWidget", FormMethod.Post, new { Class = "d-inline" }))
                                    {
                                        @Html.Hidden("returnUrl", Request.RawUrl)
                                        @Html.Hidden("facilityID", Model.FacilityID)
                                        @Html.Hidden("studentID", Model.StudentID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                        <button id="assign-class" type="submit" @(item.Assigned || item.LimitReached ? "disabled" : "")><i class="fa fa-plus-square"></i></button>
                                    }
                                    @using (Html.BeginForm("unassignClass", "ManageStudentClassesWidget", FormMethod.Post, new { Class = "d-inline" }))
                                    {
                                        @Html.Hidden("returnUrl", Request.RawUrl)
                                        @Html.Hidden("facilityID", Model.FacilityID)
                                        @Html.Hidden("studentID", Model.StudentID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.Hidden("invoiceNumber", item.InvoiceNumber)
                                        <button id="unassign-class" type="submit" @(!item.Assigned || item.IsLocked ? "disabled" : "")><i class="fa fa-minus-square"></i></button>
                                    }
                                </td>
                                <td>@item.ClassName</td>
                                <td>@item.AmountUsed</td>
                                <td>@item.QuantityPurchased</td>
                                <td>@item.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            if (Model.FacilityMembershipClasses.Count() > 0)
            {
                <h3 class="my-4">Membership Classes</h3>
                <table class="table" style="overflow-x:auto;">
                    <thead>
                        <tr class="text-center">
                            <th></th>
                            <th>Name</th>
                            <th>Used</th>
                            <th>Qty. Purchased</th>
                            <th>Status</th>
                            <th>Expiration Date</th>
                            <th>Locked</th>
                        </tr>
                    </thead>
                    <tbody id="student-list">
                        @foreach (var item in Model.FacilityMembershipClasses)
                        {
                            <tr>
                                <td>
                                    @using (Html.BeginForm("AssignClass", "ManageStudentClassesWidget", FormMethod.Post, new { Class = "d-inline" }))
                                    {
                                        @Html.Hidden("returnUrl", Request.RawUrl)
                                        @Html.Hidden("facilityID", Model.FacilityID)
                                        @Html.Hidden("studentID", Model.StudentID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.Hidden("expDate", item.ExpDate)
                                        @Html.Hidden("facilityMemID", item.FacilityMembershipID)
                                        <button id="assign-class" type="submit" @(item.Assigned || item.LimitReached ? "disabled" : "")><i class="fa fa-plus-square"></i></button>
                                    }
                                    @using (Html.BeginForm("unassignClass", "ManageStudentClassesWidget", FormMethod.Post, new { Class = "d-inline" }))
                                    {
                                        @Html.Hidden("returnUrl", Request.RawUrl)
                                        @Html.Hidden("facilityID", Model.FacilityID)
                                        @Html.Hidden("studentID", Model.StudentID)
                                        @Html.Hidden("classID", item.ClassID)
                                        @Html.Hidden("facilityMemID", item.FacilityMembershipID)
                                        <button id="unassign-class" type="submit" @(!item.Assigned || item.IsLocked ? "disabled" : "")><i class="fa fa-minus-square"></i></button>
                                    }
                                </td>
                                <td>@item.ClassName</td>
                                <td>@item.AmountUsed</td>
                                <td>@item.QuantityPurchased</td>
                                <td>@item.Status</td>
                                <td>@item.ExpDate</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <div class="my-3">@ResHelper.GetString("Dashboard.NoFacilityClassesMsg", LocalizationContext.CurrentCulture.CultureCode)</div>
        }
    </div>
</div>