﻿@using CMS.Helpers;

@model Pedagogy.Models.MasterPage.FooterViewModel

@{
    Layout = null;
}

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="@ContentIdentifiers.ROOT">
                                <img src="~/Content/img/logo_white_text.png" alt="Logo">
                            </a>
                        </div>
                        <p>@Html.Raw(ResHelper.GetString("SiteInfo.DescriptionOfPedagogy"))</p>
                        <div class="social_links">
                            <ul>                                
                                @foreach (var item in Model.SocialLinks)
                                {
                                    <li>
                                        <a href="@item.SocialUrl" target="_blank">
                                            <i class="@item.SocialIcon"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Quick Links
                        </h3>
                        <div class="d-flex flex-row flex-wrap">
                            <ul>
                                @foreach (var item in Model.FooterNav)
                                {
                                    <li><a href="@item.LinkUrl">@item.LinkText</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contact Us
                        </h3>
                        <ul>
                            <li style="color:#BABABA">@Html.Raw(ResHelper.GetString("SiteInfo.PedagogyLocation"))</li>
                            <li>@Html.Raw(ResHelper.GetString("SiteInfo.SalesPhone"))</li>
                            <li>@Html.Raw(ResHelper.GetString("SiteInfo.SalesEmail"))</li>
                        </ul>

                        <h3 class="footer_title">
                            Policies
                        </h3>
                        <ul>
                            <li><a href="@ContentIdentifiers.PRIVACY_POLICY_PAGE">Privacy Policy</a></li>
                            <li><a href="@ContentIdentifiers.REFUND_POLICY_PAGE">Refund Policy</a></li>
                            <li><a href="@ContentIdentifiers.ACCURACY_POLICY_PAGE">Accuracy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copyright text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Pedagogy Education, Inc. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
