﻿@using CMS.Helpers;

@model Pedagogy.Models.MasterPage.HeaderViewModel

@{
    Layout = null;
}

<header>
    <div class="header-area">
        <div class="header-top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="social_media_links">
                            @foreach (var item in Model.SocialLinks)
                            {
                                <a href="@item.SocialUrl" target="_blank">
                                    <i class="@item.SocialIcon"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="utility_nav_list">
                            <ul>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="my-2 my-lg-0">@Html.Raw(ResHelper.GetString("SiteInfo.SupportEmail"))</li>
                                    <li class="my-2 my-lg-0">@Html.Raw(ResHelper.GetString("SiteInfo.SupportPhone"))</li>
                                    <li class="utility-nav-action d-none d-lg-block">
                                        <a href="@Url.Content(ContentIdentifiers.DASHBOARD)"><i class="fa fa-user-circle"></i> Welcome, @Model.CurrentUserFirstName <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            @foreach (var item in Model.AccountActionPages)
                                            {
                                                <li><a href="@item.LinkUrl">@item.LinkText</a></li>
                                            }
                                            <li class="w-100">
                                                @using (Html.BeginForm("SignOut", "LoginManager", FormMethod.Post, new { role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="submit" value="Log Out" class="btn btn-primary logout-btn" />
                                                }
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="utility-nav-action d-none d-lg-block"><a href="@Url.Content(ContentIdentifiers.DASHBOARD)" class="btn btn-primary dashboard-btn">My Courses</a></li>
                                    <li class="utility-nav-action d-none d-lg-block"><a href="@Url.Action("ShoppingCart", "Checkout")" class="btn btn-primary dashboard-btn">My Cart</a></li>
                                }
                                else
                                {
                                    <li class="my-2 my-lg-0">@Html.Raw(ResHelper.GetString("SiteInfo.SalesEmail"))</li>
                                    <li class="my-2 my-lg-0">@Html.Raw(ResHelper.GetString("SiteInfo.SalesPhone"))</li>
                                    <li><a href="@Url.Action("Login", "LoginManager")"><i class="fa fa-sign-in"></i> Log In/Register</a></li>
                                    <li class="d-none d-lg-block"><a href="@Url.Action("ShoppingCart", "Checkout")" class="btn btn-primary dashboard-btn">My Cart</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg" id="sticky-header" >
            <div class="container p-0">
                <a href="@ContentIdentifiers.ROOT" class="navbar-brand ms-3 ms-lg-0">
                    <img class="d-none d-md-inline-block" src="~/Content/img/logo_V2-text-only.png" alt="Pedagogy Education" />
                    <img class="d-md-none w-75" src="~/Content/img/logo_V2-text-only.png" alt="Pedagogy Education" />
                </a>
                <button class="navbar-toggler me-4 me-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <div class="nav-item d-lg-none justify-content-center m-4">
                        @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { Class = "d-flex position-relative main-search-mobile" }))
                        {
                            <input name="searchText" class="form-control search-text" id="search-input" placeholder="Search..." />
                            <div class="d-flex search-icon position-absolute"><button type="submit" class="fa fa-search my-auto"></button></div>
                        }
                    </div>
                    <ul class="navbar-nav">
                        @foreach (var item in Model.MainNav.Where(x => x.NestingLevel == 1))
                        {
                            <li class="nav-item@(item.HasChildren ? " dropdown" : "")">
                                <a href="@item.LinkUrl" class="nav-link@(item.HasChildren ? " dropdown-toggle" : "")" data-has-children="@item.HasChildren" id="@item.LinkText-dropdown">@item.LinkText</a>
                                @if (item.HasChildren)
                                {
                                    <ul class="dropdown-menu" aria-labelledby="@item.LinkText-dropdown">
                                        <li class="d-lg-none"><a href="@item.LinkUrl" class="dropdown-item">Overview</a></li>
                                        @foreach (var subItem in Model.MainNav.Where(y => y.NestingLevel > item.NestingLevel && y.ParentID == item.NodeID))
                                        {
                                            <li><a href="@subItem.LinkUrl" class="dropdown-item">@subItem.LinkText</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                        <li class="nav-item d-none d-lg-flex">
                            <button class="openBtn" id="openBtn"><i class="fa fa-search"></i></button>
                        </li>
                    </ul>
                    <div class="d-flex d-lg-none justify-content-center my-4">
                        <a href="@Url.Action("ShoppingCart", "Checkout")" class="btn btn-primary me-2" role="button">My Cart</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Content(ContentIdentifiers.DASHBOARD)" class="btn btn-primary mx-2" role="button">My Courses</a>
                            using (Html.BeginForm("SignOut", "LoginManager", FormMethod.Post, new { role = "form", Class = "ms-2" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Log Out" class="btn btn-primary logout-btn" />
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
