﻿.admin-functions-widget {
    #noUsersMsg {
        display: none;

        p {
            font-size: 16px;
        }
    }

    #usersListGroup {
        li {
            cursor: pointer;
            color: #1489bc;
        }
    }

    #impersonateUserErrMsg{
        display:none;
    }
}
