﻿.admin-functions-widget #noUsersMsg {
  display: none;
}
.admin-functions-widget #noUsersMsg p {
  font-size: 16px;
}
.admin-functions-widget #usersListGroup li {
  cursor: pointer;
  color: #1489bc;
}
.admin-functions-widget #impersonateUserErrMsg {
  display: none;
}
