﻿@using Kentico.PageBuilder.Web.Mvc;

@model ComponentViewModel<Pedagogy.Models.Sections.ThreeColumnSectionProperties>

<div class="@(Model.Properties.OrangeBackground ? "service_area" : "p-3")">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    @Html.Kentico().WidgetZone()
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    @Html.Kentico().WidgetZone()
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    @Html.Kentico().WidgetZone()
                </div>
            </div>
        </div>
    </div>
</div>