﻿<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            @Html.Kentico().WidgetZone()
        </div>
        <div class="col-12 col-lg-3 offset-lg-1 mt-5 mt-lg-0">
            <div class="media contact-info">
                @Html.Kentico().WidgetZone()
            </div>
        </div>
    </div>
</div>