﻿@model Pedagogy.Models.Sections.DashboardSection.DashboardSectionViewModel

<div class="dashboard-area my-5 mx-lg-5 mx-md-3 mx-sm-1">
    <div class="dashboard-title">
        @if (Model.DisplayHeading)
        {
            <h2>My Dashboard</h2>
        }
    </div>
    <div class="row">
        <div class="left-panel col-lg-3 col-md-12 col-sm-12">
            @Html.Kentico().WidgetZone()
        </div>
        <div class="course-boards col-lg-9 col-md-12 col-sm-12">
            @Html.Kentico().WidgetZone()
        </div>
    </div>
</div>