﻿@model Pedagogy.Models.Products.ProductFilterViewModel

<div class="container">
    <div class="row">
        <div class="sidebar-title p-3">
            <h3 class="me-auto me-lg-0">Categories</h3>
            <i class="fa fa-plus-square show-cat-btn my-auto"></i>
            <i class="fa fa-minus-square hide-cat-btn my-auto"></i>
        </div>
        <div class="category-container">
            @Html.EditorFor(model => Model.Categories)
        </div>
    </div>
</div>