﻿@model Pedagogy.Models.Search.SearchViewModel

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        @if (!Model.Items.Any())
        {
            if (!String.IsNullOrWhiteSpace(Model.Query))
            {
                <h3>No results found for "@Model.Query"</h3>
            }
        }
        else
        {
            <h2 class="m-3">Results for "@Model.Query"</h2>
            foreach (var course in Model.CourseData)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 card">
                    <div class="card-body">
                        <div class="card-img-body">
                            <a href="@course.Url">
                                @if (!string.IsNullOrEmpty(course.ImagePath))
                                {
                                    <img class="rounded course-image" src="@(!string.IsNullOrEmpty(course.CourseImg) ? Url.Kentico().ImageUrl(course.ImagePath, SizeConstraint.MaxWidthOrHeight(300)) : "")" alt="@course.CourseImgAltText" />
                                }
                            </a>
                        </div>
                        <a href="@course.Url">
                            <div class="card-title">
                                <div class="row" id="course-list-group">
                                    @if (course.CourseShortName == null)
                                    {
                                        <h3>
                                            @course.Name
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3>
                                            @course.CourseShortName
                                        </h3>
                                    }
                                </div>
                                <div class="card-text">
                                    <p>@Html.Raw(course.CourseSummary)</p>
                                </div>
                            </div>
                        </a>
                        <div class="contact-hours">Contact Hour(s): @course.CourseContactHours</div>@*@item.CourseContactHours*@
                        <div class="course-price">Price: @String.Format(course.PriceDetail.Currency.CurrencyFormatString, course.PriceDetail.Price)</div>
                        <div class="buy-btn">
                            @using (Html.BeginForm("AddItem", "Checkout", FormMethod.Post))
                            {
                                <input type="hidden" name="itemSkuId" value="@course.SKUID" />
                                <input type="hidden" name="itemUnits" value="1" />
                                <input type="submit" name="AddItem" class="btn-buy btn btn-primary" value="Buy Now!" />
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>