﻿@using Pedagogy.Models.Products
@model PagingInfo<ProductListItemViewModel>

@{
    var allCoursesPaged = Model.Data.Skip((Model.CurrentPage - 1) * Model.ItemsPerPage).Take(Model.ItemsPerPage);
}

@if (allCoursesPaged.Count() > 0)
{
    <div class="container">
        @if (Model.SearchQuery != null && Model.SearchQuery != "")
        {
            <h2 class="m-3">Results for "@Model.SearchQuery"</h2>
        }
        <div class="row">
            @foreach (var course in allCoursesPaged)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 card">
                    <div class="card-body">
                        <div class="card-img-body">
                            <a href="@course.Course.Url">
                                <img class="rounded course-image" src="@course.Course.CourseImg" alt="@course.Course.CourseImgAltText" />
                            </a>
                        </div>
                        <a href="@course.Course.Url">
                            <div class="card-title">
                                <div class="row" id="course-list-group">
                                    <h3>
                                        @course.Course.CourseShortName
                                    </h3>
                                </div>
                                <div class="row">
                                    <div class="mt-2 mb-2">
                                        <h5>Contact Hours: @course.Course.CourseContactHours</h5>
                                    </div>
                                </div>
                                <div class="card-text">
                                    <p>@Html.Raw(course.Course.CourseSummary)</p>
                                </div>
                            </div>
                        </a>
                        <div class="row mt-4">
                            <div class="col-lg-4 col-sm-12 mt-2 p-0">
                                @if (course.Course.PriceTBD)
                                {
                                    <h5>Price To Be Determined.</h5>
                                }
                                else
                                {
                                    <h5>Price: @String.Format(course.PriceModel.CurrencyFormatString, course.PriceModel.Price)</h5>
                                }
                            </div>
                            <div class="col-lg-8 col-sm-12 p-0">
                                @if (course.IsFree)
                                {
                                    if (!string.IsNullOrEmpty(User.Identity.Name))
                                    {
                                        if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE))
                                        {
                                            <p><strong>@Html.Raw(ResHelper.GetString("CourseCatalog.FreeCourseDisabledBtnText", LocalizationContext.CurrentCulture.CultureCode))</strong></p>
                                        }
                                        else
                                        {
                                            <a class="btn btn-primary" href="@Url.Action("AddFreeCourse", "Checkout", new { itemSKUID = course.SKUID })">Add to Dashboard</a>
                                        }
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-primary" href="@course.Course.Url">View Course</a>
                                        </div>
                                    }
                                }
                                else if (course.Course.PriceTBD)
                                {
                                    if (!string.IsNullOrEmpty(User.Identity.Name))
                                    {
                                        <div id="wait-list-modal" class="modal confirmation-modal">
                                            <div class="modal-content">
                                                <span class="close align-self-end" id="close">&times;</span>
                                                <p class="mb-4 mt-2" style="font-size:14px;" id="modal-msg"></p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <a id="add-to-wait-list" href="@Url.Action("AddToWaitList", "Product", new { courseGUID = course.ProductPageGuid })" class="btn btn-primary">Add to Wait List</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-primary" href="@course.Course.Url">View Course</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("AddItem", "Checkout", FormMethod.Post, new { Class = "add-item-form" }))
                                    {
                                        <input type="hidden" name="itemSkuId" value="@course.SKUID" />
                                        <input type="submit" name="AddItem" class="btn btn-primary float-end" value="Buy Now!" />
                                        if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE))
                                        {
                                            <input type="number" name="itemUnits" min="0" value="1" class="qty-box mx-2 float-end" />
                                            <label class="float-end">Qty:</label>
                                        }
                                        else
                                        {
                                            <input type="hidden" name="itemUnits" value="1" />
                                        }
                                    }

                                    <div id="view-cart-confirmation-modal" class="modal confirmation-modal">
                                        <div class="modal-content">
                                            <span class="close align-self-end">&times;</span>
                                            <p class="mb-4 mt-2">The item has been added to your cart!</p>
                                            <div class="d-flex justify-content-end">
                                                <a class="ms-3" href="@Url.Action("ShoppingCart", "Checkout")" style="cursor:pointer;">View Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="course-warning-modal" class="modal confirmation-modal">
                                        <div class="modal-content">
                                            <span class="close align-self-end">&times;</span>
                                            <p class="mb-4 mt-2" id="warning-msg"></p>
                                            <div class="d-flex justify-content-end">
                                                <a class="me-3 add-anyway-btn" href="" style="cursor:pointer;">Add anyway</a>
                                                <a id="close-warning-modal" style="cursor:pointer;">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    if (Model.TotalPages > 1)
    {
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                @for (var i = 0; i < Model.TotalPages; i++)
                {
                    if ((Math.Abs(Model.CurrentPage - (i + 1)) <= 2))
                    {
                        int pageNum = i + 1;
                        <li class="page-item">
                            @using (Html.BeginForm("Index", "Product", FormMethod.Post))
                            {
                                foreach (var item in Model.Data)
                                {
                                    <input type="hidden" name="currentList" value="@item.Course.CourseTitle" />
                                }
                                <input type="hidden" name="searchQuery" value="@Model.SearchQuery" />
                                <input type="hidden" name="page" value="@pageNum" />
                                if (Model.ExtraFilters != null)
                                {
                                    <input type="hidden" name="jsonExtraFilters" value="@Json.Encode(Model.ExtraFilters)" />
                                }
                                if (Model.ProductFilter != null)
                                {
                                    <input type="hidden" name="jsonFilter" value="@Json.Encode(Model.ProductFilter)" />
                                }
                                if (pageNum == Model.CurrentPage)
                                {
                                    <button type="submit" class="page-link active">@pageNum</button>
                                }
                                else
                                {
                                    <button type="submit" class="page-link">@pageNum</button>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </nav>
    }
}
else
{
    if (Model.SearchQuery != null && Model.SearchQuery != "")
    {
        <h3>No results found for "@Model.SearchQuery"</h3>
    }
    <h4 class="no-courses">@ResHelper.GetString("CourseCatalog.NoMatchingCoursesFoundText", LocalizationContext.CurrentCulture.CultureCode)</h4>
}
<script src="~/Scripts/Vendor/jQuery/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#add-to-wait-list").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                method: "POST",
                success: function (data) {
                    $("#wait-list-modal").css("display", "flex");
                    $("#modal-msg").html(data);
                }
            });
        });

        $("#close").click(function () {
            $("#wait-list-modal").css("display", "none");
        });

        $(".add-item-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (data) {
                    if (data.warning) {
                        $("#warning-msg").html(data.warningText);
                        $("#course-warning-modal").css("display", "block");
                        $(".add-anyway-btn").attr("href", `@Url.Action("ForceAddItem", "Checkout")?skuid=${data.skuid}&units=${data.qty}`);
                    }
                    else {
                        $("#view-cart-confirmation-modal").css("display", "block");
                    }
                }
            });
        });

        $(".close").click(function (e) {
            e.preventDefault();

            $(this).closest(".modal").css("display", "none");
        });

        $("#close-warning-modal").click(function (e) {
            e.preventDefault();

            $(this).closest(".modal").css("display", "none");
        });
    });
</script>