﻿@model Pedagogy.Models.Products.ProductExtraFiltersViewModel

@{ 
    Html.EnableClientValidation(false);
}

@using (Html.BeginForm("ExtraFilters", "Product", FormMethod.Post, new { Class = "my-4 my-md-0 mx-2 mx-md-0", Style = "display:inline-block;" }))
{
    @Html.AntiForgeryToken()

    <div class="state js-postback">
        @Html.DropDownListFor(m => m.StateCategory, Model.StateCategories, "State", new { Class = "form-control" })
    </div>
    <div class="contact-hours js-postback">
        @Html.DropDownListFor(m => m.ContactHourData, Model.ContactHoursList, "Contact Hours", new { Class = "form-control" })
    </div>
    <div class="sort js-postback">
        @Html.DropDownListFor(m => m.SortByData, Model.SortByList, "Sort By", new { Class = "form-control" })
    </div>
    <input type="submit" value="Apply" class="btn btn-primary mt-3 mt-md-0 float-end float-md-none" />
}
