﻿@model BaseViewModel<Pedagogy.Models.Products.ProductViewModel>

@{
    Html.EnableClientValidation(true);
}

<div class="single-course-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="course-info-area col-12">
                <div class="back-btn">
                    <a href="@ContentIdentifiers.COURSE_CATALOG"><i class="fa fa-arrow-circle-left"></i> Back to Course Catalog</a>
                </div>
                <div class="course-info mt-4">
                    <div class="row mb-4 d-lg-none">
                        <img class="course-img mx-auto" src="@(!string.IsNullOrEmpty(Model.ViewModel.Course.CourseImg) ? Url.Kentico().ImageUrl(Model.ViewModel.Course.CourseImg, SizeConstraint.Size(350, 250)) : "")" alt="@Model.ViewModel.Course.CourseImgAltText">
                    </div>
                    <div class="row">
                        <div class="left-col col-lg-8 col-sm-12 pe-lg-5">
                            <div>
                                <h1 class="course-title">@Model.ViewModel.Name</h1>
                            </div>
                            <div class="about-course">
                                <p>@Html.Raw(Model.ViewModel.Description)</p>
                            </div>
                            @if (Model.ViewModel.Course.CourseObjectives != "")
                            {
                                <div class="course-objectives">
                                    <h3><strong>Objectives</strong></h3>
                                    <p>@Html.Raw(Model.ViewModel.Course.CourseObjectives)</p>
                                </div>
                            }
                            @if (Model.ViewModel.Course.CourseCurriculum != "")
                            {
                                <div class="course-curriculum">
                                    <h3><strong>Curriculum</strong></h3>
                                    <p>@Html.Raw(Model.ViewModel.Course.CourseCurriculum)</p>
                                </div>
                            }
                        </div>
                        <div class="right-col col-lg-4 col-sm-12 mt-md-4 ps-lg-3">
                            <div class="row mt-3 mb-5 mt-lg-0 mb-lg-0">
                                <div class="col-5 col-md-3 px-2">
                                    @if (Model.ViewModel.Course.PriceTBD)
                                    {
                                        <h4>Price To Be Determined.</h4>
                                    }
                                    else
                                    {
                                        <h4>Price: @String.Format(Model.ViewModel.PriceDetail.CurrencyFormatString, Model.ViewModel.PriceDetail.Price)</h4>
                                    }
                                    <h4 class="mt-3">Contact Hour@(Model.ViewModel.Course.CourseContactHours == 1 ? "" : "s"): @Model.ViewModel.Course.CourseContactHours</h4>
                                </div>
                                <div class="col-7 col-md-9 px-2">
                                    @if (Model.ViewModel.IsFree)
                                    {
                                        <span id="free-course-err-msg" class="text-danger mx-2"></span>
                                        if (!string.IsNullOrEmpty(User.Identity.Name))
                                        {
                                            if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE))
                                            {
                                                <p class="p-3"><strong>@Html.Raw(ResHelper.GetString("CourseCatalog.FreeCourseDisabledBtnText", LocalizationContext.CurrentCulture.CultureCode))</strong></p>
                                            }
                                            else
                                            {
                                                <div class="d-flex justify-content-end">
                                                    <a href="@Url.Action("AddFreeCourse", "Checkout", new { itemSKUID = Model.ViewModel.SKUID })" class="btn btn-primary">Add to Dashboard</a>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="d-flex justify-content-end">
                                                <a href="@Url.Action("Login", "LoginManager", new { returnUrl = Request.RawUrl })" class="btn btn-primary">Log In to Add</a>
                                            </div>
                                        }
                                    }
                                    else if (Model.ViewModel.Course.PriceTBD)
                                    {
                                        if (!string.IsNullOrEmpty(User.Identity.Name))
                                        {
                                            <div class="d-flex justify-content-end">
                                                <a id="add-to-wait-list" href="@Url.Action("AddToWaitList", "Product", new { courseGUID = Model.ViewModel.ProductPageGuid })" class="btn btn-primary">Add to Wait List</a>
                                            </div>
                                            <div id="wait-list-modal" class="modal confirmation-modal">
                                                <div class="modal-content">
                                                    <span class="close align-self-end" id="close">&times;</span>
                                                    <p class="mb-4 mt-2" style="font-size:14px;" id="modal-msg"></p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex justify-content-end">
                                                <a href="@Url.Action("Login", "LoginManager", new { returnUrl = Request.RawUrl })" class="btn btn-primary">Log In to Add to Wait List</a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("AddItem", "Checkout", FormMethod.Post, new { Class = "add-item-form d-flex justify-content-md-end" }))
                                        {
                                            if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE))
                                            {
                                                <label class="my-auto me-2">Qty:</label>
                                                <input type="number" name="itemUnits" min="0" value="1" class="qty-box me-2" />
                                            }
                                            else
                                            {
                                                <input type="hidden" value="1" name="itemUnits" />
                                            }
                                            <input type="hidden" name="itemSkuId" value="@Model.ViewModel.SKUID" />
                                            <input type="submit" name="AddItem" class="btn btn-primary float-end" value="Purchase" />
                                        }
                                        <div id="view-cart-confirmation-modal" class="modal confirmation-modal">
                                            <div class="modal-content">
                                                <span class="close align-self-end">&times;</span>
                                                <p class="mb-4 mt-2">The item has been added to your cart!</p>
                                                <div class="d-flex justify-content-end">
                                                    <a class="ms-3" href="@Url.Action("ShoppingCart", "Checkout")" style="cursor:pointer;">View Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="course-warning-modal" class="modal confirmation-modal">
                                            <div class="modal-content">
                                                <span class="close align-self-end">&times;</span>
                                                <p class="mb-4 mt-2" id="warning-msg"></p>
                                                <div class="d-flex justify-content-end">
                                                    <a class="me-3 add-anyway-btn" href="" style="cursor:pointer;">Add anyway</a>
                                                    <a id="close-warning-modal" style="cursor:pointer;">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.ViewModel.Course.CourseDemoClassID != 0)
                                    {
                                        <a href="@Url.Action("Index", "Portal/DemoClass", new { classID = Model.ViewModel.Course.CourseDemoClassID })" class="btn btn-outline-primary float-end mt-3 preview-btn">Free Preview</a>
                                    }
                                </div>
                            </div>
                            <div class="row mt-4 d-none d-lg-block">
                                <img src="@(!string.IsNullOrEmpty(Model.ViewModel.Course.CourseImg) ? Url.Kentico().ImageUrl(Model.ViewModel.Course.CourseImg, SizeConstraint.Size(350, 250)) : "")" alt="@Model.ViewModel.Course.CourseImgAltText">
                            </div>
                            @if (Model.ViewModel.RelatedCourses.Count() != 0)
                            {
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Related Courses</h3>
                                    </div>
                                    <div class="box-content">
                                        <ul>
                                            @foreach (var course in Model.ViewModel.RelatedCourses)
                                            {
                                                <li>
                                                    <a href="@course.Url">@course.CourseShortName</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            @if (Model.ViewModel.Author != null)
                            {
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Course Author</h3>
                                    </div>
                                    <div class="box-content">
                                        <img src="@(!string.IsNullOrEmpty(Model.ViewModel.Author.AuthorImg) ? Url.Kentico().ImageUrl(Model.ViewModel.Author.AuthorImg, SizeConstraint.Size(70, 80)) : "")" class="author-img float-start me-3" alt="@Model.ViewModel.Author.AuthorImgAltText" />
                                        <div>
                                            <h4>@Model.ViewModel.Author.AuthorName</h4>
                                            <p class="short-bio">@Html.Raw(Model.ViewModel.Author.AuthorShortBio)</p>
                                            <a href="@Model.ViewModel.Author.Url" class="read-bio-btn">Read Full Bio <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*<div class="box">
                    <div class="box-header">
                        <h3>What Others Are Saying</h3>
                    </div>
                    <div class="box-content">
                        <p><em>quote goes here....</em></p>
                        <p>-<em>license type... where they're from...</em></p>
                    </div>
                </div>*@
                            @if (Model.ViewModel.Course.CourseLicenseText != "")
                            {
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Course Accreditation</h3>
                                    </div>
                                    <div class="box-content">
                                        <p>@Html.Raw(Model.ViewModel.Course.CourseLicenseText)</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
    $(document).ready(function () {
        $("#check-free-course").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (data) {
                    if (data.includes("Dashboard")) {
                        window.location.href = data;
                    }
                    else {
                        $("#free-course-err-msg").html(data);
                    }
                }
            });
        });

        $("#add-to-wait-list").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                method: "POST",
                success: function (data) {
                    $("#wait-list-modal").css("display", "flex");
                    $("#modal-msg").html(data);
                }
            });
        });

        $("#close").click(function () {
            $("#wait-list-modal").css("display", "none");
        });

        $(".add-item-form").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (data) {
                    if (data.warning) {
                        $("#warning-msg").html(data.warningText);
                        $("#course-warning-modal").css("display", "block");
                        $(".add-anyway-btn").attr("href", `@Url.Action("ForceAddItem", "Checkout")?skuid=${data.skuid}&units=${data.qty}`);
                    }
                    else {
                        $("#view-cart-confirmation-modal").css("display", "block");
                    }
                }
            });
        });

        $(".close").click(function (e) {
            e.preventDefault();

            $(this).closest(".modal").css("display", "none");
        });

        $("#close-warning-modal").click(function (e) {
            e.preventDefault();

            $(this).closest(".modal").css("display", "none");
        });
    });
    </script>
}