﻿@using Pedagogy.Models.Products
@model BaseViewModel<ProductListViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@Html.Kentico().EditableArea("course")
<div class="course_area row mt-3 mb-3">
    <div class="sidebar col-lg-2 col-sm-12 p-sm-3">
        @using (Html.BeginForm("Filter", "Product"))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_CategoryFilter", Model.ViewModel.Filter)
        }
    </div>
    <div class="course-list col-lg-10 col-sm-12">
        <div class="filter-bar row">
            <div class="col-12 col-lg-5">
                <div class="d-block d-md-flex justify-content-md-center justify-content-lg-start">
                    @Html.Partial("_ExtraFilters", Model.ViewModel.ExtraFilters)
                </div>
            </div>
            <div class="col-12 col-lg-7 d-block d-lg-flex">
                <div class="row my-auto">
                    <div class="col-12 col-md-6 px-0 px-md-3">
                        @if (Model.ViewModel.IsFacilityPurchaser)
                        {
                            <div class="d-lg-flex justify-content-lg-start">
                                <label class="my-auto me-3">Facility:</label>
                                <div class="my-auto">@Html.DropDownListFor(x => x.ViewModel.FacilityID, Model.ViewModel.Facilities, "", new { Class = "form-control", Id = "facility-dropdown" })</div>
                            </div>
                        }
                    </div>
                    <div class="col-12 col-md-6 px-0 px-md-3 pe-0 pe-lg-4">
                        <div class="my-4 my-lg-auto">
                            @using (Html.BeginForm("CourseSearch", "Search", FormMethod.Get))
                            {
                                <div class="input-group">
                                    <input type="text" class="form-control" name="searchtext" placeholder="Search..." maxlength="1000">
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="course-list">
            @Html.Partial("_CourseList", Model.ViewModel.PagingInfo)
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(".js-postback input:checkbox").formAutoPost({ targetContainerSelector: "#course-list" });
    </script>
    @Html.Kentico().PageBuilderScripts()
}