﻿@model Pedagogy.Models.Resource.ResourceFilterViewModel

<div class="sidebar-title">
    <h3>Categories</h3>
</div>
<div class="category-container p-2">
    @Html.EditorFor(model => Model.Categories)
</div>