﻿@model PagingInfo<Pedagogy.DataAccess.Dto.Resources.ResourceItemDto>

@{
    var allResourcesPaged = Model.Data.Skip((Model.CurrentPage - 1) * Model.ItemsPerPage).Take(Model.ItemsPerPage);
}

@if (allResourcesPaged.Count() > 0)
{
    <div class="container">
        @if (Model.SearchQuery != null && Model.SearchQuery != "")
        {
            <h2 class="m-3">Results for "@Model.SearchQuery"</h2>
        }
        <div class="row">
            @foreach (var resource in allResourcesPaged)
            {
                <div class="col-md-6 p-4">
                    <div class="d-lg-flex justify-content-lg-start">
                        <div class="px-3 my-auto">
                            <img class="rounded" src="@(!string.IsNullOrEmpty(resource.ResourceImg) ? Url.Kentico().ImageUrl(resource.ResourceImg, SizeConstraint.Size(300, 350)) : "")" alt="@resource.ResourceImgAltText" />
                        </div>
                        <div class="my-auto mt-4 mt-lg-0">
                            <h3>@resource.ResourceName</h3>
                            <div class="card-text">
                                <p>@Html.Raw(resource.ResourceSummary)</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <a href="@resource.Url" class="btn-buy btn btn-primary">View Resource</a>
                    </div>
                </div>
            }
        </div>
    </div>
    if (Model.TotalPages > 1)
    {
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                @for (var i = 0; i < Model.TotalPages; i++)
                {
                    if ((Math.Abs(Model.CurrentPage - (i + 1)) <= 2))
                    {
                        int pageNum = i + 1;
                        <li class="page-item">
                            @using (Html.BeginForm("Index", "Resource", FormMethod.Post, new { Class = "pagingData" }))
                            {
                                foreach (var item in Model.Data)
                                {
                                    <input type="hidden" name="currentList" value="@item.ResourceName" />
                                }
                                <input type="hidden" name="searchQuery" value="@Model.SearchQuery" />
                                <input type="hidden" name="page" value="@pageNum" />
                                if (Model.Filter != null)
                                {
                                    <input type="hidden" name="jsonFilter" value="@Json.Encode(Model.Filter)" />
                                }
                                if (pageNum == Model.CurrentPage)
                                {
                                    <button type="submit" class="page-link active">@pageNum</button>
                                }
                                else
                                {
                                    <button type="submit" class="page-link">@pageNum</button>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </nav>
    }
}
else
{
    if (Model.SearchQuery != null && Model.SearchQuery != "")
    {
        <h3>No results found for "@Model.SearchQuery"</h3>
    }
    else
    {
        <h4 class="no-courses">@ResHelper.GetString("Resources.NoMatchingResourcesText", LocalizationContext.CurrentCulture.CultureCode)</h4>
    }
}
