﻿@model BaseViewModel<Pedagogy.Models.Resource.ResourceDetailsViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}

<div class="resource_details_area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="resource-info-areacol-sm-12">
                <div class="back-btn">
                    @if (Model.ViewModel.ResourceData.Url.Contains("State-Boards-of-Nursing"))
                    {
                        <a href="@ContentIdentifiers.STATE_BOARD_OF_NURSING_MAP"><i class="fa fa-arrow-circle-left"></i> Back to State Board of Nursing Map</a>
                    }
                    else if (Model.ViewModel.ResourceData.Url.Contains("State-Boards-of-Social-Work"))
                    {
                        <a href="@ContentIdentifiers.STATE_BOARD_OF_SOCIAL_WORK_MAP"><i class="fa fa-arrow-circle-left"></i> Back to State Board of Social Work Map</a>
                    }
                    else
                    {
                        <a href="@ContentIdentifiers.RESOURCE_PAGE"><i class="fa fa-arrow-circle-left"></i> Back to Resource Library</a>
                    }
                </div>
                <div class="row mt-4">
                    <div class="right-col col-lg-4 col-sm-12 order-lg-last mb-4 ps-lg-3">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-12">
                                <div class="resource-details mb-3">
                                    @foreach (var file in Model.ViewModel.Files)
                                    {
                                        <div class="file-info">
                                            <a href="@file.FileUrl" target="_blank"><img src="@file.FileTeaserImg" alt="@file.FileTeaserImgAltText" class="resource-img" /></a>
                                            <a href="@file.FileUrl" target="_blank" class="print-btn btn btn-primary mt-3">Print</a>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-12">
                                @if (Model.ViewModel.RelatedCourses.Count() > 0)
                                {
                                    <div class="box">
                                        <div class="box-header">
                                            <h3>Related Courses</h3>
                                        </div>
                                        <div class="box-content">
                                            <ul>
                                                @foreach (var course in Model.ViewModel.RelatedCourses)
                                                {
                                                    <li>
                                                        <a href="@course.Url">@course.CourseShortName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @Html.Kentico().EditableArea("sideArea")
                    </div>
                    <div class="left-col col-lg-8 col-sm-12 order-lg-first p-md-0 pe-lg-5">
                        <div>
                            <h2>@Model.ViewModel.ResourceData.ResourceName</h2>
                        </div>
                        <div class="about-resource">
                            <p>@Html.Raw(Model.ViewModel.ResourceData.ResourceDescription)</p>
                        </div>
                        @Html.Kentico().EditableArea("mainArea")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>