﻿@model BaseViewModel<Pedagogy.Models.Resource.ResourceViewModel>

<div class="resource_area row mt-3 mb-3">
    <div class="sidebar col-sm-12 col-lg-2 p-2">
        <div class="search mx-2">
            @using (Html.BeginForm("ResourceSearch", "Search", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchtext" placeholder="Search..." maxlength="1000">
                        <input type="submit" value="Search" class="btn btn-primary" id="resourceSearchBtn">
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 order-md-last order-lg-first">
                <div class="category-container my-4 my-md-0 my-lg-4">
                    <h3 class="sidebar-title">State Boards</h3>
                    <ul class="main-category p-2">
                        @foreach (var item in Model.ViewModel.Maps)
                        {
                            <li>
                                <a href="@item.Url">
                                    <label class="state-boards">@item.MapTitle</label>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-12">
                @using (Html.BeginForm("Filter", "Resource", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_CategoryFilter", Model.ViewModel.Filter)
                }
            </div>
        </div>
    </div>
    <div class="resource-list col-sm-12 col-lg-10 p-4">
        @Html.Partial("_ResourceList", Model.ViewModel.PagingInfo)
    </div>
</div>
@section scripts
{
    <script>
        $(".js-postback input:checkbox").formAutoPost({ targetContainerSelector: ".resource-list" });
    </script>
}
