﻿@model Pedagogy.Models.FormComponents.reCAPTCHAInputComponent

@{ 
    var key = CMS.DataEngine.SettingsKeyInfoProvider.GetValue("CMSReCaptchaPublicKey");
}

<script src="https://www.google.com/recaptcha/api.js?render=@key"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('@key', { action: 'contact' }).then(function (token) {
            $("#GoogleCaptchaToken").val(token);
        });
    });
</script>

@Html.HiddenFor(m => m.reCAPTCHAToken, new { Id = "GoogleCaptchaToken" })