﻿.reports-container #corpReportData, .reports-container #progReportData, .reports-container #progReportFilter {
  display: none;
}
.reports-container .facility-dropdown-container {
  margin-bottom: 3rem;
}
.reports-container #progReportFacilityDropdown {
  width: 50%;
}
@media (max-width: 425px) {
  .reports-container #progReportFacilityDropdown {
    width: 100%;
  }
}
.reports-container #corpReportFacilityDropdown {
  width: 50%;
}
@media (max-width: 425px) {
  .reports-container #corpReportFacilityDropdown {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .reports-container .prog-report-table {
    margin-bottom: 1rem !important;
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .reports-container .corp-report-table {
    margin-bottom: 1rem !important;
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }
}
.reports-container #corpReportNoneFoundTxt, .reports-container #progReportNoneFoundTxt {
  display: none;
}
.reports-container #corpReportNoneFoundTxt p, .reports-container #progReportNoneFoundTxt p {
  font-size: 16px;
}
