﻿.reports-container {
    #corpReportData, #progReportData, #progReportFilter {
        display: none;
    }

    .facility-dropdown-container {
        margin-bottom: 3rem;
    }

    #progReportFacilityDropdown {
        width: 50%;

        @media(max-width:425px) {
            width: 100%;
        }
    }

    #corpReportFacilityDropdown {
        width: 50%;

        @media(max-width:425px) {
            width: 100%;
        }
    }

    .prog-report-table {
        @media(max-width:768px) {
            margin-bottom: 1rem !important;
            display: block;
            max-width: fit-content;
            margin: 0 auto;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    .corp-report-table {
        @media(max-width:768px) {
            margin-bottom: 1rem !important;
            display: block;
            max-width: fit-content;
            margin: 0 auto;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    #corpReportNoneFoundTxt, #progReportNoneFoundTxt {
        display: none;

        p {
            font-size: 16px;
        }
    }
}
