﻿/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
.manage-corporations .card-header {
  padding: 0.5rem 1rem !important;
}
.manage-corporations .tabs-col {
  background-color: #6a1212;
}
.manage-corporations #corpTabs {
  margin-left: 0;
  border-bottom: none;
}
.manage-corporations #corpTabs .nav-item {
  width: 100%;
}
@media (max-width: 475px) {
  .manage-corporations #corpTabs .nav-item {
    width: unset;
  }
}
.manage-corporations #corpTabs .nav-link.active {
  color: #fff;
  background-color: #c3a0a0;
  border-radius: 0;
  border: none;
}
.manage-corporations #corpTabs .nav-link {
  color: #fff;
  background-color: #6a1212;
  border-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 475px) {
  .manage-corporations #corpTabs .nav-link {
    height: 100%;
  }
}
.manage-corporations #corpTabs .nav-link:hover {
  border: 0.15rem solid #fff;
  border-radius: 0;
}
.manage-corporations .tab-content {
  padding: 2rem;
}
.manage-corporations #noCorpsText {
  display: none;
}
.manage-corporations #noCorpsText p {
  font-size: 16px;
  font-weight: bolder;
}
.manage-corporations .card-body {
  padding: 0;
}
.manage-corporations #backToCorpListingBtn {
  display: none;
}
.manage-corporations .corp-listing-objects {
  padding: 2rem;
}
.manage-corporations .corp-forms {
  display: none;
}
.manage-corporations #deleteContactConfirmModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 475px) {
  .manage-corporations #deleteContactConfirmModal .modal-content {
    margin: 50% auto;
  }
}
.manage-corporations #deleteContactConfirmModal .close-delete-contact {
  cursor: pointer;
}
.manage-corporations .update-corp-btn {
  border: none;
  background-color: transparent;
}
.manage-corporations .contact .edit-contact, .manage-corporations .contact .delete-contact {
  color: #1489bc;
  cursor: pointer;
}
.manage-corporations .contact .edit-contact:hover, .manage-corporations .contact .delete-contact:hover {
  color: #212221;
}
.manage-corporations #updateCorpContactForm {
  display: none;
}
.manage-corporations #userPassRecipientForm {
  display: none;
}
.manage-corporations #corpContactUserName {
  display: none;
}
.manage-corporations .close-delete-corp-modal {
  cursor: pointer;
}
.manage-corporations #deleteCorpConfirmModal {
  display: none;
}
@media (max-width: 475px) {
  .manage-corporations #deleteCorpConfirmModal .modal-content {
    margin: 50% auto;
  }
}
.manage-corporations .delete-corp-btn {
  cursor: pointer;
}
