﻿@import '../../css/_style-variables.scss';

.manage-corporations {
    .card-header {
        padding: 0.5rem 1rem !important;
    }

    .tabs-col {
        background-color: $ped-maroon;
    }

    #corpTabs {
        margin-left: 0;
        border-bottom: none;

        .nav-item {
            width: 100%;

            @media(max-width:475px) {
                width: unset;
            }
        }

        .nav-link.active {
            color: $white-color;
            background-color: $ped-light-maroon;
            border-radius: 0;
            border: none;
        }

        .nav-link {
            color: $white-color;
            background-color: $ped-maroon;
            border-radius: 0;
            margin-bottom: 0;

            @media(max-width:475px) {
                height: 100%;
            }

            &:hover {
                border: .15rem solid $white-color;
                border-radius: 0;
            }
        }
    }

    .tab-content {
        padding: 2rem;
    }

    #noCorpsText {
        display: none;

        p {
            font-size: 16px;
            font-weight: bolder;
        }
    }

    .card-body {
        padding: 0;
    }

    #backToCorpListingBtn {
        display: none;
    }

    .corp-listing-objects {
        padding: 2rem;
    }

    .corp-forms {
        display: none;
    }

    #deleteContactConfirmModal {
        display: none;
        background-color: rgba(0,0,0,.4);

        .modal-content {
            @media(max-width:475px) {
                margin: 50% auto;
            }
        }

        .close-delete-contact {
            cursor: pointer;
        }
    }

    .update-corp-btn {
        border: none;
        background-color: transparent;
    }

    .contact {
        .edit-contact, .delete-contact {
            color: #1489bc;
            cursor: pointer;

            &:hover {
                color: $ped-black;
            }
        }
    }

    #updateCorpContactForm {
        display: none;
    }

    #userPassRecipientForm {
        display: none;
    }

    #corpContactUserName {
        display: none;
    }

    .close-delete-corp-modal {
        cursor: pointer;
    }

    #deleteCorpConfirmModal {
        display: none;

        .modal-content {
            @media(max-width:475px) {
                margin: 50% auto;
            }
        }
    }

    .delete-corp-btn {
        cursor: pointer;
    }
}
