﻿@model BaseViewModel<Pedagogy.Models.Search.SearchViewModel>

@using CMS.Search;

<div class="container mt-5 mb-5">
    <div class="mb-3 d-flex search-top-area">
        <h3 class="me-0 me-md-auto mt-4 mt-md-0">Results for "@Model.ViewModel.Query"</h3>
        @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { Class = "d-flex position-relative" }))
        {
            <input name="searchText" class="form-control search-text" id="search-input" placeholder="Search..." value="@Model.ViewModel.Query" />
            <div class="d-flex search-icon position-absolute"><button type="submit" class="fa fa-search my-auto"></button></div>
        }
    </div>
    <div id="main-search-list" class="mt-4">
        <div class="text-center w-100"><p class="text-center">Loading <i class="fa fa-spinner fa-pulse ms-1"></i></p></div>
    </div>
    <div class="my-5 d-flex">
        <nav id="main-search-list-pagination" class="mx-auto"></nav>
    </div>
</div>

@section scripts{
    <script>
        function GetPageData(pageNum) {
            if ("@Model.ViewModel.Query" != "") {
                $.getJSON("/Search/GetPagedData", { pageNumber: pageNum, pageSize: 12, searchText: "@Model.ViewModel.Query" }, function (resp) {
                    var rowData = "";
                    if (resp.Data.length != 0) {
                        for (var i = 0; i < resp.Data.length; i++) {
                            rowData += '<div class="m-4"><a href="' + resp.Data[i].URL + '"><div><strong>' + resp.Data[i].Title + '</strong><p>';
                            rowData += resp.Data[i].Content + '</p></div></a></div>';
                        }
                    } else {
                        $("#result-text").html('No results found for "@Model.ViewModel.Query"');
                    }

                    $("#main-search-list").html("");
                    $("#main-search-list").append(rowData);
                    $("#main-search-list-pagination").html("");
                    if (resp.TotalPages > 1) PagingTemplate(resp.TotalPages, resp.CurrentPage, "#main-search-list-pagination", "GetPageData");
                });
            }
            else {
                $("#main-search-list").html("");
            }

            $("html, body").animate({ scrollTop:0 }, 'slow');
        }

        $(document).ready(function () {
            GetPageData(1);
        });
    </script>
}