﻿.create-membership {
    .err-msg {
        display: none;
    }

    #creatingMembershipLoadingModal {
        display: none;
        background-color: rgba(0, 0, 0, 0.75);
    }

    #facility-dropdown{
        width:50%;

        @media(max-width:475px){
            width:100%;
        }
    }
}
