﻿.checkout-area {
    .mem-classes {
        margin-left:0;
        column-count: 2;

        li{
            padding-right:2rem;
        }

        @media(max-width:768px) {
            column-count: 2;
        }

        @media(max-width:475px) {
            column-count: 1;

            li{
                padding-right:0;
            }
        }
    }
}
