﻿.checkout-area {
    #email {
        position: relative;

        #remove-btn {
            position: absolute;
            border: unset;
            background-color: transparent;
            top: 2rem;
            right: .5rem;
        }
    }
}
