﻿@model Pedagogy.Models.Products.ProductFilterCheckboxViewModel[]

<ul class="main-category">
    @for (var x = 0; x < Model.Length; x++)
    {
        if (x == 0)
        {
            @Html.HiddenFor(c => Model[0].Value)
            @Html.HiddenFor(c => Model[0].DisplayName)
            <li class="js-postback">
                @Html.CheckBoxFor(c => Model[0].IsChecked)
                @Html.LabelFor(c => Model[0].IsChecked, Model[0].DisplayName)
                @*<ul class="sub-category">
                    @Html.HiddenFor(c => Model[1].Value)
                    @Html.HiddenFor(c => Model[1].DisplayName)
                    <li>
                        @Html.CheckBoxFor(c => Model[1].IsChecked)
                        @Html.LabelFor(c => Model[1].IsChecked, Model[1].DisplayName)
                    </li>
                    @Html.HiddenFor(c => Model[2].Value)
                    @Html.HiddenFor(c => Model[2].DisplayName)
                    <li>
                        @Html.CheckBoxFor(c => Model[2].IsChecked)
                        @Html.LabelFor(c => Model[2].IsChecked, Model[2].DisplayName)
                    </li>
                </ul>*@
            </li>
        }
        @*else if (x == 1 || x == 2)
        {

        }
        else if (x == 3)
        {
            @Html.HiddenFor(c => Model[3].Value)
            @Html.HiddenFor(c => Model[3].DisplayName)
            <li class="js-postback">
                @Html.CheckBoxFor(c => Model[3].IsChecked)
                @Html.LabelFor(c => Model[3].IsChecked, Model[3].DisplayName)
            </li>
        }
        else if (x == 4)
        {
            @Html.HiddenFor(c => Model[4].Value)
            @Html.HiddenFor(c => Model[4].DisplayName)
            <li class="js-postback">
                @Html.CheckBoxFor(c => Model[4].IsChecked)
                @Html.LabelFor(c => Model[4].IsChecked, Model[4].DisplayName)
            </li>
        }*@
        else
        {
            @Html.HiddenFor(c => Model[x].Value)
            @Html.HiddenFor(c => Model[x].DisplayName)
            <li class="js-postback">
                @Html.CheckBoxFor(c => Model[x].IsChecked)
                @Html.LabelFor(c => Model[x].IsChecked, Model[x].DisplayName)
            </li>
        }
    }
</ul>