﻿.account-area{
    .licensing-info{
        display:flex;
        justify-content:start;

        @media #{$mobile_device}{
            justify-content:unset;
            flex-wrap:wrap;
        }
    }

    .license-list{
        overflow-x:auto;
    }
}