﻿.checkout-area {
    b {
        font-weight: 500;
        color: $ped-black;
    }

    hr {
        color: maroon;
    }

    .course-price {
        float: right;
    }

    .course-title {
        display: inline;
    }

    p {
        font-size: 16px;
    }

    label {
        font-size: 16px;
        font-weight: 500;
        color: $ped-black;
    }

    .checkout-actions {
        display: flex;
        justify-content: flex-end;
    }

    .cont-shopping {
        width: 250px;
    }

    .remove-coupon-btn {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .coupon-name {
        display: inline-block;
    }

    .remove-course-btn {
        float: left;
        margin-right: 15px;
    }

    .remove-all-courses-btn {
        width: 250px;
        float: right;
    }

    .get-started-btn {
        width: 125px;
    }

    .options {
        float: right;
        margin-right: 50px;
    }

    .form-control:focus {
        border-color: $ped-black;
        box-shadow: none;
    }

    #customer-details {
        background-color: $ped-light-maroon;
        padding: 0;
        border-radius: 5px;
        border: 2px solid black;

        h2 {
            padding: 20px;
            background-color: $ped-maroon;
            color: $white-color;
            text-align: center;
        }
    }

    .billing-details {
        h2 {
            padding: 20px;
        }
    }

    .form-control {
        -webkit-appearance: menulist;
    }

    #ViewModel_CardInfo_Month {
        display: inline-block;
        width: 35%;
        margin-right: 5px;
    }

    #card-details {
        background-color: $ped-light-maroon;
        padding: 0;
        border-radius: 5px;
        border: 2px solid black;

        h2 {
            background-color: $ped-maroon;
            color: $white-color;
            padding: 20px;
            text-align: center;
        }
    }

    #shoppingCartTotals {
        align-self: center;
    }

    .delete-course-from-cart {
        background: none;
        padding: 0px;
        border: none;
    }

    #add-email-input {
        border: unset;
        background-color: transparent;
        float: right;
    }

    .membership-class {
        border: 1px solid black;
        z-index: 5;
        white-space: normal !important;
        word-wrap: break-word;
        cursor: unset !important;
    }

    #mem-class-header {
        background-color: $ped-maroon;

        h4 {
            color: $white-color;
        }
    }

    .classes-in-mem {
        min-height: 10rem;
    }

    #available-classes {
        min-height: 10rem;
    }

    .contact-hours {
        color: $ped-dark-gray;
    }

    .course-item {
        position: relative;

        .expand-collapse-icons {
            position: absolute;
            right: .5rem;
            top: .6rem;

            .expand-course-info {
                cursor: pointer;
            }

            .collapse-course-info {
                display: none;
                cursor: pointer;
            }
        }

        .course-info {
            background-color: $ped-light-gray;
            display: none;
            width: 374.5px;
        }
    }

    .max-facility-staff-discount {
        background-color: $ped-maroon;
        padding: 2rem;
        border-radius:2rem;

        p {
            color: $white_color;
            font-size: 16px;
        }

        a{
            &:hover{
                color: $white_color;
            }
        }
    }
}

#payment-card-details {
    background-color: $ped-light-gold;
    padding: 0;
    border-radius: 5px;
    border: 2px solid black;

    h2 {
        background-color: $ped-gold;
        padding: 20px;
        text-align: center;
    }
}

.card-info {
    display: flex;
    justify-content: flex-end;
}

#order-invoice{
    b{
        color:black;
    }

    table{
        width:unset;
    }
}