﻿.course_area {

    .sidebar {
        background: $ped-lighter-gray;

        .sidebar-title {
            padding: 2%;
            width: 100%;

            @media (max-width:768px) {
                display: flex;
            }
        }

        .show-cat-btn {
            display: none;

            @media (max-width:768px) {
                display: block;
            }
        }

        .hide-cat-btn {
            display: none;
        }

        .category-container {
            width: 100%;

            @media (max-width:768px) {
                display: none;
            }

            li {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .second-group {
                display: none;

                label {
                    display: inline;
                }
            }

            #show-more-btn {
                display: block;
            }

            #show-less-btn {
                display: none;
            }
        }
    }


    .main-category {
        list-style: none;
        padding: 0;
        margin: 0;
        //First four cateogories
        li:nth-child(-n + 12) {
            + a, label {
                display: block;
                text-decoration: none;
                padding: 15px;
                font-weight: 500;
                color: $ped-black;
                background-color: $ped-gold;

                &:hover {
                    background-color: $ped-light-gold;
                }
            }

            input {
                display: none;

                &:checked ~ label {
                    color: $ped-black;
                    background-color: $ped-light-gold
                }
            }
        }

        .js-postback {
            input {
                display: none;
            }
        }

        input:checked ~ label {
            color: $ped-black;
            background-color: $ped-light-maroon
        }

        label {
            display: block;
            text-decoration: none;
            padding: 10px;
            color: $white-color;
            background-color: $ped-maroon;

            &:hover {
                color: $ped-black;
                background-color: $ped-light-maroon;
            }
        }
    }

    .no-courses {
        margin: 25px;
    }

    .course-list {
        padding: 0;



        .filter-bar {
            width: 100%;
            background: $ped-lighter-gray;
            padding: 5px;

            input[type="submit"]{
                z-index:1;
            }

            .form-control {
                -webkit-appearance: menulist;
            }

            @media#{$mobile_device} {
                padding: 15px;
            }

            .form-control:focus {
                border-color: $ped-light-gray;
                box-shadow: none;
            }

            .state {
                display: inline-block;
                margin: 10px;

                @media#{$mobile_device} {
                    float: none;
                    margin: 2px;
                    width: 100%;
                }
            }

            .contact-hours {
                display: inline-block;
                margin: 10px;

                @media#{$mobile_device} {
                    margin: 2px;
                    float: none;
                    width: 100%;
                }
            }

            .sort {
                display: inline-block;
                margin: 10px;

                @media#{$mobile_device} {
                    float: none;
                    margin: 2px;
                    width: 100%;
                }
            }

            .search {
                float: right;
                margin: 10px;

                @media#{$mobile_device} {
                    float: none;
                    margin: 2px;
                    width: 60%;
                    display: inline-block;
                }



                i {
                    color: $white-color;
                }
                /*.inner-addon {
                    position: relative;

                    .fa {
                        position: absolute;
                        padding: 10px;
                        pointer-events: none;
                    }
                }

                .right-addon {
                    .fa {
                        right: 0px;
                    }
                }*/
            }

        }

        .container {
            padding-top: 10px;
            margin: 0px;
            max-width: 1500px;

            .row {
                width: 100%;

                .card {
                    border: none;
                    height: 5%;

                    u {
                        color: $ped-black;
                    }

                    .card-body {
                        .course-image {
                            width: 100%;
                            padding-bottom: 10px;
                        }

                        .btn-buy {
                            float: right;

                            @media #{$mobile_device} {
                                float: none;
                                width: 100%;
                                margin: 10px;
                            }
                        }

                        .contact-hours {
                            background: $ped-lighter-gray;
                            border-radius: 5%;
                            float: left;
                            padding: 10px;
                            margin: 5px;
                        }

                        .course-price {
                            background: $ped-lighter-gray;
                            border-radius: 5%;
                            float: left;
                            padding: 10px;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}

.qty-box {
    max-width: 65px;
}

.confirmation-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;

    @media(max-width:768px){
        width:50%;
        margin:50% auto;
    }

    @media #{$mobile_device}{
        margin: 50% auto;
        width:75%;
    }
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.single-course-area {
    li {
        list-style-type: decimal;
    }

    .container {

        .row {
            .course-info-area {

                .preview-btn {
                    width: 125px;
                }

                ol {
                    li {
                        list-style-type: decimal;
                    }
                }

                ul {
                    margin-left: 15px;

                    li {
                        margin-left: 15px;
                        list-style-type: disc;
                    }
                }

                .letter-bulleted-list {
                    margin-left: 15px;

                    li {
                        list-style-type: lower-alpha;
                        margin-left: 35px;
                    }
                }


                .circle-bulleted-list {
                    margin-left: 10px;

                    li {
                        list-style-type: circle;
                        margin-left: 10px;
                    }
                }

                .checkbox-bullet-list {

                    li {
                        padding: 10px;
                        list-style: none;

                        &::before {
                            content: "\2610";
                            margin-right: 8px;
                        }
                    }
                }

                strong {
                    font-weight: 600;
                }

                u {
                    color: $ped-black;
                }

                b {
                    color: $ped-black;
                }

                .course-info {
                    padding-top: 30px;
                    padding-right: 20px;

                    @media #{$mobile_device} {
                        padding: 10px;
                    }

                    .left-col {
                        .about-course {
                            float: left;
                            margin-top: 30px;
                            margin-bottom: 30px;

                            p {
                                font-size: 16px;
                            }
                        }

                        .course-objectives {
                            float: left;
                            margin-top: 30px;
                            margin-bottom: 30px;

                            p {
                                font-size: 16px;
                            }

                            li {
                                list-style-type: decimal;
                                margin: 5px;
                            }

                            h3 {
                                padding-bottom: 10px;
                            }
                        }

                        .course-curriculum {
                            float: left;
                            margin-top: 30px;


                            h3 {
                                padding-bottom: 10px;
                            }
                        }
                    }

                    .right-col {
                        .course-img {
                            float: right;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            @media #{$mobile_device} {
                                margin: 10px;
                                float: none;
                            }
                        }

                        .course-details {

                            .course-style {
                                float: right;
                                background: $ped-lighter-gold;
                                border: 2px solid $ped-light-gold;
                                border-radius: 2px;
                                padding: 3px;
                                margin: 10px;

                                b {
                                    color: $ped-black;
                                }
                            }

                            .course-purchase {
                                margin-top: 30px;
                                margin-bottom: 20px;

                                .purchase-btn {
                                    float: right;
                                    margin: 5px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .right-panel {

                .box {
                    padding: 10px;
                    margin: 5px;

                    .box-header {
                        background: $ped-maroon;
                        padding: 10px;

                        h3 {
                            color: $white-color;
                            margin: 0;
                        }
                    }

                    .box-content {
                        background: $ped-light-maroon;
                        padding: 15px;

                        li {
                            padding-top: 10px;
                            padding-bottom: 10px;

                            a {
                                color: $white-color;

                                &:hover {
                                    color: $ped-lighter-gray;
                                }
                            }
                        }

                        .author-img {
                            float: left;
                            padding: 5px;
                            margin-right: 8px;
                            max-width: 75px;
                            max-height: 75px;
                        }

                        .short-bio {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

.facility-membership-classes {
    column-gap: 3rem;

    li {
        list-style: disc;
    }
}