﻿.anchor {
    position: relative;
    display: block;
    top: -300px;
}

html {
    scroll-behavior: smooth;
}

.dashboard-area {
    .card{
        .title{
            margin-right:auto;
        }
    }


    #facility-list{
        margin:2rem 0;
    }

    .corporation {
        display:flex;
        flex-flow:column;
        height:100%;
        margin:0 1rem;
        padding:1rem;
        background-color: #f0e7e7;
        border-radius:.5rem;
    }

    #facilityLoading {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    #order-invoice {
        overflow-x: auto;
    }

    .show-card-body {
        display: none;

        @media #{$mobile_device} {
            display: block;
        }
    }

    .hide-card-body {
        display: none;
    }

    .card-action-box {
        display: block;

        @media #{$mobile_device} {
            display: none;
        }
    }

    .staff-action-btns {
        display: flex;
        justify-content: end;
        align-items: start;

        @media #{$mobile_device} {
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: start;
            padding: .7rem;
        }
    }
    
    #users-list-group {
        column-count: 3;

        @media #{$tablet_device} {
            column-count: 2;
        }

        @media #{$mobile_device} {
            column-count: 1;
        }
    }

    #user-modal-content {
        margin: auto;
        width: 50%;

        @media(max-width:768px){
            width:75%;
        }

        @media #{$mobile_device} {
            width: 85%;
        }

        .pass-visibility-icon {
            right: -260px;
        }
    }

    .directions {
        li {
            margin: 15px;
        }
    }

    .page-item.active .page-link {
        background-color: $ped-maroon;
        border: 1px solid $ped-maroon;
    }

    #add-student-input {
        border: unset;
        background-color: transparent;
        float: right;
    }

    .description {
        ol {
            li {
                margin: 5px;
                list-style: decimal;
            }
        }

        ul {
            li {
                margin: 5px;
                margin-left: 15px;
                list-style: disc;
            }
        }
    }

    .form-control {
        -webkit-appearance: menulist;
    }

    .dashboard-title {
        text-align: center;
    }

    .row {

        .left-panel {
            .card {
                margin: 10px;

                .card-header {
                    background-color: $ped-gold;

                    h4 {
                        color: $ped-black;
                    }

                    .course-header-title {
                        float: left;
                    }
                }

                .card-body {
                    background: $ped-light-gold;

                    .help-links {
                        h4 {
                            margin-top: 10px;
                        }

                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .course-boards {

            .account-area {

                #addressForm {
                    display: none;
                }

                i {
                    color: $ped-blue;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .card {
                    margin: 10px;

                    .card-header {
                        background-color: $ped-gold;
                        display: flex;
                        padding: .75rem 1.25rem;

                        h4 {
                            color: $ped-black;
                        }

                        .course-header-title {
                            margin-right: auto;
                        }

                        .nav-tabs {
                            margin-top: auto;

                            .nav-item {
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;

                                .nav-link {
                                    color: $white-color;
                                }

                                .nav-link.active {
                                    background: $ped-light-gold;
                                    border-bottom-color: $ped-light-gold;
                                    border-color: $ped-light-gold;

                                    &:hover {
                                        border-color: $ped-light-gold;
                                        color: $white-color;
                                    }
                                }

                                .nav-link:hover {
                                    border-color: $white-color;
                                    color: $white-color;
                                }
                            }
                        }
                    }

                    .card-body {
                        background: $ped-light-gold;

                        .help-links {
                            h4 {
                                margin-top: 10px;
                            }

                            li {
                                font-size: 14px;
                            }
                        }

                        .personal-info {
                            width: 70%;
                            margin-left: 150px;

                            .form-row {
                                padding: 15px;

                                .form-control:focus {
                                    border-color: $ped-light-gray;
                                    box-shadow: none;
                                }

                                .fname {
                                    width: 50%;
                                    padding-right: 5%;
                                }

                                .lname {
                                    width: 50%;
                                }

                                .email {
                                    width: 65%;
                                    padding-right: 5%;
                                }

                                .phone {
                                    width: 35%;
                                }

                                .street {
                                    width: 100%;
                                }


                                .city {
                                    width: 50%;
                                    padding-right: 5%;
                                }

                                .state {
                                    width: 40%;
                                    padding-right: 5%;
                                }

                                .country {
                                    width: 60%;
                                }

                                .zip {
                                    width: 50%;
                                }
                            }

                            .personal-info-btn {
                                margin-top: 2%;
                                margin-left: 2%;
                            }
                        }

                        .preferred-voice {
                            width: 40%;
                            float: left;
                            margin-right: 10px;

                            .form-control:focus {
                                border-color: $ped-light-gray;
                                box-shadow: none;
                            }
                        }

                        .talking-speed {
                            width: 40%;
                            display: inline-block;

                            .form-control:focus {
                                border-color: $ped-light-gray;
                                box-shadow: none;
                            }
                        }

                        .preference-btns {
                            display: inline-block;
                            margin-left: 10px;
                        }

                        .certificate-name {
                            float: left;
                            width: 50%;
                            margin-right: 15px;

                            .form-control:focus {
                                border-color: $ped-light-gray;
                                box-shadow: none;
                            }
                        }

                        .facility-code {
                            display: inline-block;
                            width: 20%;
                            margin-right: 15px;

                            .form-control:focus {
                                border-color: $ped-light-gray;
                                box-shadow: none;
                            }
                        }

                        .certificate-btn {
                            display: inline-block;
                        }

                        .add-license {
                            padding: 15px;

                            .form-control:focus {
                                border-color: $ped-light-gray;
                                box-shadow: none;
                            }

                            .license-type {
                                width: 50%;
                                float: left;
                                padding-right: 2%;
                            }

                            .license-num {
                                width: 25%;
                                display: inline-block;
                                padding-right: 2%;
                            }

                            .state {
                                width: 15%;
                                display: inline-block;
                            }

                            .add-license-btn {
                                margin-top: 15px;
                            }
                        }

                        .license-list {
                            table {
                                margin-top: 10px;
                                border-radius: 5px;
                                background: $ped-lighter-gold;

                                thead {
                                    border-radius: 5px;
                                    background: $ped-lighter-gray;
                                }

                                tbody {

                                    tr {
                                        a {
                                            color: $ped-blue;

                                            i {
                                                padding: 5px;
                                            }
                                        }

                                        a:hover {
                                            color: $gray-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .card {
                margin: 10px;
                
                #facility-filter {
                    display: block;
                }

                #facility-list {
                    display: block;
                }

                #new-facility-form {
                    display: none;
                }

                .card-header {
                    background-color: $ped-maroon;
                    display: flex;

                    @media #{$mobile_device} {
                        display: block;
                        padding: 0;
                    }

                    h4 {
                        color: $white-color;
                    }

                    .course-header-title {
                        margin-right: auto;

                        @media #{$mobile_device} {
                            padding: 1rem;
                        }
                    }

                    .anchor-links {
                        a {
                            color: $white-color;
                        }
                    }

                    .nav-tabs {
                        margin-top: auto;

                        @media #{$mobile_device} {
                            margin-top: 0;
                            padding: 0 1rem 0.5rem 1rem;
                        }

                        .nav-item {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;

                            .nav-link {
                                color: $white-color;

                                @media #{$mobile_device} {
                                    padding: 0.5rem 0.25rem;
                                }
                            }

                            .nav-link.active {
                                background: $ped-light-maroon;
                                border-bottom-color: $ped-light-maroon;
                                border-color: $ped-light-maroon;

                                &:hover {
                                    border-color: $ped-light-maroon;
                                    color: $white-color;
                                }
                            }

                            .nav-link:hover {
                                border-color: $white-color;
                                color: $white-color;
                            }
                        }
                    }
                }

                .card-body {
                    background: $ped-light-maroon;

                    .action-btns {
                        margin-bottom: 20px;
                    }

                    .filter-bar {
                        width: 100%;


                        .form-control:focus {
                            border-color: $ped-light-gray;
                            box-shadow: $ped-maroon;
                        }

                        .purchase-type {
                            display: inline-block;
                            padding: 2px;
                        }

                        .state {
                            display: inline-block;
                            padding: 2px;
                        }

                        .contact-hours {
                            display: inline-block;
                            padding: 2px;
                        }

                        .sort {
                            display: inline-block;
                            padding: 2px;
                        }

                        .search {
                            float: right;
                            padding: 2px;
                            width: 20%;

                            .inner-addon {
                                position: relative;

                                .fa {
                                    position: absolute;
                                    padding: 10px;
                                    pointer-events: none;
                                }
                            }

                            .right-addon {
                                .fa {
                                    right: 0px;
                                }
                            }
                        }
                    }

                    .table {
                        margin-top: 10px;
                        border-radius: 5px;
                        background: $ped-lighter-maroon;

                        thead {
                            border-radius: 5px;
                            background: $ped-lighter-gray;
                        }

                        tbody {
                            tr {
                                a {
                                    color: $ped-blue;

                                    i {
                                        padding-left: 50px;
                                    }
                                }

                                a:hover {
                                    color: $gray-color;
                                }
                            }
                        }
                    }

                    #current {
                        overflow-x: auto;
                    }

                    #completed {
                        overflow-x: auto;
                    }

                    .current-course-table {
                        margin-top: 10px;
                        border-radius: 5px;
                        background: $ped-lighter-maroon;

                        thead {
                            border-radius: 5px;
                            background: $ped-lighter-gray;
                        }

                        tbody {
                            tr {
                                a {
                                    color: $ped-blue;

                                    i {
                                        padding-left: 50px;
                                    }
                                }

                                a:hover {
                                    color: $gray-color;
                                }
                            }
                        }

                        th:first-child {
                            @media #{$mobile_device} {
                                position: sticky;
                                left: 0;
                                background-color: #f0e7e7;
                            }
                        }

                        td:first-child {

                            @media #{$mobile_device} {
                                position: sticky;
                                left: 0;
                                background-color: #f0e7e7;
                            }
                        }
                    }

                    .courses {

                        table {
                            margin-top: 10px;
                            border-radius: 5px;
                            background: $ped-lighter-maroon;

                            thead {
                                border-radius: 5px;
                                background: $ped-lighter-gray;
                            }

                            tbody {

                                tr {
                                    a {
                                        color: $ped-blue;
                                    }

                                    a:hover {
                                        color: $gray-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .confirmation-modal {
        display: none;
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 20%;

        @media(max-width:768px){
            margin:45% auto;
            width:50%;
        }

        @media #{$mobile_device} {
            width: 85%;
        }
    }

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;

        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .contact, .facility {
        border: solid 2px black;
        border-radius: 10px;
        background-color: $ped-lighter-gray;

        .form-control {
            border-color: $ped-light-gray;
        }
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
        background-color: $ped-lighter-gray;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .add-div {
        border: dashed 2px black;
        border-radius: 10px;
        display: block;
        text-align: center;
        min-width: 400px;
        min-height: 300px;

        @media #{$mobile_device} {
            min-width: unset;
        }
    }

    #add-contact-btn {
        position: relative;
        top: 40%;
    }

    #new-student-form {
        display: none;
    }

    #existing-student-form {
        display: none;
    }

    #no-students {
        display: block;
    }

    #assign-class {
        background-color: transparent;
        border: unset;

        i {
            color: $ped-maroon;
        }

        &:disabled {
            i {
                color: $gray-color;
            }
        }
    }

    #unassign-class {
        background-color: transparent;
        border: unset;

        i {
            color: $ped-maroon;
        }

        &:disabled {
            i {
                color: $gray-color;
            }
        }
    }

    #education-plan-drop-down option:disabled {
        background-color: $ped-light-gold;
    }
}
