.expert_area {
    //padding-top: 120px;
    //padding-bottom: 120px;
    &.expert_page {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @media #{$mobile_device} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .expert_title {
        h3 {
            font-size: 36px;
            font-weight: 500;
            color: #1F1F1F;

            @media #{$mobile_device} {
                font-size: 24px;
            }
        }
    }

    .single_expert {
        .expert_thumb {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;

            img {
                @include transition(.3s);
                @include transform(scale(1));
                width: 100%;
            }
        }

        .experts_name {
            @include transition(.3s);
            background: $ped-lighter-gold;
            padding-top: 16px;
            padding-bottom: 18px;

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 1px;
                @include transition(.3s);
            }

            span {
                color: #919191;
                font-size: 13px;
                @include transition(.3s);
            }
        }

        &:hover {
            .expert_thumb {
                img {
                    @include transform(scale(1.03));
                }
            }

            .experts_name {
                background: $ped-gold;

                h3 {
                    color: $white-color;
                }

                span {
                    color: #fff;
                }
            }
        }
    }

    .owl-carousel {
        .owl-nav div {
            background: transparent;
            height: 40px;
            left: 0px;
            text-align: center;
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            transform: translateY(0%);
            width: 40px;
            color: #919191;
            background-color: transparent;
            @include border-radius(5px);
            font-size: 15px;
            line-height: 40px;
            border: 1px solid #EEEEEE;
            left: auto;
            left: auto;
            top: -100px;
            right: 55px;
        }

        .owl-prev {
            width: 10px;
            height: 100px;
            position: absolute;
            top: -100px;
            left: auto;
            right: 105px;
            display: block !important;
            border: 0px solid black;

            i {
                padding: 10px;
                font-size:2rem;
                color: $gray-color;
            }
        }

        .owl-next {
            width: 10px;
            height: 100px;
            position: absolute;
            top: -100px;
            right: 35px;
            display: block !important;
            border: 0px solid black;

            i {
                padding: 10px;
                font-size:2rem;
                color: $gray-color;
            }
        }
    }
}
