.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .footer_top {
        padding-top: 145px;
        padding-bottom: 129px;
        background: $ped-dark-gray;

        @media #{$mobile_device} {
            padding-top: 60px;
            padding-bottom: 30px;
        }

        .footer_widget {
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }

            @media #{$tablet_device} {
                margin-bottom: 30px;
            }

            .footer_title {
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-top: 30px;
                margin-bottom: 20px;

                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }

            .footer_logo {
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 40px;
                padding-right: 40px;

                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }

                img {
                    width: 100%;
                }
            }

            p {
                color: #C7C7C7;
            }

            p.footer_text {
                font-size: 16px;
                color: #B2B2B2;
                margin-bottom: 23px;
                font-weight: 400;
                line-height: 28px;

                a.domain {
                    color: #B2B2B2;
                    font-weight: 400;

                    &:hover {
                        color: #5DB2FF;
                        border-bottom: 1px solid #5DB2FF
                    }
                }

                &.doanar {
                    a {
                        font-weight: 500;
                        color: #B2B2B2;

                        &:hover {
                            color: #5DB2FF;
                            border-bottom: 1px solid #5DB2FF
                        }

                        &.first {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            ul {
                li {
                    margin: 0.5rem 0;
                    word-break:break-all;

                    a {
                        font-size: 16px;
                        color: #BABABA;
                        line-height: 42px;

                        &:hover {
                            color: $ped-maroon;
                        }
                    }
                }
            }

            .newsletter_form {
                position: relative;
                margin-bottom: 20px;

                input {
                    width: 100%;
                    height: 45px;
                    background: #fff;
                    padding-left: 20px;
                    font-size: 16px;
                    color: #000;
                    border: none;

                    &::placeholder {
                        font-size: 16px;
                        color: #919191;
                    }
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    background: #5DB2FF;
                    padding: 10px;
                    padding: 0 22px;
                    cursor: pointer;
                }
            }

            .newsletter_text {
                font-size: 16px;
                color: #BABABA;
            }

            .social_links {
                margin-top: 47px;

                @media #{$mobile_device} {
                    margin-top: 30px;
                }

                ul {
                    li {
                        display: inline-block;

                        a {
                            font-size: 18px;
                            line-height: 42px;
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            text-align: center;
                            background: $ped-dark-gold;
                            border-radius: 4px;
                            line-height: 50px !important;
                            margin-right: 7px;
                            color: #ffffff;

                            &:hover {
                                background: $ped-gold;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright_text {
        padding-bottom: 30px;
        background: $ped-black;

        .footer_border {
            padding-bottom: 30px;
        }

        .copyright {
            font-size: 16px;
            color: #919191;
            margin-bottom: 0;
            font-weight: 400;

            @media #{$mobile_device} {
                font-size: 14px;
            }

            a {
                color: #5DB2FF;
            }
        }
    }
}
