﻿.reset-password-area {
    .container {
        .row {
            justify-content: center;

            .reset-password-box {
                border: 1px solid $ped-black;
                width: 400px;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 2%;

                .reset-password-header {
                    padding-top: 6%;
                    padding-left: 5%;
                    height: 10%;
                    align-content: center;

                    h2 {
                        color: $ped-maroon;
                    }
                }

                .reset-password-body {
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 2%;
                    padding-bottom: 2%;

                    form {
                        margin-bottom: 5%;

                        .form-group {

                            label {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .reset-password-footer {
                    height: 10%;
                    margin-top: 10%;

                    .login-btn {
                        float: left;
                        padding-left: 5%;
                    }

                    .register-btn {
                        float: right;
                        padding-right: 5%;
                    }
                }
            }
        }
    }
}
