.header-area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;

    @media #{$mobile_device} {
        padding-top: 0;
    }

    @media #{$tablet_device} {
        padding-top: 0;
    }

    ul {
        margin: 0 !important;
    }

    #mainMenu{
        max-width:100%;
    }

    .navbar {
        .dropdown-item{
            white-space:normal;
        }

        .navbar-toggler {
            &:focus {
                color: $ped-black;
                box-shadow: 0 0 0 0.15rem;
            }

            span {
                color: $ped-black;
            }
        }

        .nav-link {
            color: $ped-black;
            font-weight: 500;
            margin: auto 0;
            color: $ped-dark-gray;
            font-size: 1.1rem;
            font-weight: 500;
            font-family: $font1;
        }

        .nav-item {
            display: flex;

            @media #{$mobile_device} {
                display: block;
                text-align: center;
            }

            @media #{$tablet_device} {
                display: block;
                text-align: center;
            }
        }

        .dropdown-menu {
            top: 2.5rem;

            @media #{$mobile_device} {
                margin: 0 3rem !important;
            }

            @media #{$tablet_device} {
                margin: 0 3rem !important;
            }
        }

        .nav-link .btn {
            color: $white-color;
        }

        #openBtn {
            background-color: transparent;
            border: none;
        }

        &.sticky {
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            z-index: 99;
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255,.96);
        }
    }

    .header-top_area {

        .social_media_links {
            margin-top: 5%;

            @media #{$tablet_device} {
                text-align: center;
            }

            @media #{$mobile_device} {
                text-align: center;
            }

            a {
                font-size: 15px;
                color: #C7C7C7;
                margin-right: 12px;

                &:hover {
                    color: $ped-maroon;
                }
            }
        }

        .utility_nav_list {
            text-align: right;

            @media #{$tablet_device} {
                text-align: center;
            }

            @media #{$mobile_device} {
                text-align: center;
            }

            ul {
                display: flex;
                justify-content: end;
                align-items: baseline;

                @media #{$tablet_device} {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                @media #{$mobile_device} {
                    justify-content: center;
                    flex-wrap: wrap;
                }

                li {
                    display: inline-block;
                    position: relative;
                    margin: 0 10px;

                    a {
                        /*font-size: 13px;
                        color: #919191;
                        margin-left: 20px;*/
                        color: $ped-light-gray;
                        font-size: 13px;
                        font-weight: 500;
                        display: inline-block;
                        padding: 0;
                        position: relative;

                        @media #{$mobile_device} {
                            margin-left: 0;
                            margin: 0 5px;
                        }

                        i {
                            color: $ped-gold;
                            margin-right: 7px;
                        }
                    }

                    .dashboard-btn {
                        color: $white-color;
                        padding: 5px;
                    }

                    .submenu {
                        position: absolute;
                        left: 0;
                        top: 160%;
                        background: #fff;
                        width: 200px;
                        z-index: 2;
                        box-shadow: 0 0 10px rgba(0,0,0,.02);
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        @include transition(.6s);
                        background: $ped-lighter-gold;
                        flex-flow: column;

                        li {
                            display: block;
                            background: $ped-lighter-gold;
                            margin: 0;
                            width: 100%;

                            a {
                                margin: 0;
                                padding: 10px 15px;
                                position: inherit;
                                @include transition(.3s);
                                display: block;
                                color: $ped-dark-gray;

                                &::before {
                                    display: none;
                                }
                            }

                            &:hover a {
                                color: $ped-dark-gray;
                                background: $ped-light-gold;
                            }

                            form {
                                .logout-btn {
                                    width: 100%;
                                    color: $white-color;
                                }
                            }
                        }
                    }

                    &:hover > .submenu {
                        opacity: 1;
                        visibility: visible;
                        top: 150%;
                        background: $ped-lighter-gold;
                    }

                    &:hover > a::before {
                        opacity: 1;
                        transform: scaleX(1);
                    }

                    &:first-child a {
                        //padding-left: 0;
                    }

                    &:last-child {
                        margin: 2%;
                    }
                }
            }
        }
    }
}
