﻿.login-area {
    .container {
        .row {
            justify-content: center;

            .login-box {
                border: 1px solid $ped-black;
                width: 400px;
                padding-left: 2%;
                padding-right: 2%;
                height:100%;

                .login-header {
                    margin: 2rem 0 1rem 1rem;

                    h2 {
                        color: $ped-maroon;
                    }
                }

                .login-body {
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    height: 65%;

                    form {
                        margin-bottom: 5%;

                        .form-group {

                            label {
                                font-size: 16px;
                            }

                            #login-btn {
                                margin-left: 35%;
                            }
                        }
                    }
                }

                .login-footer {
                    margin:2rem 0;
                    display:flex;
                    justify-content:space-around;
                }
            }
        }
    }
}

.password-validation-err{
    li{
        list-style:disc;
    }
}