﻿.manage-facility-classes {
    .edit-facility-class {
        cursor: pointer;
    }

    .save-facility-class-qty {
        cursor: pointer;
        display: none;
    }

    .changed-qty {
        display: none;
    }

    .cancel-btn {
        cursor: pointer;
    }

    table {
        overflow-x: auto;
    }

    .facility-package-update-modal {
        display: none;
    }
}
