﻿.register-area {
    .form-control {
        -webkit-appearance: menulist;
    }

    .container {
        .row {
            justify-content: center;

            .register-box {
                border: 1px solid $ped-black;
                width: 800px;
                padding-left: 2%;
                padding-right: 2%;

                .register-header {
                    padding-top: 6%;
                    padding-left: 5%;
                    padding-bottom: 8%;
                    height: 10%;
                    align-content: center;

                    h2 {
                        color: $ped-maroon;
                    }
                }
            }
        }
    }

    .parent-corp-details {
        display: none;
    }
}