﻿.container {
    .form-control {
        -webkit-appearance: menulist;
    }
}

#pedagogy-widget-script{
    border: 2px solid grey;
    border-radius: 5px;
    background-color:$ped-lighter-gold;
    padding:15px;
}

.resource_area {
    display: flex;

    .sidebar {
        background: $ped-lighter-gray;
        padding: 1%;

        .search {
            margin: 10px;

            .form-control:focus {
                border-color: $ped-light-gray;
                box-shadow: none;
            }

            .inner-addon {
                position: relative;

                .fa {
                    position: absolute;
                    padding: 10px;
                    pointer-events: none;
                }
            }

            .right-addon {
                .fa {
                    right: 0px;
                }
            }

            #resourceSearchBtn{
                margin-right:1rem;
            }
        }

        .sidebar-title {
            padding: 2%;
            width: 100%;
        }

        .category-container {
            width: 100%;

            .main-category {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            input:checked ~ label {
                color: $ped-black;
                background-color: $ped-light-maroon
            }

            label {
                display: block;
                text-decoration: none;
                padding: 10px;
                color: $white-color;
                background-color: $ped-maroon;

                &:hover {
                    color: $ped-black;
                    background-color: $ped-light-maroon;
                }
            }

            .state-boards {
                display: block;
                text-decoration: none;
                padding: 10px;
                color: $ped-black;
                background-color: $ped-gold;

                &:hover {
                    color: $ped-black;
                    background-color: $ped-light-gold;
                }
            }

            a {
                color: $ped-black;
            }


            .js-postback {


                input {
                    display: none;
                }
            }
        }
    }



    .container {
        padding-top: 10px;
        margin: 0px;
        max-width: 1500px;

        .row {
            width: 100%;

            .card {
                border: none;
                height: 5%;

                u {
                    color: $ped-black;
                }

                .view-btn {
                    a {
                        @media #{$mobile_device} {
                            float: none;
                            width: 100%;
                            margin-top: 20px;
                        }
                    }
                }

                .course-image {
                    width: 100%;
                }

                .card-body {

                    .btn-buy {
                        float: right;
                    }

                    .contact-hours {
                        background: $ped-lighter-gray;
                        border-radius: 5%;
                        float: left;
                        padding: 10px;
                        margin: 5px;
                    }

                    .course-price {
                        background: $ped-lighter-gray;
                        border-radius: 5%;
                        float: left;
                        padding: 10px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}

.resource_details_area {
    .container-fluid {
        max-width: 1700px;

        .resource-info-area {
            .resource-info {
                padding-top: 30px;
                padding-right: 20px;

                @media #{$mobile_device} {
                    padding: 10px;
                }
            }
        }
    }

    u {
        color: $ped-black;
    }

    b {
        color: $ped-black;
    }

    strong {
        font-weight: 700;
    }


    .about-resource {
        overflow-wrap: break-word;

        ol {
            li {
                list-style-type: decimal;
            }
        }

        ul {
            margin-left: 15px;

            li {
                margin-left: 15px;
                list-style-type: disc;
            }
        }

        .letter-bulleted-list {
            margin-left: 15px;

            li {
                list-style-type: lower-alpha;
                margin-left: 35px;
            }
        }


        .circle-bulleted-list {
            margin-left: 10px;

            li {
                list-style-type: circle;
                margin-left: 10px;
            }
        }

        .checkbox-bullet-list {

            li {
                padding: 10px;
                list-style: none;

                &::before {
                    content: "\2610";
                    margin-right: 8px;
                }
            }
        }

        table {
            max-width: 100%;
            overflow-x: auto;
            overflow-y:auto;
        }
    }
}

.print-btn {
    display: block;
    width: 50%;
    margin: auto;
}

.resource-details {
    text-align: center;
}

.box {
    padding: 10px;
    margin: 5px;

    .box-header {
        background: $ped-maroon;
        padding: 10px;

        h3 {
            color: $white-color;
            margin: 0;
        }
    }

    .box-content {
        background: $ped-light-maroon;
        padding: 15px;

        li {
            padding-top: 10px;
            padding-bottom: 10px;

            a {
                color: $white-color;

                &:hover {
                    color: $ped-lighter-gray;
                }
            }
        }
    }
}
