// slick-nav
.mobile_menu {
    @media #{$mobile_device} {
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 9;
    }

    .btn-primary{
        color:$white-color !important;
    }

    .slicknav_menu {
        @media #{$mobile_device} {
            margin-right: 0px;
        }

        .slicknav_open {

            .slicknav_icon-bar {
                &:nth-child(1) {
                    transform: rotate(45deg) translateX(6px) translateY(8px);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translateX(1px) translateY(-5px);
                }
            }
        }

        .slicknav_nav {
            background: $white-color;
            float: right;
            margin-top: 0;
            padding: 0;
            width: 95%;
            padding: 0;
            border-radius: 0px;
            margin-top: 5px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 11px;

            @media(max-width:578px) {
                padding: 1rem !important;
            }

            .slicknav_item {
                a {
                    @media #{$mobile_device} {
                        margin-right: auto;
                    }
                }
            }

            a {
                font-size: 1.1rem;

                @media(max-width:578px) {
                    display: flex;
                    align-items: baseline;
                }

                &:hover {
                    color: $ped-black;
                    background: $ped-lighter-gray;
                }

                &.active {
                    color: $ped-maroon;
                    font-weight: 800;
                }

                i {
                    @media #{$mobile_device} {
                        display: none;
                    }

                    @media #{$tablet_device} {
                        display: none;
                    }
                }
            }
        }
    }

    .slicknav_nav .slicknav_arrow {
        float: right;
        font-size: 22px;
        position: relative;
        top: -9px;

        @media(max-width:578px) {
            top: unset;
        }
    }
}

.utility_nav_list {
    ul {
        /*display: flex;
        justify-content:end;
        align-items:baseline;*/

        @media #{$mobile_device}{
            display:block;
        }
    }
}

.utility-nav-action{

    @media #{$mobile_device}{
        display:none !important;
    }
}

#utility-nav{
    display:none;

    @media #{$mobile_device}{
        display:block;
    }
}