﻿.solution-area{
    .back-btn{
        margin-bottom:20px;
    }

    .ad{
        margin-top:15px;
        margin-bottom: 15px;
    }

    .solution-details{
        b{
            color:$ped-black;
        }

        li{
            list-style-type:circle;
        }

        p{
            margin-top:20px;
        }
    }
}
