// fonts
$font1:  'Poppins', sans-serif;
$font2:  'Poppins', sans-serif;
// fonts-size

// colors
$ped-gold: #faa61b;
$ped-black: #212221;
$ped-maroon: #6a1212;
$ped-green: #2e9d3e;
$ped-blue: #1489bc;
$ped-red: #d7453f;

// dark shades
$ped-dark-gold: #fcc15f;
$ped-dark-black: #646464;
$ped-dark-maroon: #975959;
$ped-dark-green: #6dba78;
$ped-dark-blue: #5bacd0;
$ped-dark-red: #97302c;

// light shades
$ped-light-gold: #fee4bb;
$ped-light-gray: #a6a7a6;
$ped-light-maroon: #c3a0a0;
$ped-light-green: #c0e2c5;
$ped-light-blue: #c9dceb;
$ped-light-red: #f3c7c5;

// lighter shades
$ped-lighter-gold: #fff6e8;
$ped-lighter-gray: #e9e9e9;
$ped-lighter-maroon: #f0e7e7;
$ped-lighter-green: #eaf5ec;
$ped-lighter-blue: #E8F3F8;
$ped-lighter-red: #fbecec;

// grays
$ped-dark-gray: #373837;


$heading-color:#1F1F1F;
$gray-color: #bebebe;
$gray-color-2: #bdbdbd;

$theme-color: #1F1F1F;
$theme-color2: #ff5e13;

$gray-color3:#5c5c5c;
$white_color:#fff;

$font_1: #666666;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #5c5c5c;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
//$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

$btn_bg: #009DFF;
$btn_hover: #f5790b;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color: #191d34;
$heading_color2: #ff8b23;

/* Normal desktop :1200px. */
$large_device: '(min-width: 1200px) and (max-width: 1500px)';
/* Normal desktop :992px. */
$mid_device: '(min-width: 992px) and (max-width: 1200px)';
/* Tablet desktop :768px. */
$tablet_device: '(min-width: 768px) and (max-width: 991px)';
/* small mobile :320px. */
$mobile_device: '(max-width: 767px)';
/* Large Mobile :480px. */
$large_mobile: 'only screen and (min-width: 480px) and (max-width: 767px)';

$theme-colors: ( 
    "primary": $ped-maroon,
    "secondary": $ped-light-gray,
    "success": $ped-red,
    "info": $ped-light-maroon,
    "warning": $ped-light-gold,
    "danger": $ped-red,
    "light": $ped-lighter-maroon
);