.testmonial_area {
    .single-testmonial {
        padding: 80px 0;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .testmonial_info {
        .quote {
            i {
                color: #fff;
                font-size: 40px;
            }
        }

        p {
            color: #fff;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            margin-top: 12px;
            margin-bottom: 47px;

            br {
                @media #{$tablet_device} {
                    display: none;
                }
            }
        }

        h4 {
            color: #fff;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            padding-top: 21px;

            &:before {
                position: absolute;
                background: #fff;
                width: 60px;
                height: 2px;
                content: '';
                left: 50%;
                @include transform(translateX(-50%));
                top: 0;
            }
        }
    }
}
.testmonial_bg_1{
    background-image: url(../img/testmonial/1.png);
}
.testmonial_bg_2{
    background-image: url(../img/testmonial/2.png);
}

.testimonial-area {
    .container {
        .row {
            .testimonial-wrapper {
                .card {
                    border: none;
                    margin: 5%;
                }

                .card-img {
                    border-radius: 0;
                    /*padding-top: 20px;
                    width: 50%;
                    margin: 0 auto;*/
                }

                .review-cards {
                    .card {
                        display: flex;
                        flex-flow: wrap;
                        flex: 100%;
                        margin-bottom: 40px;
                        margin-left: 15px;

                        &:nth-child(even) .card-img-body {
                            order: 2;
                        }

                        &:nth-child(even) .card-body {
                            padding-left: 0;
                            padding-right: 1.25rem;
                        }

                        @media (max-width: 576px) {
                            display: block;
                        }

                        .card-img-body {
                            flex: 1;
                            overflow: hidden;
                            position: relative;

                            @media (max-width: 576px) {
                                width: 100%;
                                height: 200px;
                                margin-bottom: 20px;
                            }
                        }

                        .card-img {
                            width: 100%;
                            height: auto;
                            position: absolute;
                            margin-left: 50%;
                            transform: translateX(-50%);

                            @media (max-width: 1140px) {
                                margin: 0;
                                transform: none;
                                width: 100%;
                                height: auto;
                            }
                        }

                        .card-body {
                            flex: 2;
                            padding: 0 0 0 1.25rem;

                            @media (max-width: 576px) {
                                padding: 0;
                            }

                            .course-title {
                                margin-top: 20px;
                                float: left;
                            }

                            .go-to-course {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
