﻿.row{
    --bs-gutter-x:none;
    margin:0;
}

.col-12{
    padding:0;
}

body {
    font-family: $font1;
    font-weight: normal;
    font-style: normal;
}

.img {
    max-width: 100%;
    @include transition(.3s);
}

a,
.button {
    @include transition(.3s);
}

a:focus,
.button:focus, button:focus {
    text-decoration: none;
    outline: none;
}

a:focus {
    color: #fff;
    text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
    color: #1F1F1F;
}

a,
button {
    color: $ped-blue;
    outline: medium none;
}

h1, h2, h3, h4, h5 {
    font-family: $font1;
    color: #1F1F1F;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
    margin-left:2rem;
}

li {
    list-style:none;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $ped-black;
    margin-bottom: 13px;
    font-family: $font1;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

*::-ms-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

h3 {
    font-size: 24px;
}

.mb-65 {
    margin-bottom: 67px;
}
// default-bg-color
.black-bg {
    background: #020c26 !important;
}

.white-bg {
    background: #ffffff;
}

.gray-bg {
    background: #f5f5f5;
}

// background-image
.bg-img-1 {
    background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
    background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
    background-image: url(../img/background-img/bg-img-3.jpg);
}

.overlay {
    position: relative;
    z-index: 0;
}

.overlay::before {
    position: absolute;
    content: "";
    background-color: $ped-black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

.overlay2 {
    position: relative;
    z-index: 0;
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: $ped-dark-gray;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.overlay_skyblue {
    position: relative;
    z-index: 0;
}

.overlay_skyblue::before {
    position: absolute;
    content: "";
    background-color: $ped-blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}


.bradcam_overlay {
    position: relative;
    z-index: 0;
}

.bradcam_overlay::before {
    position: absolute;
    content: "";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#792a2a+0,7db9e8+100&1+24,0+96 */
    background: -moz-linear-gradient(left, rgba(121,42,42,1) 0%, rgba(121,42,42,1) 24%, rgba(125,179,224,0) 96%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(121,42,42,1) 0%,rgba(121,42,42,1) 24%,rgba(125,179,224,0) 96%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(121,42,42,1) 0%,rgba(121,42,42,1) 24%,rgba(125,179,224,0) 96%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#792a2a', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-padding-half {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pt-120 {
    padding-top: 120px;
}

/* button style */
.owl-carousel {
    .owl-nav div {
        background: transparent;
        height: 50px;
        left: 0px;
        // opacity: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        // visibility: hidden;
        width: 50px;
        color: #fff;
        background-color: transparent;
        @include border-radius(5px);
        left: 50px;
        font-size: 15px;
        line-height: 50px;
        border: 1px solid #fff;
        left: 140px;
    }

    .owl-nav {
        div {
            &.owl-next {
                // left: 86px;
                // right: auto;
                left: auto;
                right: 140px;

                i {
                    position: relative;
                    right: 0;
                    // top: 1px;
                }
            }

            &.owl-prev {
                i {
                    position: relative;
                    // right: 1px;
                    top: 0px;
                }
            }
        }

        .owl-prev {
            width: 10px;
            height: 100px;
            position: absolute;
            top: 40%;
            margin-left: 25px;
            display: block !important;
            border: 0px solid black;

            i {
                padding: 10px;
                color: $ped-dark-gray;
                font-size:2rem;
            }
        }

        .owl-next {
            width: 10px;
            height: 100px;
            position: absolute;
            top: 40%;
            right: 55px;
            display: block !important;
            border: 0px solid black;

            i {
                padding: 10px;
                font-size:2rem;
                color: $ped-dark-gray;
            }
        }
    }

    &:hover {
        .owl-nav {
            div {
                opacity: 1;
                visibility: visible;

                &:hover {
                    color: #fff;
                    background: #009DFF;
                    border: 1px solid transparent;
                }
            }
        }
    }
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-40 {
    margin-bottom: 40px;
}

// #scrollUp {
// 	width: 40px;
// 	height: 40px;
// 	background: #ddd;
// 	text-align: center;
// 	line-height: 40px;
// 	border-radius: 50%;
// 	bottom: 20px;
// 	right: 20px;
// 	background: rgb(1,129,245); /* Old browsers */
//     background: -moz-linear-gradient(left,  rgba(1,129,245,1) 0%, rgba(93,178,255,1) 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  rgba(1,129,245,1) 0%,rgba(93,178,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  rgba(1,129,245,1) 0%,rgba(93,178,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0181f5', endColorstr='#5db2ff',GradientType=1 ); /* IE6-9 */
// 	color: #fff;
// 	font-size: 15px;
// 	background-size: 300% 100%;
// 	&:hover{
// 		background-position: 100% 0;
// 	}
// }

// buttons

.btn {
    &.btn-primary {
        background-color: $ped-maroon;
        border-color: $ped-maroon;
    }

    &.btn-primary.focus, &.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active {
        box-shadow: rgba(106, 18, 18, 0.5) 0 0 0 0.2rem;
    }

    &.btn-primary:hover, &.btn-primary:not(:disabled):not(.disabled):active {
        color: $white_color;
        background-color: $ped-maroon;
        border-color: $ped-maroon;
    }

    &.btn-secondary {
        background-color: #4d4e4d;
        border-color: #4d4e4d;
    }

    &.btn-success {
        background-color: $ped-green;
        border-color: $ped-green;
    }

    &.btn-danger {
        background-color: $ped-red;
        border-color: $ped-red;
    }

    &.btn-warning {
        background-color: $ped-gold;
        border-color: $ped-gold;
    }

    &.btn-info {
        background-color: $ped-light-maroon;
        border-color: $ped-light-maroon;
    }

    &.btn-light {
        background-color: $ped-lighter-gray;
        border-color: $ped-lighter-gray;
    }

    &.btn-dark {
        background-color: $ped-dark-gray;
        border-color: $ped-dark-gray;
    }

    &.btn-outline-primary {
        color: $ped-maroon;
        border-color: $ped-maroon;
    }

    &.btn-outline-primary:hover, &.btn-outline-primary:not(:disabled):not(.disabled):active {
        color: $white_color;
        background-color: $ped-maroon;
        border-color: $ped-maroon;
    }

    &.btn-outline-secondary {
        color: $ped-light-gray;
        border-color: $ped-light-gray;
    }

    &.btn-outline-primary.focus, &.btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
        box-shadow: rgba(106, 18, 18, 0.5) 0 0 0 0.2rem;
    }

    &.btn-outline-secondary:hover, &.btn-outline-secondary:not(:disabled):not(.disabled):active {
        color: $white_color;
        background-color: $ped-light-gray;
        border-color: $ped-light-gray;
    }

    &.btn-outline-success {
        color: $ped-green;
        border-color: $ped-green;
    }

    &.btn-outline-danger {
        color: $ped-red;
        border-color: $ped-red;
    }

    &.btn-outline-warning {
        color: $ped-gold;
        border-color: $ped-gold;
    }

    &.btn-outline-info {
        color: $ped-light-maroon;
        border-color: $ped-light-maroon;
    }

    &.btn-outline-light {
        color: $ped-lighter-gray;
        border-color: $ped-lighter-gray;
    }

    &.btn-outline-light:hover, &.btn-outline-light:not(:disabled):not(.disabled):active {
        color: $ped-black;
        background-color: $ped-lighter-gray;
        border-color: $ped-lighter-gray;
    }

    &.btn-outline-dark {
        color: $ped-dark-gray;
        border-color: $ped-dark-gray;
    }

    &.btn-link {
        background-color: transparent;
        color: $ped-maroon;
    }

    &.pill {
        border-radius: 20px;
    }
}

.form-control:focus{
    border-color:$ped-light-maroon;
    box-shadow: 0 0 0 0.2rem rgba(121,42,42,1);
}

.fr-view {
    ul {
        li {
            list-style: disc;
            margin-left: 50px;
        }
    }

    ol {

        li {
            list-style: decimal;
            margin-left: 50px;
        }
    }
}