﻿/*#Default Class Feeds#*/
/*#Default Class Feeds/Pedagogy Classes#*/

#PedagogyFeaturedClasses,
#PedagogyClasses {
    text-align: left;
    font-family: Segoe UI, Arial, sans-serif;
}

#PedagogyClasses {
    width: 350px;
    margin-top: 0px;
}

.Default {
    border: solid 2px #7e0a09;
}

.Categories {
    height: auto;
    overflow: auto;
}

.FeedScroller {
}

.Title {
    background: #7e0a09;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

.Category {
    margin: 0 0 15px 0px;
}

.CategoryName {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #7e0a09;
    font-weight: bold;
    margin: 0 20px 3px 15px;
    border-bottom: dotted 1px #7e0a09;
}

.PedagogyClassList {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin: 0 0 10px 17px;
}

.PedagogyClassList a, .ClassLink a {
    color: #333;
    text-decoration: none;
}

.PedagogyClassList a:hover, .ClassLink a:hover {
    color: #7e0a09;
    text-decoration: underline;
}

#PedagogyClassScroller {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #333;
}

#PedagogyClassScroller a, .ClassLink a {
    color: #333;
    text-decoration: none;
}

#PedagogyClassScroller a:hover, .ClassLink a:hover {
    color: #7e0a09;
    text-decoration: underline;
}


/*#Default Class Feeds/Featured Classes#*/

#PedagogyFeaturedClasses.Default {
    border: solid 2px #7e0a09;
    width: 300px;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller {
    height: 225px;
    overflow-y: hidden;
    z-index: 0;
}

#PedagogyFeaturedClasses.Default .Title {
    background: #7e0a09;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class {
    width: 280px;
    height: 225px;
    padding: 0px 10px 0px 10px;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #7e0a09;
    font-weight: bold;
    margin: 0 20px 3px 0;
    border-bottom: dotted 1px #7e0a09;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class h2 a {
    text-decoration: none;
    color: #7e0a09;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class h2 a:hover {
    text-decoration: underline;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class div.Cost {
    margin-top: 10px;
    font-weight: bold;
}

#PedagogyFeaturedClasses.Default div#PedagogyClassScroller div.Class div.Description {
}


/*#Basic Class Feeds#*/
/*#Basic Class Feeds/Pedagogy Classes#*/

#PedagogyClasses {
    width: 250px;
    margin-top: 0px;
}

#PedagogyClasses.Basic {
    border: solid 2px #1f3365;
}

#PedagogyClasses.Basic .Categories {
    height: auto;
    overflow: auto;
}

#PedagogyClasses.Basic .FeedScroller {
}

#PedagogyClasses.Basic .Title {
    background: #1f3365;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

#PedagogyClasses.Basic .Category {
    margin: 0 0 15px 0px;
}

#PedagogyClasses.Basic .CategoryName {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #1f3365;
    font-weight: bold;
    margin: 0 20px 3px 15px;
    border-bottom: dotted 1px #1f3365;
}

#PedagogyClasses.Basic .PedagogyClassList {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin: 0 0 10px 17px;
}

#PedagogyClasses.Basic .PedagogyClassList a, .ClassLink a {
    color: #333;
    text-decoration: none;
}

#PedagogyClasses.Basic .PedagogyClassList a:hover, .ClassLink a:hover {
    color: #1f3365;
    text-decoration: underline;
}



/*#Basic Class Feeds/Featured Classes#*/

#PedagogyFeaturedClasses.Basic {
    border: solid 2px #1f3365;
    width: 300px;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller {
    height: 225px;
    overflow-y: hidden;
    z-index: 0;
}

#PedagogyFeaturedClasses.Basic .Title {
    background: #1f3365;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class {
    width: 280px;
    height: 250px;
    padding: 0px 10px 0px 10px;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #1f3365;
    font-weight: bold;
    margin: 0 20px 3px 0;
    border-bottom: dotted 1px #1f3365;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class h2 a {
    text-decoration: none;
    color: #1f3365;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class h2 a:hover {
    text-decoration: underline;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class div.Cost {
    margin-top: 10px;
    font-weight: bold;
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller div.Class div.Description {
}

#PedagogyFeaturedClasses.Basic div#PedagogyClassScroller a:hover {
    color: #1f3365;
    text-decoration: underline;
}



/*#Advanced Class Feeds#*/
/*#Advanced Class Feeds/Pedagogy Classes#*/

#PedagogyClasses {
    width: 250px;
    margin-top: 0px;
}

#PedagogyClasses.Advanced {
    border: solid 2px #0c5827;
}

#PedagogyClasses.Advanced .Categories {
    height: auto;
    overflow: auto;
}

#PedagogyClasses.Advanced .FeedScroller {
}

#PedagogyClasses.Advanced .Title {
    background: #0c5827;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

#PedagogyClasses.Advanced .Category {
    margin: 0 0 15px 0px;
}

#PedagogyClasses.Advanced .CategoryName {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #0c5827;
    font-weight: bold;
    margin: 0 20px 3px 15px;
    border-bottom: dotted 1px #0c5827;
}

#PedagogyClasses.Advanced .PedagogyClassList {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin: 0 0 10px 17px;
}

#PedagogyClasses.Advanced .PedagogyClassList a, .ClassLink a {
    color: #333;
    text-decoration: none;
}

#PedagogyClasses.Advanced .PedagogyClassList a:hover, .ClassLink a:hover {
    color: #0c5827;
    text-decoration: underline;
}



/*#Advanced Class Feeds/Featured Classes#*/

#PedagogyFeaturedClasses.Advanced {
    border: solid 2px #0c5827;
    width: 300px;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller {
    height: 225px;
    overflow-y: hidden;
    z-index: 0;
}

#PedagogyFeaturedClasses.Advanced .Title {
    background: #0c5827;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 16px;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class {
    width: 280px;
    height: 225px;
    padding: 0px 10px 0px 10px;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class h2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #0c5827;
    font-weight: bold;
    margin: 0 20px 3px 0;
    border-bottom: dotted 1px #0c5827;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class h2 a {
    text-decoration: none;
    color: #0c5827;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class h2 a:hover {
    text-decoration: underline;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class div.Cost {
    margin-top: 10px;
    font-weight: bold;
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller div.Class div.Description {
}

#PedagogyFeaturedClasses.Advanced div#PedagogyClassScroller a:hover {
    color: #0c5827;
    text-decoration: underline;
}