@import '_style-variables.scss'; 
@import '_mixins.scss';
@import '_extend.scss';
@import '_theme-default.scss';
@import '_btn.scss';
@import '_section_title.scss';
@import '_slick-nav.scss';
@import '_header.scss';
@import '_slider.scss';
@import '_offers.scss';
@import '_footer.scss';
@import '_bradcam.scss';
@import '_department.scss';
@import '_tesmonial.scss';
@import '_service.scss';
@import '_experts.scss';
@import '_contact_bar.scss';
@import '_contact.scss'; 
@import '_elements.scss';
@import '_blog.scss';
@import '_blog_part.scss';
@import '_portal.scss'; 
@import '_course.scss';
@import '_dashboard.scss';
@import '_login.scss';
@import '_register.scss';
@import '_resource.scss';
@import '_account.scss';
@import '_solution.scss';
@import '_forgot-password.scss';
@import '_checkout.scss';
//@import '_manage-staff.scss';
//@import '_manage-facility-classes.scss';

//  Pages
@import 'pages/_about.scss';
@import 'pages/_create-membership.scss';
@import 'pages/_thank-you.scss';
@import 'pages/_course-detail.scss';
@import 'pages/_preview-pay.scss';

//  Components
@import 'components/_search.scss';
@import 'components/_password-input.scss';

// Main Site Styles
@import 'overrides.scss';

#saveChangesModal {
    .modal-content {
        margin: 20% auto;
        width: 30%;

        @media(max-width:768px) {
            margin: 50% auto;
            width:50%;
        }

        @media #{$mobile_device} {
            margin: 50% auto;
            width: 75%;
        }
    }

    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;

        &:hover {
            color: $ped-black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

img{
    max-width:100%;
}

a{
    text-decoration:none;
}

#usersListGroup {
    column-count: 3;

    @media #{$tablet_device} {
        column-count: 2;
    }

    @media #{$mobile_device} {
        column-count: 1;
    }
}

.contact-form {
    input[type="submit"] {
        @media #{$mobile_device} {
            margin: 0 auto;
            display:flex;
        }
    }
}

.page-link{
    color:$ped-maroon;
}