﻿<div class="container mt-5 mb-5">
    <div class="row">
        <h2>@Html.Raw(ResHelper.GetString("LoginManager.EmailConfirmationErrMsg", LocalizationContext.CurrentCulture.CultureCode))</h2>
    </div>
</div>