﻿@model Pedagogy.Models.BaseViewModel<Pedagogy.Models.LoginManager.LoginViewModel>

<div class="login-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="mb-3" style="width:400px;">
                <h4>@Model.ViewModel.CheckEmailMsg</h4>
            </div>
            <div class="col-12"></div>
            <div class="login-box">
                <div class="login-header">
                    <h2>Log In</h2>
                </div>
                <div class="login-body">
                    @using (Html.BeginForm("Login", "LoginManager", FormMethod.Post, new { Class = "form-horizontal login-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="invisible">
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                            @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
                        </div>
                        <div class="form-group">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { Class = "text-danger" }).ToHtmlString()))
                            }
                        </div>
                        <div class="form-group m-3">
                            @Html.LabelFor(model => model.ViewModel.UserName, new { Class = "control-label" }) <br />
                            @Html.TextBoxFor(model => model.ViewModel.UserName, new { Id = "user-name", Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ViewModel.UserName, "", new { Class = "text-danger" })
                        </div>
                        <div class="form-group m-3">
                            @Html.LabelFor(model => model.ViewModel.Password, new { Class = "control-label" })
                            <div class="password-input-container">
                                @Html.PasswordFor(model => model.ViewModel.Password, new { Id = "password", Class = "form-control", Autocomplete = "on" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.ViewModel.Password, "", new { Class = "text-danger" })
                        </div>
                        <div class="form-group m-3">
                            @Html.CheckBoxFor(model => model.ViewModel.RememberMe, new { Id = "remember" })
                            @Html.LabelFor(model => model.ViewModel.RememberMe, new { Class = "control-label" })
                        </div>
                        <div class="form-group mx-2 mt-4">
                            <input type="submit" value="Log In" class="btn btn-primary" id="login-btn" />
                        </div>
                    }
                </div>
                <div class="login-footer">
                    <a href="@Url.Action("Register", "LoginManager")" class="btn btn-outline-primary">Register</a>
                    <a href="@Url.Action("RequestPasswordReset", "LoginManager")" class="btn btn-outline-primary">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</div>