﻿@using CMS.Globalization;

@model BaseViewModel<Pedagogy.Models.LoginManager.RegisterViewModel>

@{
    var key = CMS.DataEngine.SettingsKeyInfoProvider.GetValue("CMSReCaptchaPublicKey");
}

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

<div class="register-area mt-5 mb-5">
    <div class="container">
        <div class="row mb-4">
            <div style="width:800px;">
                @Html.Kentico().EditableArea("register")
            </div>
        </div>
        <div class="row">
            <div class="register-box">
                <div class="register-header">
                    <h2>Register Facility</h2>
                </div>
                <div class="col-md-10 mx-auto mb-3">
                    @using (Html.BeginForm("RegisterAsFacilityAdmin", "LoginManager", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="invisible">
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                            @Html.HiddenFor(m => m.ViewModel.GoogleCaptchaToken, new { Id = "GoogleCaptchaToken" })
                            @Html.HiddenFor(x => x.ViewModel.CorporateInfo.FacilityParentID, new { Value = 0 })
                        </div>
                        <div class="form-validation-container">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { Class = "text-danger" }).ToHtmlString()))
                            }
                        </div>
                        <div class="row mt-2">
                            <h4>Admin Information</h4>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.FirstName, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.FirstName, new { Id = "first-name", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.FirstName, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.LastName, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.LastName, new { Id = "last-name", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.LastName, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.Email, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.Email, new { Id = "confirm-email", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.Email, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.ConfirmEmail, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.ConfirmEmail, new { Id = "confirm-email", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.ConfirmEmail, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.Password, new { Class = "control-label" })
                                <div class="password-input-container">
                                    @Html.PasswordFor(model => model.ViewModel.Password, new { Id = "password", Class = "form-control password-input", Autocomplete = "off" })
                                    <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                    <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.ViewModel.Password, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 px-2">
                                @Html.LabelFor(model => model.ViewModel.PasswordConfirmation, new { Class = "control-label" })
                                <div class="password-input-container">
                                    @Html.PasswordFor(model => model.ViewModel.PasswordConfirmation, new { Id = "confirmation-password", Class = "form-control", Autocomplete = "off" })
                                    <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                    <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.ViewModel.PasswordConfirmation, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-4">
                            <div class="col-12">
                                @Html.Partial("Partials/_PasswordRequirements")
                            </div>
                        </div>
                        <div class="row mt-5">
                            <h4>Facility Information</h4>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12">
                                @Html.LabelFor(model => model.ViewModel.CorporateInfo.Name, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.CorporateInfo.Name, new { Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.CorporateInfo.Name, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12">
                                @Html.Label("Address 1", new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.CorporateInfo.AddressLine1, new { Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.CorporateInfo.AddressLine1, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12">
                                @Html.Label("Address 2", new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.CorporateInfo.AddressLine2, new { Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.CorporateInfo.AddressLine2, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12 col-md-4 px-2">
                                @Html.LabelFor(model => model.ViewModel.CorporateInfo.City, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.CorporateInfo.City, new { Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.CorporateInfo.City, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-12 col-md-5 d-flex align-items-end px-2">
                                <div class="align-self-start">
                                    @Html.LabelFor(model => model.ViewModel.StateID, new { Class = "control-label" }) <br />
                                    @Html.DropDownListFor(m => m.ViewModel.StateID, new SelectList(StateInfoProvider.GetStates(), nameof(StateInfo.StateID), nameof(StateInfo.StateDisplayName)), "States", new { Class = "form-control" })
                                    <span></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 px-2">
                                @Html.Label("Postal Code", new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.CorporateInfo.Zip, new { Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.CorporateInfo.Zip, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row my-4">
                            <div class="col-12">
                                <div>
                                    <label>Register as</label>
                                </div>
                                <label class="m-2">@Html.RadioButtonFor(m => m.ViewModel.RegistrationType, "corporation") Corporation</label>
                                <label class="m-2">@Html.RadioButtonFor(m => m.ViewModel.RegistrationType, "facility", new { Id = "register-facility" }) Facility</label>
                                <br />
                                @Html.ValidationMessageFor(x => x.ViewModel.RegistrationType, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group m-2 parent-corp-details">
                            <div class="col-12">
                                <div class="corp-details">
                                    @Html.LabelFor(x => x.ViewModel.ParentCorporationName, new { Class = "control-label" })<br />
                                    @Html.TextBoxFor(x => x.ViewModel.ParentCorporationName, new { Class = "form-control m-2 parent-corp-name" })
                                    @Html.LabelFor(x => x.ViewModel.WebsiteURL, new { Class = "control-label" })<br />
                                    @Html.TextBoxFor(x => x.ViewModel.WebsiteURL, new { Class = "form-control m-2 parent-corp-website-url" })
                                </div>
                                <label class="m-2">@Html.CheckBoxFor(x => x.ViewModel.NoApplicableCorporation, new { Class = "no-applicable-corp" }) No Applicable Corporation?</label>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center mt-4">
                            <input type="submit" value="Register" class="btn btn-primary" id="register-btn" />
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-around mt-5 mb-3">
                    <a href="@Url.Action("RequestPasswordReset", "LoginManager")" class="btn btn-outline-primary">Forgot Password</a>
                    <a href="@Url.Action("Login", "LoginManager")" class="btn btn-outline-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
    <script src="https://www.google.com/recaptcha/api.js?render=@key"></script>
    <script>
        $(document).ready(function () {

            $("#confirmation-password").on('input', function () {
                grecaptcha.ready(function () {
                    grecaptcha.execute('@key', { action: 'register' }).then(function (token) {
                        $("#GoogleCaptchaToken").val(token);
                    });
                });
            });

            if ($('#register-facility').prop('checked')) {
                $('.parent-corp-details').show();
            }
            else {
                $('.parent-corp-details').hide();
            }

            $('input[type="radio"][name="ViewModel.RegistrationType"]').change(function () {
                $(".parent-corp-name").val("");
                $(".parent-corp-website-url").val("");

                if ($(".no-applicable-corp").prop("checked") == true) {
                    $(".no-applicable-corp").prop("checked", false);
                    $('.corp-details').show();
                }

                if ($(this).val() == "facility") {
                    $('.parent-corp-details').show();
                }
                else {
                    $('.parent-corp-details').hide();
                }
            });

            if ($(".no-applicable-corp").is(":checked")) {
                $(".corp-details").hide();
            }
            else {
                $(".corp-details").show();
            }

            $(".no-applicable-corp").click(function () {
                $(".parent-corp-name").val("");
                $(".parent-corp-website-url").val("");

                if (this.checked) {
                    $(".corp-details").hide();
                }
                else {
                    $(".corp-details").show();
                }
            });
        });
    </script>
}