﻿@model Pedagogy.Models.BaseViewModel<Pedagogy.Models.LoginManager.RegisterViewModel>

@{
    var key = CMS.DataEngine.SettingsKeyInfoProvider.GetValue("CMSReCaptchaPublicKey");
}

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

<div class="register-area mt-5 mb-5">
    <div class="container">
        <div class="row mb-4">
            <div style="width:800px;">
                @Html.Kentico().EditableArea("register")
            </div>
        </div>
        <div class="row">
            <div class="register-box">
                <div class="register-header">
                    <h2>Register As Student</h2>
                </div>
                <div class="col-md-10 mx-auto register-body">
                    @using (Html.BeginForm("Register", "LoginManager", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="invisible">
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                            @Html.HiddenFor(m => m.ViewModel.GoogleCaptchaToken, new { Id = "GoogleCaptchaToken" })
                            @Html.RadioButtonFor(m => m.ViewModel.RegistrationType, "none", new { Checked = true })
                        </div>
                        <div class="form-validation-container">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { Class = "text-danger" }).ToHtmlString()))
                            }
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.FirstName, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.FirstName, new { Id = "first-name", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.FirstName, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.LastName, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.LastName, new { Id = "last-name", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.LastName, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.Email, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.Email, new { Id = "email", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.Email, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.ConfirmEmail, new { Class = "control-label" }) <br />
                                @Html.TextBoxFor(model => model.ViewModel.ConfirmEmail, new { Id = "confirm-email", Class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ViewModel.ConfirmEmail, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-2">
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.Password, new { Class = "control-label" }) <br />
                                <div class="password-input-container">
                                    @Html.PasswordFor(model => model.ViewModel.Password, new { Id = "password", Class = "form-control password-input", Autocomplete = "off" })
                                    <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                    <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.ViewModel.Password, "", new { Class = "text-danger" })
                            </div>
                            <div class="col-12 col-md-6 px-2">
                                @Html.LabelFor(model => model.ViewModel.PasswordConfirmation, new { Class = "control-label" }) <br />
                                <div class="password-input-container">
                                    @Html.PasswordFor(model => model.ViewModel.PasswordConfirmation, new { Id = "confirmation-password", Class = "form-control", Autocomplete = "off" })
                                    <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                    <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.ViewModel.PasswordConfirmation, "", new { Class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row m-4">
                            <div class="col-12">
                                @Html.Partial("Partials/_PasswordRequirements")
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center mt-5">
                            <input type="submit" value="Register" class="btn btn-primary" id="register-btn" />
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-around mt-5">
                    <a href="@Url.Action("RequestPasswordReset", "LoginManager")" class="btn btn-outline-primary">Forgot Password</a>
                    <a href="@Url.Action("Login", "LoginManager")" class="btn btn-outline-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Html.Kentico().PageBuilderScripts()
    <script src="https://www.google.com/recaptcha/api.js?render=@key"></script>
    <script>
        $(document).ready(function () {
            $("#confirmation-password").on('input', function () {
                grecaptcha.ready(function () {
                    grecaptcha.execute('@key', { action: 'register' }).then(function (token) {
                        $("#GoogleCaptchaToken").val(token);
                    });
                });
            });
        });
    </script>
}