﻿@model BaseViewModel<Pedagogy.Models.LoginManager.RequestPasswordResetViewModel>

<div class="reset-password-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="mb-3" style="width:400px;">
                @if (!string.IsNullOrEmpty(Model.ViewModel.UserNotFoundErrMsg))
                {
                    <p style="font-size:18px;" class="text-danger">@Model.ViewModel.UserNotFoundErrMsg</p>
                }
                @if (!string.IsNullOrEmpty(Model.ViewModel.CheckEmailMsg))
                {
                    <p style="font-size:18px;">@Model.ViewModel.CheckEmailMsg</p>
                }
            </div>
            <div class="col-12"></div>
            <div class="reset-password-box">
                <div class="reset-password-header">
                    <h2>Password Reset</h2>
                </div>
                <div class="reset-password-body">
                    @using (Html.BeginForm(new { Class = "form-horizontal password-reset-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="invisible">
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                        </div>
                        <div class="form-group">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { Class = "text-danger" }).ToHtmlString()))
                            }
                        </div>
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.ViewModel.Email, "", new { Class = "text-danger" }) <br />
                            @Html.LabelFor(model => model.ViewModel.Email, new { Class = "control-label" }) <br />
                            @Html.TextBoxFor(model => model.ViewModel.Email, new { Id = "email", Class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Password Reset Link" class="btn btn-primary" id="reset-password-btn" />
                        </div>
                    }
                </div>
                <div class="reset-password-footer">
                    <div class="login-btn">
                        <a href="@Url.Action("Login", "LoginManager")" class="btn btn-outline-primary">Log In</a>
                    </div>
                    <div class="register-btn">
                        <a href="@Url.Action("Register", "LoginManager")" class="btn btn-outline-primary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>