﻿<div class="container my-5">
    <div class="row">
        <h4>@Html.Raw(ResHelper.GetString("LoginManager.ResetPassword.ValidationErrMsg", LocalizationContext.CurrentCulture.CultureCode))</h4>
    </div>
</div>
