﻿@model BaseViewModel<Pedagogy.Models.LoginManager.ResetPasswordViewModel>

<div class="reset-password-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="reset-password-box">
                <div class="reset-password-header">
                    <h2>Update Password</h2>
                </div>
                <div class="col-12 reset-password-body">
                    @using (Html.BeginForm(new { Class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="invisible">
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                            @Html.HiddenFor(model => model.ViewModel.UserId)
                            @Html.HiddenFor(model => model.ViewModel.Token)
                        </div>
                        <div class="form-validation-container">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { Class = "text-danger" }).ToHtmlString()))
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ViewModel.Password, new { Class = "control-label" }) <br />
                            <div class="password-input-container">
                                @Html.PasswordFor(model => model.ViewModel.Password, new { Id = "password", Class = "form-control password-input" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.ViewModel.Password, "", new { Class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ViewModel.PasswordConfirmation, new { Class = "control-label" }) <br />
                            <div class="password-input-container">
                                @Html.PasswordFor(model => model.ViewModel.PasswordConfirmation, new { Id = "confirmation-password", Class = "form-control" })
                                <i class="fa fa-lg fa-eye pass-visibility-icon show-pass"></i>
                                <i class="fa fa-lg fa-eye-slash pass-visibility-icon hide-pass"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.ViewModel.PasswordConfirmation, "", new { Class = "text-danger" })
                        </div>
                        <div class="form-group row mb-4">
                            <div class="col-12">
                                @Html.Partial("Partials/_PasswordRequirements")
                            </div>
                        </div>
                        <div class="form-group update-password-btn">
                            <input type="submit" value="Update Password" class="btn btn-primary" id="reset-password-btn" />
                        </div>
                    }
                </div>
                <div class="reset-password-footer">
                    <div class="register-btn">
                        <a href="@Url.Action("Register", "LoginManager")" class="btn btn-outline-primary">Register</a>
                    </div>
                    <div class="login-btn">
                        <a href="@Url.Action("Login", "LoginManager")" class="btn btn-outline-primary">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>