﻿@import '../../css/_style-variables.scss';

.manage-facilities {

    .title {
        @media(max-width:475px) {
            padding: 1rem 0 0 1rem;
        }
    }

    .tabs-col {
        background-color: $ped-maroon;
    }

    .facility-action-btns {
        display: flex;
        justify-content: end;

        @media #{$mobile_device} {
            flex-flow: row;
            flex-wrap: wrap;
            padding: 0.7rem;
        }
    }

    #facilityTabs {
        margin-left: 0;
        border-bottom: none;

        .nav-item {
            width: 100%;

            @media(max-width:475px) {
                width: unset;
            }
        }

        .nav-link.active {
            color: $white-color;
            background-color: $ped-light-maroon;
            border-radius: 0;
            border: none;
        }

        .nav-link {
            color: $white-color;
            background-color: $ped-maroon;
            border-radius: 0;
            margin-bottom: 0;

            &:hover {
                border: .15rem solid $white-color;
                border-radius: 0;
            }
        }
    }

    .tab-content {
        padding: 2rem;
    }

    #noFacilities {
        display: none;

        p {
            font-size: 16px;
            font-weight: bolder;
        }
    }

    .card-body {
        padding: 0;
    }

    #backToFacilityListingBtn {
        display: none;
    }

    .facility-listing-objects {
        padding: 2rem;
    }

    .facility-forms {
        display: none;
    }

    #updateFacilityPreferencesForm {
        label {
            color: $white-color;
        }
    }

    #deleteContactConfirmModal {
        display: none;
        background-color: rgba(0,0,0,.4);

        .close-delete-contact {
            cursor: pointer;
        }

        .modal-content {
            @media(max-width:425px) {
                margin: 50% auto;
            }
        }
    }

    #deleteStudentConfirmModal {
        display: none;
        background-color: rgba(0,0,0,.4);

        .close-delete-student-modal {
            cursor: pointer;
        }

        .modal-content {
            @media(max-width:425px) {
                margin: 50% auto;
            }
        }
    }

    .update-facility-btn {
        border: none;
        background-color: transparent;
    }

    .contact {
        .edit-contact, .delete-contact {
            color: #1489bc;
            cursor: pointer;

            &:hover {
                color: $ped-black;
            }
        }
    }

    #impersonateStudentBtn {
        height: 100%;

        @media(max-width:768px) {
            height: unset;
        }
    }

    #updateFacilityContactForm {
        display: none;
    }

    #userPassRecipientForm {
        display: none;
    }

    #facilityContactUserName {
        display: none;
    }

    .close-delete-facility-modal {
        cursor: pointer;
    }

    #deleteFacilityConfirmModal {
        display: none;

        .modal-content {
            @media(max-width:475px) {
                margin: 50% auto;
            }
        }
    }

    .delete-facility-btn {
        cursor: pointer;
    }

    .staff-member {
        border: solid 2px $ped-black;
        border-radius: 10px;
        background-color: $ped-lighter-gray;
    }

    .license {
        border: solid 2px $ped-black;
        border-radius: 10px;
        background-color: $ped-lighter-gray;
        padding: 1rem;

        .type-name {
            font-weight: bolder;
        }
    }

    #editStudent, #addExisitingStudent, #manageStudentClasses {
        display: none;
    }

    #facilityClassList {
        border: solid 1px $ped-black;

        .facility-class {
            padding: 1rem 2rem;

            @media(max-width:475px) {
                padding: 1rem .5rem;
            }

            &:nth-child(even) {
                background-color: $gray-color;
            }

            &:nth-child(odd) {
                background-color: $ped-lighter-gray;
            }
        }

        .assign-class {
            background-color: transparent;
            border: none;
            color: $ped-maroon;

            &:disabled {
                color: $ped-dark-gray;
            }
        }

        .unassign-class {
            background-color: transparent;
            border: none;
            color: $ped-maroon;

            &:disabled {
                color: $ped-dark-gray;
            }
        }
    }

    #facilityClassListing {
        display: none;
        border: solid 1px $ped-black;

        .facility-class {
            padding: 1rem 2rem;

            @media(max-width:475px) {
                padding: 1rem;
            }

            &:nth-child(even) {
                background-color: $gray-color;
            }

            &:nth-child(odd) {
                background-color: $ped-lighter-gray;
            }
        }
    }

    .no-facility-classes-txt {
        font-size: 16px;
        font-weight: bold;
        display: none;
    }

    #addNewStudent {
        display: none;

        p {
            font-size: 16px;
        }
    }

    #printStudentCertsForm {
        label {
            color: $white-color;
        }
    }

    #noStudentCertsTxt {
        display: none;
        font-size: 16px;
    }

    #studentCertsData {
        display: none;
    }

    .student-user-data-label {
        font-size: 16px;
        font-weight: 400;
    }

    #addStudentInput {
        background-color: transparent;
        border: none;
    }

    .remove-student {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0.75rem;
        left: 50rem;
        display: flex;

        @media(max-width:768px) {
            top: 50%;
            right: -2rem;
            left: unset;
        }

        @media(max-width:475px) {
            top: 45%;
            left: 1.5rem;
        }
    }

    .student {
        position: relative;
        margin: 2rem 0;
    }

    #studentLicenseList {
        margin: 2rem 0;
    }

    #updateStudentLicenseBtn, #cancelUpdateStudentLicenseBtn {
        display: none;
    }

    #facilityClassListing, #facilityMembershipListing {
        .card-header {
            cursor: pointer;
            background-color: $gray-color;
            color: $ped-black;
            font-weight: bold;

            &:hover {
                color: $ped-black;
            }
        }

        .card-body {
            background-color: $ped-lighter-gray;
            padding: 1rem;
        }

        .membership-class-listing {
            margin-top: 2rem;
            border: solid 1px $ped-black;

            .facility-class {
                padding: 1rem 2rem;

                @media(max-width:768px) {
                    padding: 1rem;
                }

                &:nth-child(even) {
                    background-color: $ped-light-gold;
                }

                &:nth-child(odd) {
                    background-color: $ped-lighter-gold;
                }
            }
        }
    }

    #noFacilityMembershipsTxt, #noFacilityContactsTxt, #noStaffMembersTxt {
        font-size: 16px;
        font-weight: bold;
    }

    .updated-qty {
        display: none;
    }

    #facilityProcessLoadingModal {
        .modal-content {
            min-height: 10rem;
            width: 15%;

            @media(max-width: 768px) {
                margin: 50% auto !important;
                width: 20%;
                padding: 2rem;
            }

            @media(max-width:475px) {
                min-height: 6rem;
                width: 50%;
                margin: 100% auto;
            }
        }
    }

    #facilityPackageWarningModal {
        .cancel-btn {
            cursor: pointer;
        }
    }

    #manageEnrollment {
        display: none;

        #staffListing {
            border: solid 1px $ped-black;

            .student-class, .student-membership-class {
                padding: 1rem 2rem;

                @media(max-width:475px) {
                    padding: 1rem .5rem;
                }

                &:nth-child(even) {
                    background-color: $gray-color;
                }

                &:nth-child(odd) {
                    background-color: $ped-lighter-gray;
                }
            }

            .assign-class {
                background-color: transparent;
                border: none;
                color: $ped-maroon;

                &:disabled {
                    color: $ped-dark-gray;
                }
            }

            .unassign-class {
                background-color: transparent;
                border: none;
                color: $ped-maroon;

                &:disabled {
                    color: $ped-dark-gray;
                }
            }
        }
    }

    #backToFacilityClassListing, #backToFacilityMembershipListing {
        display: none;
    }

    #studentCertsList {
        column-count: 4;

        @media(max-width: 768px) {
            column-count: 2;
        }

        @media(max-width: 578px) {
            column-count: 1;
        }
    }

    #selectAllStudentCerts {
        margin-bottom: 2rem;
    }

    #studentChangePassModal {
        .modal-content {
            @media(max-width:475px) {
                margin: 50% auto;
            }
        }
    }

    .directions {
        margin-left: 0;
    }
}
