﻿/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
@media (max-width: 475px) {
  .manage-facilities .title {
    padding: 1rem 0 0 1rem;
  }
}
.manage-facilities .tabs-col {
  background-color: #6a1212;
}
.manage-facilities .facility-action-btns {
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .manage-facilities .facility-action-btns {
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0.7rem;
  }
}
.manage-facilities #facilityTabs {
  margin-left: 0;
  border-bottom: none;
}
.manage-facilities #facilityTabs .nav-item {
  width: 100%;
}
@media (max-width: 475px) {
  .manage-facilities #facilityTabs .nav-item {
    width: unset;
  }
}
.manage-facilities #facilityTabs .nav-link.active {
  color: #fff;
  background-color: #c3a0a0;
  border-radius: 0;
  border: none;
}
.manage-facilities #facilityTabs .nav-link {
  color: #fff;
  background-color: #6a1212;
  border-radius: 0;
  margin-bottom: 0;
}
.manage-facilities #facilityTabs .nav-link:hover {
  border: 0.15rem solid #fff;
  border-radius: 0;
}
.manage-facilities .tab-content {
  padding: 2rem;
}
.manage-facilities #noFacilities {
  display: none;
}
.manage-facilities #noFacilities p {
  font-size: 16px;
  font-weight: bolder;
}
.manage-facilities .card-body {
  padding: 0;
}
.manage-facilities #backToFacilityListingBtn {
  display: none;
}
.manage-facilities .facility-listing-objects {
  padding: 2rem;
}
.manage-facilities .facility-forms {
  display: none;
}
.manage-facilities #updateFacilityPreferencesForm label {
  color: #fff;
}
.manage-facilities #deleteContactConfirmModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.manage-facilities #deleteContactConfirmModal .close-delete-contact {
  cursor: pointer;
}
@media (max-width: 425px) {
  .manage-facilities #deleteContactConfirmModal .modal-content {
    margin: 50% auto;
  }
}
.manage-facilities #deleteStudentConfirmModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.manage-facilities #deleteStudentConfirmModal .close-delete-student-modal {
  cursor: pointer;
}
@media (max-width: 425px) {
  .manage-facilities #deleteStudentConfirmModal .modal-content {
    margin: 50% auto;
  }
}
.manage-facilities .update-facility-btn {
  border: none;
  background-color: transparent;
}
.manage-facilities .contact .edit-contact, .manage-facilities .contact .delete-contact {
  color: #1489bc;
  cursor: pointer;
}
.manage-facilities .contact .edit-contact:hover, .manage-facilities .contact .delete-contact:hover {
  color: #212221;
}
.manage-facilities #impersonateStudentBtn {
  height: 100%;
}
@media (max-width: 768px) {
  .manage-facilities #impersonateStudentBtn {
    height: unset;
  }
}
.manage-facilities #updateFacilityContactForm {
  display: none;
}
.manage-facilities #userPassRecipientForm {
  display: none;
}
.manage-facilities #facilityContactUserName {
  display: none;
}
.manage-facilities .close-delete-facility-modal {
  cursor: pointer;
}
.manage-facilities #deleteFacilityConfirmModal {
  display: none;
}
@media (max-width: 475px) {
  .manage-facilities #deleteFacilityConfirmModal .modal-content {
    margin: 50% auto;
  }
}
.manage-facilities .delete-facility-btn {
  cursor: pointer;
}
.manage-facilities .staff-member {
  border: solid 2px #212221;
  border-radius: 10px;
  background-color: #e9e9e9;
}
.manage-facilities .license {
  border: solid 2px #212221;
  border-radius: 10px;
  background-color: #e9e9e9;
  padding: 1rem;
}
.manage-facilities .license .type-name {
  font-weight: bolder;
}
.manage-facilities #editStudent, .manage-facilities #addExisitingStudent, .manage-facilities #manageStudentClasses {
  display: none;
}
.manage-facilities #facilityClassList {
  border: solid 1px #212221;
}
.manage-facilities #facilityClassList .facility-class {
  padding: 1rem 2rem;
}
@media (max-width: 475px) {
  .manage-facilities #facilityClassList .facility-class {
    padding: 1rem 0.5rem;
  }
}
.manage-facilities #facilityClassList .facility-class:nth-child(even) {
  background-color: #bebebe;
}
.manage-facilities #facilityClassList .facility-class:nth-child(odd) {
  background-color: #e9e9e9;
}
.manage-facilities #facilityClassList .assign-class {
  background-color: transparent;
  border: none;
  color: #6a1212;
}
.manage-facilities #facilityClassList .assign-class:disabled {
  color: #373837;
}
.manage-facilities #facilityClassList .unassign-class {
  background-color: transparent;
  border: none;
  color: #6a1212;
}
.manage-facilities #facilityClassList .unassign-class:disabled {
  color: #373837;
}
.manage-facilities #facilityClassListing {
  display: none;
  border: solid 1px #212221;
}
.manage-facilities #facilityClassListing .facility-class {
  padding: 1rem 2rem;
}
@media (max-width: 475px) {
  .manage-facilities #facilityClassListing .facility-class {
    padding: 1rem;
  }
}
.manage-facilities #facilityClassListing .facility-class:nth-child(even) {
  background-color: #bebebe;
}
.manage-facilities #facilityClassListing .facility-class:nth-child(odd) {
  background-color: #e9e9e9;
}
.manage-facilities .no-facility-classes-txt {
  font-size: 16px;
  font-weight: bold;
  display: none;
}
.manage-facilities #addNewStudent {
  display: none;
}
.manage-facilities #addNewStudent p {
  font-size: 16px;
}
.manage-facilities #printStudentCertsForm label {
  color: #fff;
}
.manage-facilities #noStudentCertsTxt {
  display: none;
  font-size: 16px;
}
.manage-facilities #studentCertsData {
  display: none;
}
.manage-facilities .student-user-data-label {
  font-size: 16px;
  font-weight: 400;
}
.manage-facilities #addStudentInput {
  background-color: transparent;
  border: none;
}
.manage-facilities .remove-student {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0.75rem;
  left: 50rem;
  display: flex;
}
@media (max-width: 768px) {
  .manage-facilities .remove-student {
    top: 50%;
    right: -2rem;
    left: unset;
  }
}
@media (max-width: 475px) {
  .manage-facilities .remove-student {
    top: 45%;
    left: 1.5rem;
  }
}
.manage-facilities .student {
  position: relative;
  margin: 2rem 0;
}
.manage-facilities #studentLicenseList {
  margin: 2rem 0;
}
.manage-facilities #updateStudentLicenseBtn, .manage-facilities #cancelUpdateStudentLicenseBtn {
  display: none;
}
.manage-facilities #facilityClassListing .card-header, .manage-facilities #facilityMembershipListing .card-header {
  cursor: pointer;
  background-color: #bebebe;
  color: #212221;
  font-weight: bold;
}
.manage-facilities #facilityClassListing .card-header:hover, .manage-facilities #facilityMembershipListing .card-header:hover {
  color: #212221;
}
.manage-facilities #facilityClassListing .card-body, .manage-facilities #facilityMembershipListing .card-body {
  background-color: #e9e9e9;
  padding: 1rem;
}
.manage-facilities #facilityClassListing .membership-class-listing, .manage-facilities #facilityMembershipListing .membership-class-listing {
  margin-top: 2rem;
  border: solid 1px #212221;
}
.manage-facilities #facilityClassListing .membership-class-listing .facility-class, .manage-facilities #facilityMembershipListing .membership-class-listing .facility-class {
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  .manage-facilities #facilityClassListing .membership-class-listing .facility-class, .manage-facilities #facilityMembershipListing .membership-class-listing .facility-class {
    padding: 1rem;
  }
}
.manage-facilities #facilityClassListing .membership-class-listing .facility-class:nth-child(even), .manage-facilities #facilityMembershipListing .membership-class-listing .facility-class:nth-child(even) {
  background-color: #fee4bb;
}
.manage-facilities #facilityClassListing .membership-class-listing .facility-class:nth-child(odd), .manage-facilities #facilityMembershipListing .membership-class-listing .facility-class:nth-child(odd) {
  background-color: #fff6e8;
}
.manage-facilities #noFacilityMembershipsTxt, .manage-facilities #noFacilityContactsTxt, .manage-facilities #noStaffMembersTxt {
  font-size: 16px;
  font-weight: bold;
}
.manage-facilities .updated-qty {
  display: none;
}
.manage-facilities #facilityProcessLoadingModal .modal-content {
  min-height: 10rem;
  width: 15%;
}
@media (max-width: 768px) {
  .manage-facilities #facilityProcessLoadingModal .modal-content {
    margin: 50% auto !important;
    width: 20%;
    padding: 2rem;
  }
}
@media (max-width: 475px) {
  .manage-facilities #facilityProcessLoadingModal .modal-content {
    min-height: 6rem;
    width: 50%;
    margin: 100% auto;
  }
}
.manage-facilities #facilityPackageWarningModal .cancel-btn {
  cursor: pointer;
}
.manage-facilities #manageEnrollment {
  display: none;
}
.manage-facilities #manageEnrollment #staffListing {
  border: solid 1px #212221;
}
.manage-facilities #manageEnrollment #staffListing .student-class, .manage-facilities #manageEnrollment #staffListing .student-membership-class {
  padding: 1rem 2rem;
}
@media (max-width: 475px) {
  .manage-facilities #manageEnrollment #staffListing .student-class, .manage-facilities #manageEnrollment #staffListing .student-membership-class {
    padding: 1rem 0.5rem;
  }
}
.manage-facilities #manageEnrollment #staffListing .student-class:nth-child(even), .manage-facilities #manageEnrollment #staffListing .student-membership-class:nth-child(even) {
  background-color: #bebebe;
}
.manage-facilities #manageEnrollment #staffListing .student-class:nth-child(odd), .manage-facilities #manageEnrollment #staffListing .student-membership-class:nth-child(odd) {
  background-color: #e9e9e9;
}
.manage-facilities #manageEnrollment #staffListing .assign-class {
  background-color: transparent;
  border: none;
  color: #6a1212;
}
.manage-facilities #manageEnrollment #staffListing .assign-class:disabled {
  color: #373837;
}
.manage-facilities #manageEnrollment #staffListing .unassign-class {
  background-color: transparent;
  border: none;
  color: #6a1212;
}
.manage-facilities #manageEnrollment #staffListing .unassign-class:disabled {
  color: #373837;
}
.manage-facilities #backToFacilityClassListing, .manage-facilities #backToFacilityMembershipListing {
  display: none;
}
.manage-facilities #studentCertsList {
  column-count: 4;
}
@media (max-width: 768px) {
  .manage-facilities #studentCertsList {
    column-count: 2;
  }
}
@media (max-width: 578px) {
  .manage-facilities #studentCertsList {
    column-count: 1;
  }
}
.manage-facilities #selectAllStudentCerts {
  margin-bottom: 2rem;
}
@media (max-width: 475px) {
  .manage-facilities #studentChangePassModal .modal-content {
    margin: 50% auto;
  }
}
.manage-facilities .directions {
  margin-left: 0;
}
