﻿@model Pedagogy.Models.BaseViewModel<Pedagogy.Models.Solution.SolutionViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}

<div class="solution-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="right-col col-lg-4 col-sm-12 order-lg-last ps-lg-3">
                @if (!string.IsNullOrEmpty(Model.ViewModel.SolutionData.SolutionTeaserImg))
                {
                    <img src="@(!string.IsNullOrEmpty(Model.ViewModel.SolutionData.SolutionTeaserImg) ? Url.Kentico().ImageUrl(Model.ViewModel.SolutionData.SolutionTeaserImg, SizeConstraint.Size(350, 250)) : "")" alt="@Model.ViewModel.SolutionData.SolutionTeaserImgAltText" />
                }
                <div class="widget-col">
                    @Html.Kentico().EditableArea("solutions-right-panel")
                </div>
            </div>
            <div class="left-col col-lg-8 col-sm-12 order-lg-first pe-lg-5">
                <div class="back-btn">
                    <a href="@ContentIdentifiers.SOLUTIONS"><i class="fa fa-arrow-circle-left"></i> Back to Solutions</a>
                </div>
                <div class="solution-details">
                    <h2>@Model.ViewModel.SolutionData.SolutionName</h2>
                    @Html.Raw(Model.ViewModel.SolutionData.SolutionDescription)
                </div>
                <div class="my-3">
                    @Html.Kentico().EditableArea("solutions")
                </div>
            </div>
        </div>
    </div>
</div>