﻿.approve-facilities-widget #reject-confirmation-modal button {
  float: right;
  background-color: transparent;
  border: unset;
}
.approve-facilities-widget #delete-confirmation-modal button {
  float: right;
  background-color: transparent;
  border: unset;
}
.approve-facilities-widget .approve-facility-form input[type=submit] {
  border: unset;
  background-color: transparent;
  color: #1489bc;
}
.approve-facilities-widget .rejection-text-area {
  width: 100%;
  min-height: 8rem;
}
.approve-facilities-widget #noPendingFacilitiesTxt, .approve-facilities-widget #noRejectedFacilitiesTxt {
  display: none;
}
.approve-facilities-widget #noPendingFacilitiesTxt p, .approve-facilities-widget #noRejectedFacilitiesTxt p {
  font-size: 16px;
}
