﻿.approve-facilities-widget {
    #reject-confirmation-modal {
        button {
            float: right;
            background-color: transparent;
            border: unset;
        }
    }

    #delete-confirmation-modal {
        button {
            float: right;
            background-color: transparent;
            border: unset;
        }
    }

    .approve-facility-form {
        input[type="submit"] {
            border: unset;
            background-color: transparent;
            color: #1489bc;
        }
    }

    .rejection-text-area {
        width: 100%;
        min-height: 8rem;
    }

    #noPendingFacilitiesTxt, #noRejectedFacilitiesTxt{
        display:none;

        p{
            font-size:16px;
        }
    }
}
