﻿@using Pedagogy.Models.News

@model IEnumerable<CategoryViewModel>

<ul class="list cat-list">
        @foreach (CategoryViewModel category in Model)
        {
            <li id="news-category">
                <a href="@Url.Action("GetArticlesByCategory", "News", new { category = category.Value })">@category.Name</a>
            </li>
        }
    <li class="mt-4 d-flex justify-content-end">
        <a href="@ContentIdentifiers.NEWS_ARTICLES">All News Articles</a>
    </li>
</ul>