﻿@model BaseViewModel<Pedagogy.Models.News.NewsDetailsViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}


@Html.Kentico().EditableArea("news", "Pedagogy.DefaultSection", WidgetHelper.SingleNewsPageWidgets())
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="back-btn mb-5">
                <a href="@ContentIdentifiers.NEWS_ARTICLES"><i class="fa fa-arrow-circle-left"></i> Back to Articles</a>
            </div>
            <div class="col-lg-8 posts-list pe-lg-5">
                <div class="single-post">
                    <div class="feature-img d-flex justify-content-center">
                        <img class="img-fluid" src="@(!string.IsNullOrEmpty(Model.ViewModel.NewsData.NewsImg) ? Url.Kentico().ImageUrl(Model.ViewModel.NewsData.NewsImg, SizeConstraint.Size(360, 240)) : "")" alt="@Model.ViewModel.NewsData.NewsImgAltText">
                    </div>
                    <div class="blog_details text-center px-2 mt-3">
                        <h2>@Model.ViewModel.NewsData.NewsTitle</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            @*<li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>*@
                        </ul>
                        <p class="excert">@Html.Raw(Model.ViewModel.NewsData.NewsText)</p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            @*<span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                                people like this*@
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        @*<ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>*@
                    </div>
                    <div class="navigation-area">
                        <div class="row px-2">

                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                @if (Model.ViewModel.NewsData.PrevNewsArticle != null)
                                {
                                    <div class="thumb">
                                        <a href="@Model.ViewModel.NewsData.PrevNewsArticle.Url">
                                            <img class="img-fluid" src="@Model.ViewModel.NewsData.PrevNewsArticle.NewsImg" alt="@Model.ViewModel.NewsData.PrevNewsArticle.NewsImgAltText">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Model.ViewModel.NewsData.PrevNewsArticle.Url">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <p>Prev Article</p>
                                        <a href="@Model.ViewModel.NewsData.PrevNewsArticle.Url">
                                            <h4>@Model.ViewModel.NewsData.PrevNewsArticle.NewsTitle</h4>
                                        </a>
                                    </div>

                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                @if (Model.ViewModel.NewsData.NextNewsArticle != null)
                                {
                                    <div class="details">
                                        <p>Next Article</p>
                                        <a href="@Model.ViewModel.NewsData.NextNewsArticle.Url">
                                            <h4>@Model.ViewModel.NewsData.NextNewsArticle.NewsTitle</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Model.ViewModel.NewsData.NextNewsArticle.Url">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="@Model.ViewModel.NewsData.NextNewsArticle.Url">
                                            <img class="img-fluid" src="@Model.ViewModel.NewsData.NextNewsArticle.NewsImg" alt="@Model.ViewModel.NewsData.NextNewsArticle.NewsImgAltText">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="blog-author">
                        <div class="media align-items-center">
                            <img src="img/blog/author.png" alt="">
                            <div class="media-body">
                                <a href="#">
                                    <h4>Harvard milan</h4>
                                </a>
                                <p>
                                    Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                    our dominion twon Second divided from
                                </p>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-lg-4 ps-lg-3">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        @Html.Partial("_Categories", Model.ViewModel.Categories)
                    </aside>
                    <aside class="p-3">
                        @Html.Kentico().EditableArea("sidearea")
                    </aside>
                    @*<aside class="single_sidebar_widget search_widget">
            <form action="#">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder='Search Keyword'
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                        <div class="input-group-append">
                            <button class="btn" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary btn-block btn-lg" type="submit">
                    Search
                </button>
            </form>
        </aside>
        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            @Html.Partial("_Categories", Model.ViewModel.Years)
        </aside>
        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>
            <form action="#">
                <div class="form-group">
                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                </div>
                <button class="btn btn-outline-primary btn-block btn-lg" type="submit">
                    Subscribe
                </button>
            </form>
        </aside>*@
                </div>
            </div>
        </div>
    </div>
</section>