﻿@model BaseViewModel<Pedagogy.Models.News.NewsViewModel>

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}

@{
    var allArticlesPaged = Model.ViewModel.PagingInfo.Data.Skip((Model.ViewModel.PagingInfo.CurrentPage - 1) * Model.ViewModel.PagingInfo.ItemsPerPage).Take(Model.ViewModel.PagingInfo.ItemsPerPage);
}

@Html.Kentico().EditableArea("newsArticles")
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0 px-lg-4">
                <div class="blog_left_sidebar mt-3">
                    @if (allArticlesPaged.Count() > 0)
                    {
                        if (Model.ViewModel.SearchData.Query != null && Model.ViewModel.SearchData.Query != "")
                        {
                            <h2 class="mb-5">Results for "@Model.ViewModel.SearchData.Query"</h2>
                        }
                        foreach (var news in allArticlesPaged)
                        {
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <a href="@news.Url" class="blog_item_date">
                                        <h3>@news.Day</h3>
                                        <p>@news.Month, @news.Year</p>
                                    </a>
                                </div>
                                <div class="blog_details p-3">
                                    <a class="d-inline-block" href="@news.Url">
                                        <h2>@news.NewsTitle</h2>
                                    </a>
                                    <p>@Html.Raw(news.NewsSummary)</p>
                                </div>
                            </article>
                        }
                    }
                    else
                    {
                        <h4 class="no-courses">@ResHelper.GetString("NewsArticle.NoMatchingArticles", LocalizationContext.CurrentCulture.CultureCode)</h4>
                    }
                </div>
                <div>
                    @if (Model.ViewModel.PagingInfo.TotalPages > 1)
                    {
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                @for (var i = 0; i < Model.ViewModel.PagingInfo.TotalPages; i++)
                                {
                                    if ((Math.Abs(Model.ViewModel.PagingInfo.CurrentPage - (i + 1)) <= 2))
                                    {
                                        int pageNum = i + 1;
                                        <li class="page-item">
                                            @using (Html.BeginForm("Index", "News", FormMethod.Post))
                                            {
                                                foreach (var item in Model.ViewModel.PagingInfo.Data)
                                                {
                                                    <input type="hidden" name="currentList" value="@item.NewsTitle" />
                                                }
                                                <input type="hidden" name="searchQuery" value="@Model.ViewModel.SearchData.Query" />
                                                <input type="hidden" name="page" value="@pageNum" />
                                                if (pageNum == Model.ViewModel.PagingInfo.CurrentPage)
                                                {
                                                    <button type="submit" class="page-link active">@pageNum</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="page-link">@pageNum</button>
                                                }
                                            }
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
            <div class="col-lg-4 px-lg-5">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        @using (Html.BeginForm("NewsSearch", "Search", FormMethod.Get))
                        {
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword' name="searchtext"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        @Html.Partial("_Categories", Model.ViewModel.Categories)
                    </aside>
                    <aside class="d-flex justify-content-center">
                        @Html.Kentico().EditableArea("sidearea")
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>