﻿@model BaseViewModel<Pedagogy.Models.Checkout.CreateMembershipViewModel>

<div class="checkout-area container my-5 create-membership">
    <div class="my-5">
        <p style="font-size:16px;">@Html.Raw(ResHelper.GetString("Checkout.BuildMembership.Explanation", LocalizationContext.CurrentCulture.CultureCode))</p>
    </div>
    <div class="my-5">
        <h2 class="text-center">Build Your Facility Membership</h2>
    </div>
    <div class="my-4">
        <div class="d-md-flex justify-content-center">
            <label class="my-md-auto me-md-3">Facility:</label>
            @Html.DropDownListFor(m => m.ViewModel.FacilityID, Model.ViewModel.Facilities, "--Select a facility--", new { Class = "form-control", Id = "facility-dropdown" })
        </div>
    </div>
    <div class="err-msg-container my-5"><h4 class="text-danger err-msg"></h4></div>
    @using (Html.BeginForm("CreateMembership", "Checkout", FormMethod.Post, new { Id = "membershipDataForm" }))
    {
        var count = 1;
        <div class="my-5 row">
            <div class="col-12 col-md-6 pe-md-3">
                <div id="memberships">
                    @if (Model.ViewModel.Memberships != null)
                    {
                        for (var i = 0; i < Model.ViewModel.Memberships.Length; i++)
                        {
                            <div class="row" id="membership" data-mem-num="0">
                                @*@if (i != 0)
                                {
                                    <div class="col-2">
                                        <button style="background-color:transparent;border:unset;color:#1489bc;" id="remove-mem-btn">Remove</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-2"></div>
                                }*@
                                <div class="col-12">
                                    <div class="d-flex justify-content-start">
                                        <div class="w-75 m-2">
                                            <h4>Membership Name:</h4>
                                            @Html.TextBoxFor(m => m.ViewModel.Memberships[i].MembershipName, new { Class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ViewModel.Memberships[i].MembershipName, "", new { Class = "text-danger" })
                                        </div>
                                        <div class="w-25 m-2">
                                            <h4>Quantity:</h4>
                                            @Html.TextBoxFor(m => m.ViewModel.Memberships[i].Quantity, new { Class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ViewModel.Memberships[i].Quantity, "", new { Class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="card my-4">
                                        <div class="card-header" id="mem-class-header">
                                            <h4>Classes In This Membership</h4>
                                        </div>
                                        <div class="card-body classes-in-mem">
                                            @if (Model.ViewModel.Memberships[i].MemClassData.Count > 0)
                                            {
                                                foreach (var x in Model.ViewModel.Memberships[i].MemClassData)
                                                {
                                                    <div data-classID="@x.Key" data-skuid="@x.Value[2]" class="d-block m-2 btn btn-outline-primary p-2 membership-class">
                                                        <span>@x.Value[0]</span>
                                                        <br />
                                                        <span class="contact-hours">Contact Hours: @x.Value[1]</span>
                                                        <input type="hidden" value="@x.Key" name="ViewModel.Memberships[@i].ClassIDs" />
                                                    </div>
                                                    count++;
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="row" id="membership" data-mem-num="0">
                            @*<div class="col-2"></div>*@
                            <div class="col-12">
                                <div class="d-flex justify-content-start">
                                    <div class="w-75 m-2">
                                        <h4>Membership Name:</h4>
                                        @Html.TextBoxFor(m => m.ViewModel.Memberships[0].MembershipName, new { Class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ViewModel.Memberships[0].MembershipName, "", new { Class = "text-danger" })
                                    </div>
                                    <div class="w-25 m-2">
                                        <h4>Quantity:</h4>
                                        @Html.TextBoxFor(m => m.ViewModel.Memberships[0].Quantity, new { Class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ViewModel.Memberships[0].Quantity, "", new { Class = "text-danger" })
                                    </div>
                                </div>
                                <div class="card my-4">
                                    <div class="card-header" id="mem-class-header">
                                        <h4>Classes In This Membership</h4>
                                    </div>
                                    <div class="card-body classes-in-mem"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div class="mt-auto float-end">
                        <button id="new-mem" type="button" class="btn btn-outline-secondary">New Membership</button>
                    </div>*@
            </div>
            <div class="col-12 col-md-6 ps-md-2 order-first order-md-last">
                <div>
                    <div class="card my-3">
                        <div class="card-header" id="mem-class-header">
                            <h4>Membership Type</h4>
                        </div>
                        <div class="card-body">
                            @Html.DropDownListFor(m => m.ViewModel.MembershipCategory, Model.ViewModel.MembershipCategories, "", new { Class = "form-control", Id = "mem-type" })
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-header" id="mem-class-header">
                            <h4>Available Classes</h4>
                        </div>
                        <div class="card-body" id="available-classes"></div>
                        <div class="d-flex justify-content-center pb-3">
                            <nav aria-label="pagination">
                                <ul id="available-classes-pagination" class="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <a class="btn btn-secondary" href="@Url.Action("CancelMembershipTransaction", "Checkout")">Cancel Membership Transaction</a>
            <input type="submit" class="btn btn-primary ms-3 ms-md-auto" value="Delivery Details" />
        </div>
        <input type="hidden" value="@Model.ViewModel.PageSize" id="memPageSize" />
    }
    <div class="contact-hour-warning-modal modal confirmation-modal" style="display:none;z-index:15;">
        <div class="modal-content">
            <span class="close align-self-end" id="close">&times;</span>
            <div class="p-4" id="warning-text"></div>
        </div>
    </div>
    <div class="modal confirmatin-modal" id="creatingMembershipLoadingModal">
        <div class="modal-content">
            <div class="text-center my-4"><span>Building Membership</span><i class="fa fa-spinner fa-spin ms-2"></i></div>
        </div>
    </div>
</div>
