﻿@using CMS.Ecommerce;

@model BaseViewModel<Pedagogy.Models.Checkout.DeliveryDetailsViewModel>

@{
    Html.EnableClientValidation(true);
}

<div class="checkout-area container mt-5 mb-5">
    @using (Html.BeginForm("DeliveryDetails", "Checkout", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { Class = "text-danger" })
        <div class="invisible">
            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="mb-3">Customer Details</h2>
                <div class="row">
                    <div class="col-12 col-md-3 my-2 my-md-0">
                        <div class="form-group mx-3">
                            @Html.LabelFor(m => m.ViewModel.Customer.FirstName) <br />
                            @Html.EditorFor(m => m.ViewModel.Customer.FirstName, new { htmlAttributes = new { Class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.ViewModel.Customer.FirstName, "", new { Class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3 my-2 my-md-0">
                        <div class="form-group mx-3">
                            @Html.LabelFor(m => m.ViewModel.Customer.LastName) <br />
                            @Html.EditorFor(m => m.ViewModel.Customer.LastName, new { htmlAttributes = new { Class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.ViewModel.Customer.LastName, "", new { Class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-12 col-md-5 my-2 my-md-0">
                        <div class="form-group mx-3">
                            @Html.LabelFor(m => m.ViewModel.Customer.Email) <br />
                            @Html.EditorFor(m => m.ViewModel.Customer.Email, new { htmlAttributes = new { Class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.ViewModel.Customer.Email, "", new { Class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.ViewModel.Customer.PhoneNumber) <br />
                    @Html.EditorFor(m => m.ViewModel.Customer.PhoneNumber, new { htmlAttributes = new { Class = "form-control" } })
                </div>*@
            </div>
        </div>
        <div class="row mb-3">
            <h2 class="mb-3">Billing Address</h2>
            <div class="row" data-addresstype='BillingAddress' data-fields='["Line1", "Line2", "City", "PostalCode"]'>
                <div class="js-address-selector-div ms-md-3 ms-lg-0 px-2" data-statelistaction='@Url.Action("CustomerAddress", "Checkout")'>
                    @Html.DropDownListFor(m => m.ViewModel.BillingAddress.AddressID, Model.ViewModel.BillingAddress.Addresses, new { Class = "form-control js-address-selector" })
                    <div class="message message-error">
                        @Html.ValidationMessageFor(m => m.ViewModel.BillingAddress.AddressID)
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-lg-4">
                    <div class="form-group p-2">
                        @Html.LabelFor(m => m.ViewModel.BillingAddress.Line1) <br />
                        @Html.EditorFor(m => m.ViewModel.BillingAddress.Line1, new { htmlAttributes = new { Class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.ViewModel.BillingAddress.Line1, "", new { Class = "text-danger" })
                    </div>
                    <div class="form-group p-2">
                        @Html.LabelFor(m => m.ViewModel.BillingAddress.Line2) <br />
                        @Html.EditorFor(m => m.ViewModel.BillingAddress.Line2, new { htmlAttributes = new { Class = "form-control" } })
                    </div>
                    <div class="form-group p-2">
                        @Html.LabelFor(m => m.ViewModel.BillingAddress.City) <br />
                        @Html.EditorFor(m => m.ViewModel.BillingAddress.City, new { htmlAttributes = new { Class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.ViewModel.BillingAddress.City, "", new { Class = "text-danger" })
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-lg-4">
                    <div class="form-group p-2">
                        @Html.LabelFor(m => m.ViewModel.BillingAddress.PostalCode) <br />
                        @Html.EditorFor(m => m.ViewModel.BillingAddress.PostalCode, new { htmlAttributes = new { Class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.ViewModel.BillingAddress.PostalCode, "", new { Class = "text-danger" })
                    </div>
                    <div class="js-country-state-selector p-2" data-statelistaction='@Url.Action("CountryStates", "Checkout")' data-countryselectedid='@Model.ViewModel.BillingAddress.CountryID' data-stateselectedid='@Model.ViewModel.BillingAddress.StateID' data-countryfield='CountryID' data-statefield='StateID'>
                        @Html.LabelFor(m => m.ViewModel.BillingAddress.CountryID) <br />
                        @Html.DropDownListFor(m => m.ViewModel.BillingAddress.CountryID, Model.ViewModel.BillingAddress.Countries, new { Class = "form-control js-country-selector" })
                        <div class="js-state-selector-container pt-3">
                            @Html.LabelFor(m => m.ViewModel.BillingAddress.StateID) <br />
                            @Html.DropDownListFor(m => m.ViewModel.BillingAddress.StateID, Enumerable.Empty<SelectListItem>(), new { Class = "form-control js-state-selector" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns d-flex mt-5">
            @if (Model.ViewModel.CreateMembership)
            {
                <a href="@Url.Action("CreateMembership", "Checkout")" class="btn btn-secondary me-auto">Back To Create Membership</a>
            }
            else
            {
                <a href="@Url.Action("ShoppingCart", "Checkout")" class="btn btn-secondary me-auto">Back To Cart</a>
            }
            @if (Model.ViewModel.ShowCancelFacilityTransactionBtn)
            {
                <a href="@Url.Action("CancelFacilityTransaction", "Checkout")" class="btn btn-secondary">Cancel Facility Transaction</a>
            }
            @if (Model.ViewModel.CreateMembership)
            {
                <a href="@Url.Action("CancelMembershipTransaction", "Checkout")" class="btn btn-secondary">Cancel Membership Transaction</a>
            }
            <input type="submit" value="Review & Pay" class="btn btn-primary ms-auto" />
        </div>
    }
</div>