﻿@using Pedagogy.Models.Checkout;
@using CMS.Globalization;
@using CMS.Ecommerce;

@model BaseViewModel<PreviewAndPayViewModel>

<div class="checkout-area container mt-5 mb-5">
    @if (Model.ViewModel.ShowOver200StaffPopup)
    {
        <div class="max-facility-staff-discount mb-5 text-center">
            <p>@Html.Raw(ResHelper.GetString("Checkout.BuildMembership.Over200StaffWarning", LocalizationContext.CurrentCulture.CultureCode))</p>
        </div>
    }
    <div class="row">
        <div class="col-md-6 col-12 mb-4 mb-md-0 px-0 px-md-3">
            <div id="customerDetails">
                <h2 class="text-center">Customer Details</h2>
                <div class="d-flex justify-content-center mt-3">
                    <div class="px-2">
                        @Html.LabelFor(m => m.ViewModel.DeliveryDetails.Customer.FirstName):
                        @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.Customer.FirstName)
                    </div>
                    <div class="px-2">
                        @Html.LabelFor(m => m.ViewModel.DeliveryDetails.Customer.LastName):
                        @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.Customer.LastName)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 px-0 px-md-3">
            <div id="billing-details">
                <div class="row mb-3">
                    <h2 class="text-center">Billing Details</h2>
                </div>
                <div class="row">
                    <div class="col-6 px-2">
                        <div class="py-2">
                            @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.Line1):
                            @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.BillingAddress.Line1)
                        </div>
                        <div class="py-2">
                            @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.City):
                            @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.BillingAddress.City)
                        </div>
                        @if (Model.ViewModel.DeliveryDetails.BillingAddress.StateID > 0)
                        {
                            <div class="py-2">
                                @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.StateID):
                                @Html.Raw(StateInfoProvider.GetStateInfo(Model.ViewModel.DeliveryDetails.BillingAddress.StateID).StateDisplayName.ToString())
                            </div>
                        }
                    </div>
                    <div class="col-6 px-2">
                        @if (!string.IsNullOrEmpty(Model.ViewModel.DeliveryDetails.BillingAddress.Line2))
                        {
                            <div class="py-2">
                                @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.Line2):
                                @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.BillingAddress.Line2)
                            </div>
                        }
                        <div class="py-2">
                            @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.PostalCode):
                            @Html.DisplayFor(m => m.ViewModel.DeliveryDetails.BillingAddress.PostalCode)
                        </div>
                        <div class="py-2">
                            @Html.LabelFor(m => m.ViewModel.DeliveryDetails.BillingAddress.CountryID):
                            @if (Model.ViewModel.DeliveryDetails.BillingAddress.CountryID != 0)
                            {
                                @Html.Raw(CountryInfoProvider.GetCountryInfo(Model.ViewModel.DeliveryDetails.BillingAddress.CountryID).CountryDisplayName.ToString())
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.ViewModel.IsMembershipPurchase)
        {
            <div id="cartContent" class="row mt-5">
                <div class="row">
                    <h2>Ordered Memberships</h2>
                    @foreach (var i in Model.ViewModel.Memberships)
                    {
                        <div class="my-5 col-12">
                            <h3>@i.MembershipName - Qty. @i.Quantity</h3>
                            <ul class="mem-classes">
                                @foreach (var cartItem in i.CartItemData)
                                {
                                    <li>
                                        <div class="">
                                            <div class="pt-3 pb-1">
                                                <h5 class="course-title">@cartItem.SKUName</h5>
                                                @*<div class="course-price">
                                                        <h5>@String.Format(Model.ViewModel.Cart.CurrencyFormatString, cartItem.TotalPrice)</h5>
                                                    </div>*@
                                            </div>
                                            @foreach (var x in cartItem.CurrentCart)
                                            {
                                                if (x.IsProductOption && x.ParentProduct.SKUID == cartItem.SKUID && x.TotalPrice != 0)
                                                {
                                                    var itemInfo = ShoppingCartItemInfoProvider.GetShoppingCartItemInfo(x.CartItemID);
                                                    <div class="pl-5">
                                                        <h5 class="course-title">Additional Print Option</h5>
                                                        @*<div class="course-price">
                                                                <h5>@String.Format(Model.ViewModel.Cart.CurrencyFormatString, x.TotalPrice)</h5>
                                                            </div>*@
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <hr class="mt-3" />
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                @*@if (Model.ViewModel.RegularCourses.Count() > 0)
                    {
                        <div class="my-4">
                            <h2>Ordered Courses</h2>
                            <ul>
                                @foreach (ShoppingCartItemViewModel cartItem in Model.ViewModel.RegularCourses)
                                {
                                    <li>
                                        <div class="">
                                            <div class="pt-3 pb-1">
                                                <h5 class="course-title">@cartItem.SKUName</h5>
                                                @if (cartItem.CartItemUnits > 1)
                                                {
                                                    <h5 class="d-inline-block ms-5">Qty. @cartItem.CartItemUnits</h5>
                                                }
                                                <div class="course-price">
                                                    <h5>@String.Format(Model.ViewModel.Cart.CurrencyFormatString, cartItem.TotalPrice)</h5>
                                                </div>
                                            </div>
                                            @foreach (var x in cartItem.CurrentCart)
                                            {
                                                if (x.IsProductOption && x.ParentProduct.SKUID == cartItem.SKUID && x.TotalPrice != 0)
                                                {
                                                    var itemInfo = ShoppingCartItemInfoProvider.GetShoppingCartItemInfo(x.CartItemID);
                                                    <div class="pl-5">
                                                        <h5 class="course-title">Additional Print Option</h5>
                                                        <div class="course-price">
                                                            <h5>@String.Format(Model.ViewModel.Cart.CurrencyFormatString, x.TotalPrice)</h5>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <hr class="mt-3" />
                                    </li>
                                }
                            </ul>
                        </div>
                    }*@
            </div>
        }
        else
        {
            <div id="cartContent" class="row mt-5">
                <h2 class="text-center text-lg-start">Ordered Courses</h2>
                <ul class="ms-0">
                    @foreach (ShoppingCartItemViewModel cartItem in Model.ViewModel.Cart.CartItems)
                    {
                        <li>
                            <div>
                                <div class="pt-3 pb-3 pb-md-1 row">
                                    <div class="col-10 ps-2 d-lg-flex just-content-lg-start">
                                        <h5>@cartItem.SKUName</h5>
                                        @if (cartItem.CartItemUnits > 1)
                                        {
                                            <h5 class="d-inline-block ms-5">Qty. @cartItem.CartItemUnits</h5>
                                        }
                                    </div>
                                    <div class="col-2">
                                        <h5 class="text-lg-end">@String.Format(Model.ViewModel.Cart.CurrencyFormatString, cartItem.TotalPrice)</h5>
                                    </div>
                                </div>
                                @foreach (var x in cartItem.CurrentCart)
                                {
                                    if (x.IsProductOption && x.ParentProduct.SKUID == cartItem.SKUID && x.TotalPrice != 0)
                                    {
                                        var itemInfo = ShoppingCartItemInfoProvider.GetShoppingCartItemInfo(x.CartItemID);
                                        <div class="row ps-4 ps-lg-5 mt-lg-2">
                                            <div class="col-10">
                                                <h5>Additional Print Option</h5>
                                            </div>
                                            <div class="col-2">
                                                <h5 class="text-lg-end">@String.Format(Model.ViewModel.Cart.CurrencyFormatString, x.TotalPrice)</h5>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <hr class="mt-3" />
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-12 text-center text-lg-start">
            @if (!Model.ViewModel.IsMembershipPurchase)
            {
                <h4>Coupon Codes</h4>
                <div class="mb-2">
                    @using (Html.BeginForm("AddCouponCode", "Checkout", FormMethod.Post))
                    {
                        <input type="text" name="CouponCode" />
                        <input type="submit" class="btn btn-primary mt-2" value="Apply" />
                    }
                </div>
                @Html.ValidationMessage("CouponCodeError")
                <ul>
                    @foreach (string couponCode in Model.ViewModel.CouponCodes)
                    {
                        if (!couponCode.Contains(ContentIdentifiers.TEMP_FACILITY_MEMBERSHIP_DISCOUNT_COUPON_CODE))
                        {
                            <li>
                                <h4 class="coupon-name">@couponCode</h4>
                                @using (Html.BeginForm("RemoveCouponCode", "Checkout", FormMethod.Post, new { Class = "remove-coupon-btn" }))
                                {
                                    <input type="hidden" name="CouponCode" value="@couponCode" />
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Remove" />
                                }
                            </li>
                        }
                    }
                </ul>
            }
        </div>
        <div class="col-lg-9 col-12 mt-4 mt-lg-0">
            <div class="float-end">
                @if (!Model.ViewModel.FreeCourse)
                {
                    using (Html.BeginForm("PreviewAndPay", "Checkout", FormMethod.Post))
                    {
                        <div class="invisible">
                            @Html.Hidden("orderId", Model.ViewModel.Cart.OrderId)
                            @Html.Hidden("baseNodeJson", Json.Encode(Model.BaseNodeData))
                            @Html.HiddenFor(m => m.ViewModel.DeliveryDetails.Customer.FirstName)
                            @Html.HiddenFor(m => m.ViewModel.DeliveryDetails.Customer.LastName)
                        </div>
                        <div id="shoppingCartTotals" class="mb-5 text-center">
                            @if (Model.ViewModel.Cart.CouponValueTotals != 0)
                            {
                                <h4>Discounts: - @String.Format(Model.ViewModel.Cart.CurrencyFormatString, Model.ViewModel.Cart.CouponValueTotals)</h4>
                            }
                            <h3>Grand Total: @String.Format(Model.ViewModel.Cart.CurrencyFormatString, Model.ViewModel.Cart.GrandTotal)</h3>
                        </div>
                        <div id="card-details">
                            <h2>Payment Information</h2>
                            @if (Model.ViewModel.CardErrors.Count != 0)
                            {
                                <div class="row px-4">
                                    <div class="text-danger mb-3 p-3">
                                        @foreach (var i in Model.ViewModel.CardErrors)
                                        {
                                            <div class="ms-5">@i</div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (!Model.ViewModel.IsStudentPurchase)
                            {
                                <div class="row py-3 px-3 px-md-4 d-flex justify-content-center">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ViewModel.PaymentMethod.PaymentMethodID)
                                        @Html.DropDownListFor(m => m.ViewModel.PaymentMethod.PaymentMethodID, Model.ViewModel.PaymentMethod.PaymentMethods, new { Class = "form-control w-50", Id = "payment-method-dropdown" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(x => x.ViewModel.PaymentMethod.PaymentMethodID)
                            }
                            <div class="row px-3">
                                <div class="@(Model.ViewModel.IsFacilityPurchase ? "col-md-6 col-12 px-0 px-md-3" : "col-12")" id="card-info">
                                    <div id="card-payment-method">
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(m => m.ViewModel.CardInfo.CardNo, "", new { Class = "text-danger" }) <br />
                                            @Html.LabelFor(m => m.ViewModel.CardInfo.CardNo) <br />
                                            @Html.EditorFor(m => m.ViewModel.CardInfo.CardNo, new { htmlAttributes = new { Class = "form-control" } })
                                        </div>
                                        <div class="form-group row mb-3">
                                            <div class="col-lg-8 col-sm-12 mt-4">
                                                @Html.Label("Expiration Date") <br />
                                                @Html.DropDownListFor(m => m.ViewModel.CardInfo.Month, Enumerable.Range(1, 12).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), new { Class = "form-control" })
                                                @Html.DropDownListFor(m => m.ViewModel.CardInfo.Year, Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Value = x.ToString(), Text = x.ToString() }), new { Class = "form-control w-50 d-inline" })
                                            </div>
                                            <div class="col-lg-4 col-sm-12">
                                                @Html.ValidationMessageFor(m => m.ViewModel.CardInfo.CVVCode, "", new { Class = "text-danger" }) <br />
                                                @Html.LabelFor(m => m.ViewModel.CardInfo.CVVCode) <br />
                                                @Html.EditorFor(m => m.ViewModel.CardInfo.CVVCode, new { htmlAttributes = new { Class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.ViewModel.IsFacilityPurchase)
                                {
                                    <div class="col-md-6 col-12 px-0 px-md-3" id="facility-info-col">
                                        <div id="facility-info">
                                            <div class="mt-3" style="max-width:300px;">
                                                <span>@Html.Raw(ResHelper.GetString("Checkout.PreviewAndPay.FacilityPaymentWarningMsg", LocalizationContext.CurrentCulture.CultureCode))</span>
                                            </div>
                                            <div>
                                                @*add facility pay off number*@
                                            </div>
                                            <div>
                                                @Html.ValidationMessageFor(m => m.ViewModel.FacilityPODetails.FacilityName, "", new { Class = "text-danger" }) <br />
                                                @Html.LabelFor(m => m.ViewModel.FacilityPODetails.FacilityName)
                                                @Html.TextBoxFor(m => m.ViewModel.FacilityPODetails.FacilityName, new { Class = "form-control" })
                                            </div>
                                            <div class="mt-3">
                                                @Html.ValidationMessageFor(m => m.ViewModel.FacilityPODetails.FacilityCode, "", new { Class = "text-danger" }) <br />
                                                @Html.LabelFor(m => m.ViewModel.FacilityPODetails.FacilityCode)
                                                @Html.TextBoxFor(m => m.ViewModel.FacilityPODetails.FacilityCode, new { Class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <div class="row">
                                <div class="d-flex mt-3 mb-2">
                                    @if (Model.ViewModel.FacilityPurchaser)
                                    {
                                        <label>@Html.CheckBoxFor(m => m.ViewModel.IsFacilityPurchase, new { Class = "mt-3 ms-3", Id = "facility-purchaser-checkbox" }) Facility Purchase?</label>
                                    }
                                    <input type="submit" class="btn btn-primary mt-3 me-3 ms-auto" value="Place Order" />
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-start mt-4">
            <a href="@Url.Action("DeliveryDetails", "Checkout")" class="btn btn-secondary">Back To Details</a>
            @if (Model.ViewModel.ShowCancelFacilityTransactionBtn)
            {
                <div class="ms-3">
                    <a href="@Url.Action("CancelFacilityTransaction", "Checkout")" class="btn btn-secondary">Cancel Facility Transaction</a>
                </div>
            }
            @if (Model.ViewModel.IsMembershipPurchase)
            {
                <div class="ms-3">
                    <a href="@Url.Action("CancelMembershipTransaction", "Checkout")" class="btn btn-secondary">Cancel Membership Transaction</a>
                </div>
            }
            @if (Model.ViewModel.FreeCourse)
            {
                <a class="btn btn-primary ms-auto" href="@Url.Action("AddFreeCourses", "Checkout")">Add Course@(Model.ViewModel.Cart.CartItems.Count() > 1 ? "s" : "") to Dashboard</a>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#payment-method-dropdown").change(function () {
            $(this).find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue == 1) {
                    $("#card-payment-method").show();
                    $("#pay-off-method").hide();
                    $("#facility-info-col").switchClass("col-lg-12 col-md-12", "col-lg-6 col-md-6");
                    $("#payment-method-dropdown").switchClass("w-50", "w-100");
                }
                else if (optionValue == 2) {
                    $("#card-payment-method").hide();
                    $("#pay-off-method").show();
                    $("#facility-info-col").switchClass("col-lg-6 col-md-6", "col-lg-12 col-md-12");
                    $("#payment-method-dropdown").switchClass("w-50", "w-100");
                }
            });
        });

        $(document).ready(function () {
            $("#payment-method-dropdown").find("option:selected").each(function () {
                var optionValue = $(this).attr("value");
                if (optionValue == 1) {
                    $("#card-payment-method").show();
                    $("#pay-off-method").hide();
                    $("#facility-info-col").switchClass("col-lg-12 col-md-12", "col-lg-6 col-md-6");
                    $("#payment-method-dropdown").switchClass("w-50", "w-100");
                }
                else if (optionValue == 2) {
                    $("#card-payment-method").hide();
                    $("#pay-off-method").show();
                    $("#facility-info-col").switchClass("col-lg-6 col-md-6", "col-lg-12 col-md-12");
                    $("#payment-method-dropdown").switchClass("w-50", "w-100");
                }
            });

            $("#facility-purchaser-checkbox").click(function () {
                if (this.checked) {
                    $("#facility-info").show();
                    $("#card-info").switchClass("col-lg-12 col-md-12", "col-lg-6 col-md-6");
                }
                else {
                    $("#facility-info").hide();
                    $("#card-info").switchClass("col-lg-6 col-md-6", "col-lg-12 col-md-12");
                }
            });
        });
    </script>
}