﻿@using Pedagogy.Models.Checkout;
@using CMS.Ecommerce;

@model BaseViewModel<ShoppingCartViewModel>

<div class="checkout-area container mt-5 mb-5">
    @if (!Model.ViewModel.IsEmpty)
    {
        <div class="d-flex justify-content-center my-4">
            <p>@ResHelper.GetString("Checkout.ShoppingCart.PrintOptionExplanation", LocalizationContext.CurrentCulture.CultureCode)</p>
        </div>
    }
<div class="row">
    <h2 class="m-2">Your Shopping Cart</h2>
    @if (Model.ViewModel.IsEmpty)
    {
        <span class="m-5">Your shopping cart is empty.</span>
        <a href="@Url.Action("Index", "Product")" class="cont-shopping btn btn-outline-primary mt-4 mb-2">Continue shopping</a>
    }
    else
    {
        <div class="d-flex mt-4 mb-3 justify-content-center justify-content-lg-start">
            <div class="me-md-auto my-auto mx-2">
                <a href="@Url.Action("Index", "Product")" class="btn btn-outline-primary">Continue shopping</a>
            </div>
            <div class="my-auto mx-2">
                <a href="@Url.Action("RemoveAllItems", "Checkout")" class="btn btn-outline-primary">Remove all courses</a>
            </div>
        </div>
        <ul class="mt-4 mb-3 ms-0 px-2 px-md-0 d-none d-md-block" id="desktopCartItems">
            @foreach (ShoppingCartItemViewModel cartItem in Model.ViewModel.CartItems)
            {
                <li class="cartItems d-flex pt-4 pb-1 justify-content-center justify-content-lg-start" id="cartItems">
                    <div class="me-auto">
                        <h4 class="d-inline">@cartItem.SKUName</h4>
                        @using (Html.BeginForm("RemoveItem", "Checkout", FormMethod.Post, new { Class = "d-inline ms-2" }))
                        {
                            @Html.Hidden("itemUnits", 0)
                            @Html.Hidden("itemId", cartItem.CartItemID)
                            <button type="submit" class="delete-course-from-cart"><i class="fa fa-trash"></i></button>
                        }
                        @if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE) || cartItem.CartItemUnits > 1)
                        {
                            <div class="ms-4 mt-3">
                                <label>Qty. </label>
                                @using (Html.BeginForm("UpdateItem", "Checkout", FormMethod.Post, new { Class = "d-inline" }))
                                {
                                    <input type="hidden" name="itemId" value="@cartItem.CartItemID" />
                                    <input type="number" name="itemUnits" value="@cartItem.CartItemUnits" id="itemUnits" class="qty-box" />
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Update" />
                                }
                            </div>
                        }
                    </div>
                    <div id="update-option" class="me-2">
                        @if (cartItem.Options != null)
                        {
                            foreach (var item in cartItem.Options)
                            {
                                using (Html.BeginForm("UpdateOption", "Checkout", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    if (item.SKUPrice != 0)
                                    {
                                        <h5><b>Print</b></h5>
                                        <div class="js-postback">
                                            @{
                                                var itemInfo = new ShoppingCartItemInfo();
                                                var optSkuInfo = new SKUInfo();
                                                foreach (var x in cartItem.CurrentCart)
                                                {
                                                    if (x.IsProductOption)
                                                    {
                                                        optSkuInfo = SKUInfoProvider.GetSKUInfo(x.SKUID);
                                                    }
                                                    if (x.IsProductOption && x.ParentProduct.SKUID == cartItem.SKUID && x.TotalPrice != 0)
                                                    {
                                                        itemInfo = ShoppingCartItemInfoProvider.GetShoppingCartItemInfo(x.CartItemID);

                                                    }
                                                }
                                            }
                                            @if (itemInfo.IsProductOption && itemInfo.ParentProduct.SKUID == cartItem.SKUID && optSkuInfo.SKUPrice != 0)
                                            {
                                                <input type="checkbox" name="optionSkuid" value="@itemInfo.SKUID" checked />
                                                @String.Format(cartItem.CurrencyFormatString, optSkuInfo.SKUPrice)
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="optionSkuid" value="@item.SKUID" />
                                                @String.Format(cartItem.CurrencyFormatString, item.SKUPrice)
                                            }
                                            <input type="hidden" name="itemSkuid" value="@cartItem.SKUID" />
                                            <input type="hidden" name="itemUnits" value="@cartItem.CartItemUnits" />
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="ms-4">
                        <h4>@String.Format(cartItem.CurrencyFormatString, cartItem.TotalPrice)</h4>
                    </div>
                </li>
                <hr class="mt-1" />
            }
        </ul>
        <ul class="mt-4 mb-3 ms-0 px-2 px-md-0 d-md-none" id="mobileCartItems">
            @foreach (ShoppingCartItemViewModel cartItem in Model.ViewModel.CartItems)
            {
            <li class="cartItems pt-4 pb-1" id="cartItems">
                <div class="me-auto">
                    <h4 class="d-inline">@cartItem.SKUName</h4>
                    @using (Html.BeginForm("RemoveItem", "Checkout", FormMethod.Post, new { Class = "d-inline ms-2" }))
                    {
                        @Html.Hidden("itemUnits", 0)
                        @Html.Hidden("itemId", cartItem.CartItemID)
                        <button type="submit" class="delete-course-from-cart"><i class="fa fa-trash"></i></button>
                    }
                </div>
                <div class="d-flex justify-content-evenly my-4">
                    @if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE) || cartItem.CartItemUnits > 1)
                    {
                        <div class="ms-4 mt-3">
                            <label>Qty. </label>
                            @using (Html.BeginForm("UpdateItem", "Checkout", FormMethod.Post, new { Class = "d-inline" }))
                            {
                                <input type="hidden" name="itemId" value="@cartItem.CartItemID" />
                                <input type="number" name="itemUnits" value="@cartItem.CartItemUnits" id="itemUnits" class="qty-box" />
                                <input type="submit" class="btn btn-outline-primary btn-sm" value="Update" />
                            }
                        </div>
                    }
                    <div id="update-option" class="me-2 ms-auto">
                        @if (cartItem.Options != null)
                        {
                            foreach (var item in cartItem.Options)
                            {
                                using (Html.BeginForm("UpdateOption", "Checkout", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    if (item.SKUPrice != 0)
                                    {
                                        <h5><b>Print</b></h5>
                                        <div class="js-postback">
                                            @{
                                                var itemInfo = new ShoppingCartItemInfo();
                                                var optSkuInfo = new SKUInfo();
                                                foreach (var x in cartItem.CurrentCart)
                                                {
                                                    if (x.IsProductOption)
                                                    {
                                                        optSkuInfo = SKUInfoProvider.GetSKUInfo(x.SKUID);
                                                    }
                                                    if (x.IsProductOption && x.ParentProduct.SKUID == cartItem.SKUID && x.TotalPrice != 0)
                                                    {
                                                        itemInfo = ShoppingCartItemInfoProvider.GetShoppingCartItemInfo(x.CartItemID);

                                                    }
                                                }
                                            }
                                            @if (itemInfo.IsProductOption && itemInfo.ParentProduct.SKUID == cartItem.SKUID && optSkuInfo.SKUPrice != 0)
                                            {
                                                <input type="checkbox" name="optionSkuid" value="@itemInfo.SKUID" checked />
                                                @String.Format(cartItem.CurrencyFormatString, optSkuInfo.SKUPrice)
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="optionSkuid" value="@item.SKUID" />
                                                @String.Format(cartItem.CurrencyFormatString, item.SKUPrice)
                                            }
                                            <input type="hidden" name="itemSkuid" value="@cartItem.SKUID" />
                                            <input type="hidden" name="itemUnits" value="@cartItem.CartItemUnits" />
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <h4>@String.Format(cartItem.CurrencyFormatString, cartItem.TotalPrice)</h4>
                </div>
            </li>
                <hr class="mt-1" />
            }
        </ul>
        <div class="checkout-actions mb-3 mt-5" id="update-total">
            <h4 id="grandTotal">Total: @String.Format(Model.ViewModel.CurrencyFormatString, Model.ViewModel.GrandTotal)</h4>
        </div>
        <div>
            @*@if (User.IsInRole(ContentIdentifiers.FACILITY_PURCHASER_ROLE))
                {
                    using (Html.BeginForm("ShoppingCartCheckout", "Checkout", FormMethod.Post, new { Class = "d-flex" }))
                    {
                        <label>@Html.CheckBox("isFacilityMem", Model.ViewModel.CreateMemership) Create Membership?</label>
                        <input type="submit" class="btn btn-primary mt-2 ms-auto" value="Checkout" />
                    }
                }
                else
                {*@
            @using (Html.BeginForm("ShoppingCartCheckout", "Checkout", FormMethod.Post, new { Class = "d-flex" }))
            {
                <input type="submit" class="btn btn-primary mt-2 ms-auto" value="Checkout" />
            }
            @*}*@
            @if (Model.ViewModel.ShowCancelFacilityTransactionBtn)
            {
                <div class="mt-3 d-flex">
                    <a href="@Url.Action("CancelFacilityTransaction", "Checkout")" class="btn btn-secondary ms-auto">Cancel Facility Transaction</a>
                </div>
            }
        </div>
    }
</div>
</div>

@section scripts{
    <script>
        $(".js-postback input:checkbox").updateOption({ targetContainerSelector: "#buy-print-version" });
    </script>
}

