﻿@model BaseViewModel<Pedagogy.Models.Checkout.ThankYouViewModel>

@{
    Html.EnableClientValidation(true);
}

<div class="checkout-area container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-12 px-2 px-md-4">
            <h2>Thank you</h2>
            <p>Your order was succesfully created!</p>
            <p><strong>Invoice Number:</strong> @Model.ViewModel.InvoiceNumber</p>
            <a href="@Url.Content(ContentIdentifiers.DASHBOARD)" class="get-started-btn btn btn-primary mt-3">Get Started!</a>
        </div>
        <div class="col-lg-4 col-md-5 col-12 px-2 px-md-4">
            <div class="mb-5"><h3>@Model.ViewModel.SuccessMessage</h3></div>
            <label class="mt-3"><input type="checkbox" id="email-checkbox" /> Email receipt to others</label>
            <div id="extra-emails-form" style="display:none;">
                @using (Html.BeginForm("EmailExtraPeople", "Checkout"))
                {
                    @Html.Hidden("orderID", Request.QueryString["orderID"])
                    <div class="row">
                        <div class="col-10">
                            <div id="emails">
                                <div>
                                    @Html.ValidationMessageFor(m => m.ViewModel.Email, "", new { Class = "mt-2 text-danger" }) <br />
                                    @Html.TextBoxFor(m => m.ViewModel.Email, new { Class = "form-control", Placeholder = "Email", Name = "emails[]" })
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex mt-auto mb-2">
                            <div>
                                <button type="button" id="add-email-input"><i class="fa fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Send Email" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#email-checkbox").on("click", function () {
            var checkbox = document.getElementById("email-checkbox");
            if (checkbox.checked) {
                $("#extra-emails-form").css("display", "block");
            }
            else {
                $("#extra-emails-form").css("display", "none");
            }
        });

        $("#add-email-input").on("click", function () {
            $("#emails").append(
                        `<div id="email">
                            <button type="button" id="remove-btn">
                                <i class="fa fa-minus-circle"></i>
                            </button>
                            @Html.ValidationMessageFor(m => m.ViewModel.Email, "", new { Class = "mt-2 text-danger" }) <br />
                            @Html.TextBoxFor(m => m.ViewModel.Email, new { Class = "form-control", Placeholder = "Email", Name = "emails[]" })                             
                        </div>`
            );
        });

        $(document).on('click', '#remove-btn', function () {
            $(this).closest('#email').remove();
        });
    </script>
}